# Create VIEWs on SEC DERA data by LEI

## Full-year FY REVENUES, INCOME

## Point-in-time FLOAT, DEBT, CASH, ASSETS, (EV = FLOAT + DEBT - CASH, EVIC = FLOAT + DEBT)

In [1]:
import os
import pathlib
from dotenv import load_dotenv

# Load some standard environment variables from a dot-env file, if it exists.
# If no such file can be found, does not fail, and so allows these environment vars to
# be populated in some other way
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

Set session variable CATALOG to make query terms much more compact

In [2]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

import pandas as pd

In [3]:
from osc_ingest_trino import *

trino_bucket = attach_s3_bucket("S3_DEV")

In [4]:
for tbl in ['t_r', 't_f', 't_d', 't_c', 't_a']:
    qres = engine.execute(f"drop table if exists sec_dera.{tbl}")
    print(qres.fetchall())

[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]

### FX

Many public companies are non-US companies or report facts in units of measurement other than USD.  We build a small table of market knowledge so that we can do foreign exchange (FX) calculations.

In [5]:
sql = ("""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from sec_dera.num
where ddate>=DATE('2019-01-01')
      and (tag='ClosingForeignExchangeRate' or tag='ForeignCurrencyExchangeRateTranslation1')
      and qtrs=0 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_closing_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_closing_fx)

sql = ("""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from sec_dera.num
where ddate>=DATE('2019-01-01')
      and tag='AverageForeignExchangeRate'
      and qtrs=4 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_average_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_average_fx)

In [6]:
import re

def create_fx_dict(df):
    """From a list of FX pairs or non-USD (presumed to convert to USD) FX rates by dates, return a dictionary of FX rates by dates"""
    df_gbp = df[df.uom.str.contains('GBP', flags=re.I)]
    df_eur = df[df.uom.str.contains('EUR', flags=re.I)]
    df_other = df[~df.uom.str.contains('(GBP)|(EUR)', flags=re.I)]
    
    fx_input = {'GBP': df_gbp, 'EUR': df_eur }

    fx_df = {}

    for fx in ['GBP', 'EUR']:
        df_base = fx_input[fx].loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = fx_input[fx].loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'to_USD', 'minval':'from_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    for fx in list({x[int(x[-1]=='USD')-1].upper():x[int(x[0]=='USD')-1].upper() for x in df_other.uom.str.split(r'[-_/]').values }.keys()):
        df_other_fx = df_other[df_other.uom.str.contains(fx, flags=re.I)]
        df_base = df_other_fx.loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = df_other_fx.loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'from_USD', 'minval':'to_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    return fx_df

The `closing_fx` table contains point-in-time FX market information.

The `average_fx` table contains a four-quarter average of FX rates.

In [7]:
import io

ingest_schema = 'sec_dera'

def create_fx_table(df_fx, tbl):
    qres = engine.execute(f"drop table if exists {ingest_schema}.{tbl}")
    display(qres.fetchall())

    df = enforce_sql_column_names(pd.concat(create_fx_dict(df_fx).values()))

    buf = io.BytesIO()
    df.to_parquet(path=buf)
    buf.seek(0)
    trino_bucket.upload_fileobj(Fileobj=buf,
                                Key=f'trino/{ingest_schema}/{tbl}/data.parquet')

    columnschema = create_table_schema_pairs(df, typemap={'datetime64[ns]':'timestamp(3)'})
    tabledef = f"""
create table if not exists {ingest_schema}.{tbl} (
{columnschema}
) with (
format = 'parquet',
external_location = 's3a://{trino_bucket.name}/trino/{ingest_schema}/{tbl}/'
)
"""
    print(tabledef)

    table_create = engine.execute(tabledef)
    # display(table_create.fetchall())

    if False:
        dataset_query = (f'SELECT * FROM {ingest_schema}.{tbl} limit 10')
        print(dataset_query)
        dataset = engine.execute(dataset_query)
        display(dataset.fetchall())

for df, tbl in [ (df_closing_fx,'closing_fx'), (df_average_fx,'average_fx') ]:
    create_fx_table(df, tbl)

[(True,)]

<ipython-input-6-e343598a9137>:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df_other = df[~df.uom.str.contains('(GBP)|(EUR)', flags=re.I)]

create table if not exists sec_dera.closing_fx (
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(3)
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/closing_fx/'
)

[(True,)]

create table if not exists sec_dera.average_fx (
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(3)
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/average_fx/'
)

# This complicated query helps us figure out how far and wide we need to reach to grab useful FX information

qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd,
       coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) as date_found,
       date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate) as date_diff
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate and N.coreg is NULL and N.qtrs=0 and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value,
        coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate),
        date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)
having coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) is null or date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)!=0
order by S.name, S.adsh, N.ddate, N.uom
""")
l = qres.fetchall()

import pandas as pd

df = pd.read_sql("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
          and N.coreg is NULL and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
""", engine, index_col=None)
df

qres = engine.execute("select count (*), adsh, uom, tag group by adsh, uom, tag ")

### Revenue

For this table and others, we do not yet implement a mechanism for prioritizing amended values over initially reported values.  That is a TODO.

# There are 56 of these and each one has a colorful explanation as to why the report data and the fiscal year are so misaligned

engine.execute("select S.adsh, cik, fy, name from sec_dera.sub as S where S.form='10-K' and S.fy>=DATE('2018-01-01') and S.fy<DATE('2019-01-01')").fetchall()

engine.execute("select *, if (fp='','fp should not be empty string', '') from sec_dera.sub as S where S.form='10-K' and S.fp!='FY'").fetchall()

In [8]:
qres = engine.execute("drop table if exists sec_dera.t_r")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_revenue_usd_by_lei as
select S.adsh, cik, name, lei, sic, fy, N.ddate, uom, max(value) as revenue
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and uom='USD'
        and coreg is NULL
        and qtrs=4
        and (N.tag='Revenue'
             or N.tag='Revenues'
             or N.tag='RevenueFromContractsWithCustomers'
             or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
             or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
             or N.tag='RevenuesNetOfInterestExpense'
             or N.tag='RegulatedAndUnregulatedOperatingRevenue'
             or N.tag='RegulatedOperatingRevenuePipelines')
group by S.adsh, cik, name, lei, sic, fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_revenue_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(N.value) as revenue
from sec_dera.sub as S left join sec_dera.fy_revenue_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate) and X.adsh IS NULL
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and N.uom!='USD'
        and coreg is NULL
        and qtrs=4
        and (N.tag='Revenue'
             or N.tag='Revenues'
             or N.tag='RevenueFromContractsWithCustomers'
             or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
             or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
             or N.tag='RevenuesNetOfInterestExpense'
             or N.tag='RegulatedAndUnregulatedOperatingRevenue'
             or N.tag='RegulatedOperatingRevenuePipelines')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_r as
select V_USD.*, V_USD.revenue as revenue_usd
from sec_dera.fy_revenue_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.revenue as revenue_usd
from sec_dera.fy_revenue_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(11162,)]

engine.execute("select * from sec_dera.num where qtrs=4004").fetchall()

engine.execute("select * from sec_dera.sub where adsh='0001628280-21-016934'").fetchall()

engine.execute("select * from sec_dera.t_r where name='INDEPENDENT BANK CORP'").fetchall()

### Float (market cap)

TODO: The float calculation reads the reported overall float without regard to share class.  For companies that have multiple associated tickers, this gives wrong results.  And probably very wrong results for BRK.A vs. BRK.B

engine.execute("select count (*), tag from sec_dera.num where tag like '%Float%' and tag not like '%Floating%' and tag not like '%Floater%' group by tag order by tag").fetchall()

engine.execute("select count (*) from sec_dera.sub as S join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh where (S.form!='10-K' and S.form!='20-F')").fetchall()

In [9]:
qres = engine.execute("drop table if exists sec_dera.t_f").fetchall()
qres = engine.execute("""
create or replace view sec_dera.float_by_adsh_ddate as
select S.adsh, fy, max(ddate) as f_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='EntityPublicFloat'
             or tag='EntitysPublicFloat'
             or tag='FreeFloat'
             or tag='PublicFloat'
             or tag='PublicFloatValue')
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_usd_by_lei as
select S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom, max(value) as market_cap
from sec_dera.sub as S
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_xyz_by_lei as
select S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom, max(value) as market_cap
from sec_dera.sub as S
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where value>0
      and uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_f as
select V_USD.*, V_USD.market_cap as market_cap_usd
from sec_dera.float_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.market_cap as market_cap_usd
from sec_dera.float_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(11170,)]

engine.execute("select * from sec_dera.t_f where name='INDEPENDENT BANK CORP'").fetchall()

### Cash

In [10]:
qres = engine.execute("drop table if exists sec_dera.t_c").fetchall()
qres = engine.execute("""
create or replace view sec_dera.cash_by_adsh_ddate as
select S.adsh, fy, max(ddate) as c_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, fy
""")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.cash_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as cash
from sec_dera.sub as S
     join sec_dera.cash_by_adsh_ddate as AD on S.adsh=AD.adsh -- and S.fy=AD.fy
     join sec_dera.num as N on AD.adsh=N.adsh and AD.c_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.cash_xyz_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as cash
from sec_dera.sub as S
     join sec_dera.cash_by_adsh_ddate as AD on S.adsh=AD.adsh -- and S.fy=AD.fy
     join sec_dera.num as N on AD.adsh=N.adsh and AD.c_ddate=N.ddate
where coreg is NULL
      and uom!='USD'
      and qtrs=0
      and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_c as
select V_USD.*, V_USD.cash as cash_usd
from sec_dera.cash_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.cash as cash_usd
from sec_dera.cash_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(13224,)]

engine.execute("select * from sec_dera.t_c where name='INDEPENDENT BANK CORP'").fetchall()

engine.execute("""
select count (*), tag from sec_dera.num
where tag='CashAndCashEquivalentsAtCarryingValue' or tag='Cash' or tag='CashEquivalentsAtCarryingValue' or tag='CashAndCashEquivalents'
group by tag order by count (*) desc limit 20
""").fetchall()

### Debt

In [11]:
# Reiterating comment embedded below: we should sum 'LongTermDebtNoncurrent' and 'LongTermDebtCurrent' as one term we MAX with others
qres = engine.execute("drop table if exists sec_dera.t_d").fetchall()

qres = engine.execute("""
create or replace view sec_dera.debt_by_adsh_ddate as
select S.adsh, fy, max(ddate) as d_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
             or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
             or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
             or tag='OperatingLeaseLiabilityNoncurrent'
             or tag='SubordinatedDebt' or tag='ConvertibleDebt'
             or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
             -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
             or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, fy
""")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.debt_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as debt
from sec_dera.sub as S
     join sec_dera.debt_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
           or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
           or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
           or tag='OperatingLeaseLiabilityNoncurrent'
           or tag='SubordinatedDebt' or tag='ConvertibleDebt'
           or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
           -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
           or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.debt_xyz_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as debt
from sec_dera.sub as S
     join sec_dera.debt_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom!='USD'
      and qtrs=0
      and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
           or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
           or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
           or tag='OperatingLeaseLiabilityNoncurrent'
           or tag='SubordinatedDebt' or tag='ConvertibleDebt'
           or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
           -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
           or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_d as
select V_USD.*, V_USD.debt as debt_usd
from sec_dera.debt_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.debt as debt_usd
from sec_dera.debt_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(9441,)]

engine.execute("select * from sec_dera.t_d where name='INDEPENDENT BANK CORP'").fetchall()

engine.execute("""
select count (*), tag from sec_dera.num
where tag='LongTermDebt' or tag='LongTermDebtFairValue' or tag='LongTermDebtAndCapitalLeaseObligations'
or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt' or tag='SubordinatedDebt' or tag='ConvertibleDebt'
group by tag order by count (*) desc
""").fetchall()

l = engine.execute("""
select name, sic, round(value/1000000.0,1), uom, ddate, nciks, aciks
from sec_dera.sub as S join sec_dera.num as N
on S.adsh=N.adsh
where form='10-K' and fy=DATE('2020-01-01') and tag='DebtLongtermAndShorttermCombinedAmount' order by value desc limit 20
""").fetchall()

l = engine.execute("""
select name, form, tag, value, uom, fy, qtrs, coreg
from sec_dera.sub S join sec_dera.num as N
on S.adsh=N.adsh
where (form='10-K' or form='20-F') and fy >= ddate and date_add('year', -1, fy) < ddate
and (N.tag='Revenues'
     or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
     or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
     or N.tag='RevenuesNetOfInterestExpense'
     or N.tag='RegulatedAndUnregulatedOperatingRevenue'
     or N.tag='RegulatedOperatingRevenuePipelines')
order by name
""").fetchall()
len(l)

### Assets

qres = engine.execute("""
select count (*), form, uom
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or form='20-F' or form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and tag='Assets'
group by form, uom
order by form, count (*) desc
""")
display(qres.fetchall())

qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, value as assets, FX.value * value as assets_usd
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
     join sec_dera.num as FX on N.ddate=FX.ddate
where N.coreg is NULL
      and N.qtrs=0
      and N.tag='Assets'
      and FX.qtrs=0
      and FX.tag=
""")
print(qres.fetchall())

In [12]:
qres = engine.execute("drop table if exists sec_dera.t_a")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_by_adsh_ddate as
select S.adsh, fy, max(ddate) as d_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and tag='Assets'
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as assets
from sec_dera.sub as S
     join sec_dera.assets_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and tag='Assets'
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_xyz_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as assets
from sec_dera.sub as S
     join sec_dera.assets_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom!='USD'
      and qtrs=0
      and tag='Assets'
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_a as
select V_USD.*, V_USD.assets as assets_usd
from sec_dera.assets_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.assets as assets_usd
from sec_dera.assets_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(True,)]

[(13484,)]

### Income (Annual Profit / Loss)

In [13]:
qres = engine.execute("drop table if exists sec_dera.t_i")
print(qres.fetchall())
qres = engine.execute("drop view if exists sec_dera.sec_dera.income_usd_by_lei")
print(qres.fetchall())
qres = engine.execute("drop view if exists sec_dera.sec_dera.income_xyz_by_lei")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_income_by_adsh_ddate as
select S.adsh, fy, max(ddate) as d_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=4
        and (tag='ProfitLoss'
             or tag='NetIncomeLoss')
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_income_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as income
from sec_dera.sub as S
     join sec_dera.fy_income_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=4
      and (tag='ProfitLoss'
             or tag='NetIncomeLoss')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_income_xyz_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as income
from sec_dera.sub as S
     join sec_dera.fy_income_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom!='USD'
      and qtrs=4
      and (tag='ProfitLoss'
             or tag='NetIncomeLoss')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_i as
select V_USD.*, V_USD.income as income_usd
from sec_dera.fy_income_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.income as income_usd
from sec_dera.fy_income_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]
[(True,)]
[(True,)]

[(True,)]

[(True,)]

[(True,)]

[(13142,)]

In [14]:
qres = engine.execute("""
create or replace view sec_dera.financials_by_lei as
select R.name, R.lei,
       F.tname,
       R.fy, R.ddate, R.sic, revenue_usd, cash_usd, debt_usd, assets_usd, market_cap_usd, income_usd
from sec_dera.t_r as R
     left join sec_dera.t_c as C on R.cik=C.cik and R.adsh=C.adsh
     left join sec_dera.t_d as D on R.cik=D.cik and R.adsh=D.adsh
     left join sec_dera.t_a as A on R.cik=A.cik and R.adsh=A.adsh
     left join sec_dera.t_f as F on R.cik=F.cik and R.adsh=F.adsh
     left join sec_dera.t_i as I on R.cik=I.cik and R.adsh=I.adsh
where tname is null or tname not like '%-%'
""")
display(qres.fetchall())

qres = engine.execute("""
select * from sec_dera.financials_by_lei
""")
l = qres.fetchall()
len(l)

[(True,)]

14657

In [15]:
y = [x for x in l if x[5] == 4911]
print(len(y))
display(y)

157

[('ELLOMAY CAPITAL LTD.', '254900FHSYEEYLHR7Y05', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 11841313.188075509, 82066623.12668817, None, 564960163.0257214, None, -7572547.4073664835),
 ('ENERGY CO OF MINAS GERAIS', None, None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 5941683047.833006, 125432930.82467471, None, 11683515866.329681, None, 732004118.6932509),
 ('AZURE POWER GLOBAL LTD', '54930085G5UQETD7JX48', None, '2019-01-01 00:00:00.000', '2019-03-31 00:00:00.000', 4911, 143228333.60323888, 152059256.44881436, 994878492.53904, 1570865334.4129555, None, 1991286.5240023136),
 ('EDENOR', '254900JU7TV6VS9GRW29', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1501816563.7001169, 6839906.495241276, None, 1994867406.9126732, None, 202607096.34329605),
 ('CENTRAL PUERTO S.A.', '2549005JLIWQ6B7VNR38', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 452859893.04812837, 3311919.1919191917, None, 1882229447.4153297, None, 82684943.55317885),
 ('ENERGY CO OF PARANA', '2549001AS1I9A71VG663', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 3219985138.4628677, 556921933.7279129, None, 8084790944.830864, None, 675638311.6602584),
 ('AZURE POWER GLOBAL LTD', '54930085G5UQETD7JX48', None, '2020-01-01 00:00:00.000', '2020-03-31 00:00:00.000', 4911, 172758379.81164613, 130548700.03979309, 1185084088.8314102, 1765193876.0180397, None, -31157303.10385993),
 ('KOREA ELECTRIC POWER CORP', '988400QG33WS7JEIV602', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 50585664190.70651, 1563421143.5481086, None, 170666602176.54172, None, -1955031093.4531007),
 ('CENTRAL PUERTO S.A.', '2549005JLIWQ6B7VNR38', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 600447219.9031558, 24943529.804641843, None, 1983569460.6779096, None, 144612706.6288195),
 ('EDENOR', '254900JU7TV6VS9GRW29', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1085157456.9221628, 51836007.13012478, None, 1768223410.5763516, None, 210314913.8443256),
 ('HUANENG POWER INTERNATIONAL INC', '529900WU0SMVKMPG4V21', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 24677803228.138638, 1764687831.0957572, None, 60733907055.69968, None, 157164295.5453848),
 ('TRANSALTA CORP', 'GJZNVO2UY6DNFNIYH321', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1800124035.7568765, 315232628.33237165, 250038532.4485478, 7292534866.628199, None, 134990127.94768226),
 ('FORTIS INC.', '549300MQYQ9Y065XPR71', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 6951411643.770094, 193721488.44977653, 17981866516.223637, 43164104018.80342, None, 1080639146.4126089),
 ('ENEL GENERACION CHILE S.A.', None, None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1995511810.5083206, 18013708.36338382, None, 4790980549.990651, None, 268886479.9529877),
 ('HUANENG POWER INTERNATIONAL INC', '529900WU0SMVKMPG4V21', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 18879191633.015144, 1477153691.676821, None, 50126998052.72947, None, 290860928.17809325),
 ('ENEL CHILE S.A.', '549300YM5CWCAUVOPB53', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 3584477553.9770727, 467031455.095295, None, 11118182128.138405, None, -73685681.1308812),
 ('ENEL CHILE S.A.', '549300YM5CWCAUVOPB53', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 3505324041.7234287, 314774821.70045674, None, 10494949066.431604, None, 422166864.33207786),
 ('EMERA INC', 'NQZVQT2P5IUF2PGA1Q48', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 4283656688.371364, 171159548.027915, 9599716650.529287, 24299987832.290443, None, 765549978.452129),
 ('EMERA INC', 'NQZVQT2P5IUF2PGA1Q48', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 4687071999.365263, 170271638.66128102, 10491647501.1156, 24422475307.44374, None, 544562447.9707637),
 ('HYDRO ONE INC', '5493007QZDXTP1W2VL44', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 5640485105.465381, 553934537.2539794, 12524210927.96989, 23443412094.205288, None, 1400396302.0465775),
 ('HYDRO ONE LTD', '5493007QZDXTP1W2VL44', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 4970091074.437392, 23009680.900173113, 10332880702.904406, 20755499161.319485, None, 615125469.3979611),
 ('HYDRO ONE INC', '5493007QZDXTP1W2VL44', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 4940945478.6305065, 5368925.543373726, 10332880702.904406, 20645052692.998653, None, 734775810.0788614),
 ('PAMPA ENERGY INC.', None, None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 2836000000.0, 225000000.0, None, 5684000000.0, None, 800000000.0),
 ('IDACORP INC', 'N134NUJDWN8UEFA8B673', 'ida', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1350729000.0, 275116000.0, 2000414000.0, 7095244000.0, 4376761183.0, 237968000.0),
 ('BLACK HILLS POWER INC', '549300WSKCZZU2LB2X28', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 291219000.0, 6000.0, 340176000.0, 1260357000.0, None, None),
 ('CALPINE CORP', '43R4VPJBXTU2O15HEF41', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 10072000000.0, 1131000000.0, 11857000000.0, 16649000000.0, None, 790000000.0),
 ('EDISON INTERNATIONAL', '549300I7ROF15MAEVP56', 'eix', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 13578000000.0, 87000000.0, 23824000000.0, 69372000000.0, 20500000000.0, 871000000.0),
 ('ENTERGY CORP', '4XM3TW50JULSLG8BNC79', 'etr', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 10878673000.0, 425722000.0, 19059950000.0, 51723912000.0, 20500000000.0, 1258244000.0),
 ('WISCONSIN ELECTRIC POWER CO', 'AENKIFMULUAWOUU8Q584', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 3367000000.0, 7200000.0, 2761200000.0, 13605200000.0, None, None),
 ('NEXTERA ENERGY INC', 'UMI46YPGBLUE4VGNNT48', 'nee', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 19204000000.0, 600000000.0, 37543000000.0, 117691000000.0, 97905404884.0, 3769000000.0),
 ('CENTERPOINT ENERGY INC', '21TPXMRRHFKOBHDC8J74', 'cnp', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12301000000.0, 241000000.0, 14244000000.0, 35439000000.0, 14295717409.0, 791000000.0),
 ('PUGET ENERGY INC', 'SYBSJ96YIDMIUY7WDR33', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 3326450000.0, 52307000.0, 5892440000.0, 15042965000.0, None, 182717000.0),
 ('SUMMER ENERGY HOLDINGS INC', '254900B27CF40NWYFV43', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 166315793.0, 814360.0, 10265289.0, 51497772.0, 33420316.0, -10733089.0),
 ('ATLANTICA SUSTAINABLE INFRASTRUCTURE PLC', '549300ITBBGKJ651R879', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1013260000.0, 868501000.0, None, 9938354000.0, None, 16874000.0),
 ('ENEL AMERICAS S.A.', '549300LKH11TFCJLZK20', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 13053376000.0, 1938997000.0, None, 29776384000.0, None, 2169763000.0),
 ('ALGONQUIN POWER & UTILITIES CORP.', '549300K5VIUTJXQL7X75', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1677058000.0, 101614000.0, 7452598000.0, 13223906000.0, None, 782463000.0),
 ('OGE ENERGY CORP.', 'CE5OG6JPOZMDSA0LAQ19', 'oge', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 2122300000.0, 1100000.0, 3494400000.0, 10718800000.0, 6077156282.0, -173700000.0),
 ('FIRSTENERGY CORP', '549300SVYJS666PQJH88', 'fe', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 10790000000.0, 1734000000.0, 22131000000.0, 44464000000.0, 20967401361.0, 1079000000.0),
 ('PAMPA ENERGY INC.', None, None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1071000000.0, 141000000.0, None, 4890000000.0, None, -468000000.0),
 ('HYDRO ONE LTD', '5493007QZDXTP1W2VL44', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 5671605023.288638, 588944444.805144, 12859528042.515488, 23568669763.443897, None, 1397284310.2642517),
 ('TRANSALTA CORP', 'GJZNVO2UY6DNFNIYH321', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1634573683.6665883, 546932555.7437466, 567938500.2744453, 7583145975.582216, None, -196833480.23210227),
 ('FORTIS INC.', '549300MQYQ9Y065XPR71', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 6736467578.207348, 283786064.4354684, 16491038301.15407, 40960299959.7615, None, 1420464300.90402),
 ('ENERGY CO OF MINAS GERAIS', None, None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 4359614636.88599, 290318399.7926297, None, 9346005961.89571, None, 495096556.78921676),
 ('BRAZILIAN ELECTRIC POWER CO', None, None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 5025361904.350456, 49528146.19605133, None, 30926936363.243618, None, 1103782434.0087268),
 ('BRAZILIAN ELECTRIC POWER CO', None, None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 6488235280.351961, 78467424.8806515, None, 41530168257.979965, None, 2514238275.7652345),
 ('CPFL ENERGY INC', None, None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 7004697650.472713, 453328418.9834316, None, 10315054993.915565, None, 643147290.0870541),
 ('ENERGY CO OF PARANA', '2549001AS1I9A71VG663', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 3801430777.871384, 688413133.0150707, None, 8965775063.184498, None, 482745717.49508566),
 ('ELLOMAY CAPITAL LTD.', '254900FHSYEEYLHR7Y05', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 21349883.163498838, 50045394.44513218, None, 348753737.128121, None, 11001014.160083875),
 ('KOREA ELECTRIC POWER CORP', '988400QG33WS7JEIV602', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 53240659007.35294, 1865426470.5882354, None, 186711499080.88235, None, 1923225183.8235295),
 ('OGLETHORPE POWER CORP', '3EERXCUSWMS9GV5D9M98', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1377618000.0, 405511000.0, 11794978000.0, 14240156000.0, None, 55895000.0),
 ('TUCSON ELECTRIC POWER CO', 'YLF139GXSRKPBBTNZL03', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1418338000.0, 9762000.0, 1522087000.0, 5489157000.0, None, None),
 ('OGE ENERGY CORP.', 'CE5OG6JPOZMDSA0LAQ19', 'oge', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 2231600000.0, 0.0, 3195200000.0, 11024300000.0, 8519482559.0, 433600000.0),
 ('KENON HOLDINGS LTD.', '254900N5LVBX92GMVN72', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 386470000.0, 286184000.0, None, 2482333000.0, None, 504225000.0),
 ('CLEARWAY ENERGY, INC.', '549300C841GHSUPKR373', 'cwen', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1032000000.0, 155000000.0, 4956000000.0, 9700000000.0, 1788899961.0, -11000000.0),
 ('OCEAN POWER TECHNOLOGIES, INC.', '529900PIW1SG4NP5E125', None, '2019-01-01 00:00:00.000', '2019-04-30 00:00:00.000', 4911, 632000.0, 16660000.0, None, 18366000.0, None, -12246000.0),
 ('ONCOR ELECTRIC DELIVERY CO LLC', '549300SP2X2BS1KERD24', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 4347000000.0, 4000000.0, 8017000000.0, 27036000000.0, None, 651000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'so', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0, 3103000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'soje', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0, 3103000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'sojc', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0, 3103000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'sojd', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0, 3103000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'soln', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0, 3103000000.0),
 ('ITC HOLDINGS CORP.', '549300HTO5U9D3SLE207', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1327000000.0, 4000000.0, 5807000000.0, 10058000000.0, None, 428000000.0),
 ('OTTER TAIL CORP', '549300HHVBQRQUVKKD91', 'ottr', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 919503000.0, 21199000.0, 695764000.0, 2273595000.0, 2040017347.0, 86847000.0),
 ('PUGET ENERGY INC', 'SYBSJ96YIDMIUY7WDR33', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 3401130000.0, 45259000.0, 5920325000.0, 14659863000.0, None, 210708000.0),
 ('IDACORP INC', 'N134NUJDWN8UEFA8B673', 'ida', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1346383000.0, 217254000.0, 1836659000.0, 6641201000.0, 5017481695.0, 233328000.0),
 ('PORTLAND GENERAL ELECTRIC CO', 'GJOUP9M7C39GLSK9R870', 'por', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 2123000000.0, 30000000.0, 3039000000.0, 8394000000.0, 4823580272.0, 214000000.0),
 ('BLACK HILLS CORP', '3MGELCRSTNSAMJ962671', 'bkh', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1734900000.0, 9777000.0, 3140096000.0, 7558457000.0, 4727278183.0, 213322000.0),
 ('NEXTERA ENERGY PARTNERS, LP', '5493008F4ZOQFNG3WN54', 'nep', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 917000000.0, 108000000.0, 3388000000.0, 12562000000.0, 3270074217.0, -55000000.0),
 ('OLD DOMINION ELECTRIC COOPERATIVE', 'SW4VC32Z0ZKLJKPONQ50', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 807704000.0, 9288000.0, 1374800000.0, 2067644000.0, None, 12166000.0),
 ('CLEARWAY ENERGY, INC.', '549300C841GHSUPKR373', 'cwen', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1199000000.0, 268000000.0, 7043000000.0, 10592000000.0, 1786941297.0, 25000000.0),
 ('NRG ENERGY, INC.', '5E2UPK5SW04M13XY7I38', 'nrg', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 9821000000.0, 345000000.0, 6042000000.0, 12531000000.0, 7893678070.0, 4441000000.0),
 ('VISTRA CORP.', '549300KP43CPCUJOOG15', 'vst', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 11443000000.0, 406000000.0, 9235000000.0, 25208000000.0, 9084469142.0, 636000000.0),
 ('CLECO CORPORATE HOLDINGS LLC', '5493002H80P81B3HXL31', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1639605000.0, 116292000.0, 400000000.0, 7476298000.0, None, 152665000.0),
 ('PPL CORP', '9N3UAJSNOUXFKQLF3V18', 'ppl', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 7607000000.0, 708000000.0, 23127000000.0, 48116000000.0, 19865342074.0, 1469000000.0),
 ('CLECO CORPORATE HOLDINGS LLC', '5493002H80P81B3HXL31', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1498146000.0, 84976000.0, 3165387000.0, 7725569000.0, None, 122300000.0),
 ('TENNESSEE VALLEY AUTHORITY', '549300HE1ISW43LNKM54', None, '2019-01-01 00:00:00.000', '2019-09-30 00:00:00.000', 4911, 11318000000.0, 299000000.0, 26059000000.0, 50467000000.0, None, 1417000000.0),
 ('TRI-STATE GENERATION & TRANSMISSION ASSOCIATION, INC.', '549300VDHNFNPADSSV98', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1352295000.0, 127187000.0, 3287768000.0, 5046736000.0, None, 30711000.0),
 ('IPALCO ENTERPRISES, INC.', '5493000YFVK2DZX0JV43', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1352985000.0, 20502000.0, 2651185000.0, 4969919000.0, None, 109967000.0),
 ('PNM RESOURCES INC', '5493003JOBJGLZSDDQ28', 'pnm', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1523012000.0, 47928000.0, 2719632000.0, 7939854000.0, 3061885307.0, 187316000.0),
 ('PINNACLE WEST CAPITAL CORP', 'TWSEY0NEDUDCKS27AH81', 'pnw', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 3471209000.0, 10283000.0, 6194392000.0, 18479247000.0, 10536165750.0, 557813000.0),
 ('EVERSOURCE ENERGY', 'SJ7XXD41SQU3ZNWUJ746', 'es', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 8904430000.0, 106599000.0, 15125876000.0, 46099598000.0, 28496151703.0, 1212686000.0),
 ('PATTERN ENERGY GROUP INC.', '549300YTEUCT3H1Y2T51', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 541000000.0, 156000000.0, 3401000000.0, 7173000000.0, 2000000000.0, -31000000.0),
 ('AVANGRID, INC.', '549300OX0Q38NLSKPB49', 'agr', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 6338000000.0, 178000000.0, 8168000000.0, 34416000000.0, 2836000000.0, 700000000.0),
 ('ENEL AMERICAS S.A.', '549300LKH11TFCJLZK20', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 11238976000.0, 1506993000.0, None, 26933558000.0, None, 1181252000.0),
 ('ITC HOLDINGS CORP.', '549300HTO5U9D3SLE207', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1298000000.0, 4000000.0, 7119000000.0, 10825000000.0, None, 407000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtb', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0, 1371000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dty', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0, 1371000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dte', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0, 1371000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtp', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0, 1371000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtw', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0, 1371000000.0),
 ('TUCSON ELECTRIC POWER CO', 'YLF139GXSRKPBBTNZL03', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1424741000.0, 60960000.0, 1814059000.0, 6090127000.0, None, None),
 ('PINNACLE WEST CAPITAL CORP', 'TWSEY0NEDUDCKS27AH81', 'pnw', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 3586982000.0, 59968000.0, 7612841000.0, 20020421000.0, 8231813171.0, 570052000.0),
 ('VETANOVA INC.', None, 'vtna', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 13125.0, None, None, 78913.0, 1524341.0, -6867799.0),
 ('NEXTERA ENERGY INC', 'UMI46YPGBLUE4VGNNT48', 'nee', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 17997000000.0, 1105000000.0, 41944000000.0, 127684000000.0, 117405158883.0, 2919000000.0),
 ('ONCOR ELECTRIC DELIVERY CO LLC', '549300SP2X2BS1KERD24', None, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 4511000000.0, 27000000.0, 9229000000.0, 29172000000.0, None, 713000000.0),
 ('TRI-STATE GENERATION & TRANSMISSION ASSOCIATION, INC.', '549300VDHNFNPADSSV98', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1385472000.0, 83070000.0, 3144906000.0, 5085818000.0, None, 49663000.0),
 ('PORTLAND GENERAL ELECTRIC CO', 'GJOUP9M7C39GLSK9R870', 'por', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 2151000000.0, None, 3808000000.0, 9069000000.0, 3725882304.0, 155000000.0),
 ('ORMAT TECHNOLOGIES, INC.', '5493000TSHHWY24VHM09', 'ora', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 705342000.0, 448252000.0, 1474174000.0, 3888987000.0, 2544589505.0, 101806000.0),
 ('EVERSOURCE ENERGY', 'SJ7XXD41SQU3ZNWUJ746', 'es', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 8526470000.0, 15432000.0, 13770828000.0, 41123915000.0, 24486439602.0, 916572000.0),
 ('ALTERNUS ENERGY INC.', '254900ZKBK8Y5Z906E28', None, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 2585568.0, 1076995.0, 36815082.0, 45613562.0, 17000000.0, -3028918.0),

engine.execute("select * from sec_dera.sub where cik=1174169 and form='40-F'").fetchall()

engine.execute("select * from sec_dera.num as R where (R.adsh='0001174169-20-000018' or R.adsh='0001174169-21-000012') and tag='RevenueFromContractWithCustomerExcludingAssessedTax'").fetchall()

engine.execute("select * from sec_dera.t_r where adsh='0001004315-21-000067' or adsh='0001004315-20-000053'").fetchall()

In [16]:
l = engine.execute("""
select A.lei, A.parent_name, R.name, date_format(R.fy, '%Y-%m-%d'), R.revenue_usd
from (select coalesce(G.ultimate_parent_issuer_lei,U.parent_lei) as lei, U.parent_name
      from rmi_20211120.utility_information as U left join gleif_mdt.gleif_direct_issuer_ultimate_issuer as G on U.parent_lei=G.direct_issuer_lei
      group by coalesce(G.ultimate_parent_issuer_lei,U.parent_lei), U.parent_name) as A
     left join sec_dera.t_r as R on A.lei=R.lei
where A.lei is not null
      and (R.lei is null or year(R.fy)=2020)
order by A.parent_name
""").fetchall()

print(len(l))
display(l)

92

[('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2020-01-01', 9660000000.0),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2020-01-01', 9286000000.0),
 ('549300K5VIUTJXQL7X75', 'Algonquin Power & Utilities Corp.', 'ALGONQUIN POWER & UTILITIES CORP.', '2020-01-01', 1677058000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2020-01-01', 1169100000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2020-01-01', 3416000000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2020-01-01', 5794000000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2020-01-01', 14918500000.0),
 ('529900L26LIS2V8PWM23', 'American States Water', 'AMERICAN STATES WATER CO', '2020-01-01', 488243000.0),
 ('2138004PVNAV1E9SZP35', 'Antin Infrastructure Partners', None, None, None),
 ('549300GW1DWMX7FLDM29', 'ArcLight Capital Partners LLC', None, None, None),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2020-01-01', 6320000000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2020-01-01', 1321891000.0),
 ('CT4UIJ3TUKGYYHMENQ17', 'Balfour Beatty Infrastructure Partners, L.P.', None, None, None),
 ('5493002CLOJ5KYT5GB16', 'Basin Electric Power Coop.', None, None, None),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2020-01-01', 245510000000.0),
 ('COQ1W8HBTZOC1ADPR143', 'Big Rivers Electric Corp.', None, None, None),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2020-01-01', 1696941000.0),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Asset Management', 'BROOKFIELD ASSET MANAGEMENT INC.', '2020-01-01', 62752000000.0),
 ('549300VR7GQZV6W7OR57', 'Buckeye Power, Inc.', None, None, None),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2020-01-01', 6680000000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'California Independent System Operator Corp.', 'PG&E CORP', '2020-01-01', 18469000000.0),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2020-01-01', 7418000000.0),
 ('5493008ORX814MK1WM19', 'Citizens Corp.', None, None, None),
 ('549300I9GWXX4SYOE358', 'City of Holyoke', None, None, None),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2020-01-01', 1498146000.0),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2020-01-01', 12246000000.0),
 ('549300SPFPI3X8V86Z21', 'Corning Natural Gas Holding Corp.', 'CORNING NATURAL GAS HOLDING CORP', '2020-01-01', 32385885.0),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2020-01-01', 12177000000.0),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2020-01-01', 14172000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2020-01-01', 23868000000.0),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2020-01-01', 13578000000.0),
 ('NQZVQT2P5IUF2PGA1Q48', 'Emera Inc.', 'EMERA INC', '2020-01-01', 4283656688.371364),
 ('549300SULPFDEWWFVD15', 'Energir Inc.', None, None, None),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2020-01-01', 10113636000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2020-01-01', 4913400000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2020-01-01', 8904430000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2020-01-01', 33039000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2020-01-01', 10790000000.0),
 ('549300MQYQ9Y065XPR71', 'Fortis, Inc.', 'FORTIS INC.', '2020-01-01', 6951411643.770094),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2020-01-01', 14198000000.0),
 ('549300ZCZ76HYCS0H445', 'Frontier Communications Corp.', 'FRONTIER COMMUNICATIONS CORP', '2020-01-01', 7155000000.0),
 ('5493007UJR2NMSZPGP02', 'Golden Spread Electric Coop., Inc', None, None, None),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2020-01-01', 2579775000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2020-01-01', 4804000000.0),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2020-01-01', 1350729000.0),
 ('549300FIA0OYFDEISW66', 'ISO New England Inc.', None, None, None),
 ('5QK37QC7NWOJ8D7WVQ45', 'Iberdrola, S.A.', None, None, None),
 ('549300NMCKSMDPKQ0502', 'Invenergy LLC', None, None, None),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group', 'MDU RESOURCES GROUP INC', '2020-01-01', 5532750000.0),
 ('549300QIEIVG0JUPV270', 'Midcontinent Independent System Operator, Inc', None, None, None),
 ('549300O4B5CVWMKUES27', 'Midwest Energy Inc.', 'MIDWEST ENERGY EMISSIONS CORP.', '2020-01-01', 8158448.0),
 ('549300XB5UQO7U766C18', 'Milliken & Co.', None, None, None),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy Inc.', 'NRG ENERGY, INC.', '2020-01-01', 9093000000.0),
 ('8R95QZMKZLJX5Q2XR704', 'National Grid plc', 'NATIONAL GRID PLC', '2020-01-01', 17981021141.975307),
 ('5493003TZVX6QJ0PBO15', 'New Hampshire Electric Coop., Inc.', None, None, None),
 ('5493004A26ERKLO7Y203', 'New York Independent System Operator', None, None, None),
 ('549300D8GOWWH0SJB189', 'NiSource Inc.', 'NISOURCE INC.', '2020-01-01', 4473200000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2020-01-01', 1206800000.0),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2020-01-01', 2122300000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2020-01-01', 1377618000.0),
 ('549300MA7EMERVYDHS24', 'Ohio Valley Electric Corp.', None, None, None),
 ('SW4VC32Z0ZKLJKPONQ50', 'Old Dominion Electric Coop.', 'OLD DOMINION ELECTRIC COOPERATIVE', '2020-01-01', 807704000.0),
 ('5299004YRCHMOU9FKK67', 'Omya AG', None, None, None),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2020-01-01', 890107000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2020-01-01', 18469000000.0),
 ('549300M3VK6MP6R72034', 'PJM Interconnection, LLC', None, None, None),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2020-01-01', 1523012000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2020-01-01', 7607000000.0),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2020-01-01', 3586982000.0),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2020-01-01', 2151000000.0),
 ('XC5Z0IVHFCJDWCPZL176', 'Prairie Power, Inc.', None, None, None),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2020-01-01', 9603000000.0),
 ('549300NIHMHEL3T1QQ97', 'Rayburn Country Electric Coop., Inc.', None, None, None),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2020-01-01', 11370000000.0),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2020-01-01', 21097000000.0),
 ('DBBJWDBO6IRU2GBUJI29', 'Southern Maryland Electric Coop.', None, None, None),
 ('549300NXXWJMFXIKNU79', 'Southwest Power Pool, Inc.', None, None, None),
 ('549300X6CK46NKF0S683', 'Startrans IO, LLC', None, None, None),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2020-01-01', 10113195294.613033),
 ('549300VDHNFNPADSSV98', 'Tri-State Generation & Transmission Association, Inc.', 'TRI-STATE GENERATION & TRANSMISSION ASSOCIATION, INC.', '2020-01-01', 1352295000.0),
 ('DX6GCWD4Q1JO9CRE5I40', 'UGI Corp.', 'UGI CORP', '2020-01-01', 6559000000.0),
 ('8945004QAHNC2OHL6926', 'United Power, Inc.', None, None, None),
 ('549300N8FFURNHL5YM93', 'Valley Electric Association, Inc.', None, None, None),
 ('549300GNSLQRYVBRRM43', 'Vermont Electric Coop., Inc.', None, None, None),
 ('54930086XT4IMGTLYZ86', 'Vermont Electric Power Co., Inc.', None, None, None),
 ('549300FODXCTQ8DGT594', 'Verso Corp.', 'VERSO CORP', '2020-01-01', 1359000000.0),
 ('549300KP43CPCUJOOG15', 'Vistra Corp.', 'VISTRA CORP.', '2020-01-01', 11443000000.0),
 ('549300IGLYTZUK3PVP70', 'WEC Energy Group', 'WEC ENERGY GROUP, INC.', '2020-01-01', 7241700000.0),
 ('VR27ZYPWHGW7Z1BM8Y69', 'Wabash Valley Power Assn, Inc', None, None, None),
 ('549300ROWOIV5X5MB591', 'Wolverine Power Supply Coop.', None, None, None),
 ('LGJNMI9GH8XIDG5RCM61', 'Xcel Energy, Inc.', 'XCEL ENERGY INC', '2020-01-01', 11526000000.0),
 ('549300467K0TD2Z50713', 'York Haven Power Co.', None, None, None)]

In [17]:
stop!

SyntaxError: invalid syntax (<ipython-input-17-8c726f94684c>, line 1)

In [ ]:
engine.execute("select count (*) from (select distinct(lei) from sec_dera.sub)").fetchall()

In [ ]:
qres = engine.execute("""
explain analyze
select R.name, R.lei, R.tname, R.fy, R.sic, revenue, cash -- , debt --, assets, market_cap
from sec_dera.fy_revenue_by_lei as R
     join sec_dera.cash_by_lei as C on R.name=C.name and R.fy=C.fy
     -- join sec_dera.debt_by_lei as D on R.name=D.name and R.fy=D.fy
     -- join sec_dera.assets_by_lei as A on R.name=A.name and R.fy=A.fy
     -- join sec_dera.float_by_lei as F on R.name=F.name and R.fy=F.fy
""")
l = qres.fetchall()

In [ ]:
qres = engine.execute("""
explain analyze
select R.name, R.lei, R.tname, R.fy, R.sic, revenue,
    -- cash,
    debt,
    -- assets,
    market_cap
from sec_dera.fy_revenue_by_lei as R
     -- join sec_dera.cash_by_lei as C on R.name=C.name and R.fy=C.fy
     join sec_dera.debt_by_lei as D on R.name=D.name and R.fy=D.fy
     -- join sec_dera.assets_by_lei as A on R.name=A.name and R.fy=A.fy
     join sec_dera.float_by_lei as F on R.name=F.name and R.fy=F.fy
""")
l = qres.fetchall()