# Create VIEWs on SEC DERA data by LEI

## Full-year FY REVENUES, INCOME

## Point-in-time FLOAT, DEBT, CASH, ASSETS, (EV = FLOAT + DEBT - CASH, EVIC = FLOAT + DEBT)

In this workflow we assume (and depend upon) the interesting NUM data coming only from the consolidated entity (NUM.COREG IS NULL) and not from co-registrants.  
Please explore EXCELON (EXC) and DOMINION ENERGY (D) to see examples of reports with substantial co-registrant entities.

In [1]:
import os
import pathlib
from dotenv import load_dotenv

# Load some standard environment variables from a dot-env file, if it exists.
# If no such file can be found, does not fail, and so allows these environment vars to
# be populated in some other way
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

Set session variable CATALOG to make query terms much more compact

In [2]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

import pandas as pd

In [3]:
from osc_ingest_trino import *

trino_bucket = attach_s3_bucket("S3_DEV")

In [4]:
for tbl in ['t_r', 't_f', 't_d', 't_c', 't_a', 't_i']:
    qres = engine.execute(f"drop table if exists sec_dera.{tbl}")
    print(qres.fetchall())

[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]

### FX

Many public companies are non-US companies or report facts in units of measurement other than USD.  We build a small table of market knowledge so that we can do foreign exchange (FX) calculations.

In [5]:
sql = ("""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from sec_dera.num
where ddate>=DATE('2019-01-01')
      and (tag='ClosingForeignExchangeRate' or tag='ForeignCurrencyExchangeRateTranslation1')
      and qtrs=0 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_closing_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_closing_fx)

sql = ("""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from sec_dera.num
where ddate>=DATE('2019-01-01')
      and tag='AverageForeignExchangeRate'
      and qtrs=4 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_average_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_average_fx)

In [6]:
import re

def create_fx_dict(df):
    """From a list of FX pairs or non-USD (presumed to convert to USD) FX rates by dates, return a dictionary of FX rates by dates"""
    df_gbp = df[df.uom.str.contains(r'GBP', flags=re.I)]
    df_eur = df[df.uom.str.contains(r'EUR', flags=re.I)]
    df_other = df[~df.uom.str.contains(r'(GBP)|(EUR)', flags=re.I)]
    
    fx_input = {'GBP': df_gbp, 'EUR': df_eur }

    fx_df = {}

    for fx in ['GBP', 'EUR']:
        df_base = fx_input[fx].loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = fx_input[fx].loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'to_USD', 'minval':'from_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    for fx in list({x[int(x[-1]=='USD')-1].upper():x[int(x[0]=='USD')-1].upper() for x in df_other.uom.str.split(r'[-_/]').values }.keys()):
        df_other_fx = df_other[df_other.uom.str.contains(fx, flags=re.I)]
        df_base = df_other_fx.loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = df_other_fx.loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'from_USD', 'minval':'to_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    return fx_df

The `closing_fx` table contains point-in-time FX market information.

The `average_fx` table contains a four-quarter average of FX rates.

In [7]:
# TODO: change this to use osc_trino_tools.ingest_unmanaged_parquet

import io

ingest_schema = 'sec_dera'

def create_fx_table(df_fx, tbl):
    qres = engine.execute(f"drop table if exists {ingest_schema}.{tbl}")
    display(qres.fetchall())

    df = enforce_sql_column_names(pd.concat(create_fx_dict(df_fx).values()))

    buf = io.BytesIO()
    df.to_parquet(path=buf)
    buf.seek(0)
    trino_bucket.upload_fileobj(Fileobj=buf,
                                Key=f'trino/{ingest_schema}/{tbl}/data.parquet')

    columnschema = create_table_schema_pairs(df, typemap={'datetime64[ns]':'timestamp(3)'})
    tabledef = f"""
create table if not exists {ingest_schema}.{tbl} (
{columnschema}
) with (
format = 'parquet',
external_location = 's3a://{trino_bucket.name}/trino/{ingest_schema}/{tbl}/'
)
"""
    print(tabledef)

    table_create = engine.execute(tabledef)
    # display(table_create.fetchall())

    if False:
        dataset_query = (f'SELECT * FROM {ingest_schema}.{tbl} limit 10')
        print(dataset_query)
        dataset = engine.execute(dataset_query)
        display(dataset.fetchall())

for df, tbl in [ (df_closing_fx,'closing_fx'), (df_average_fx,'average_fx') ]:
    create_fx_table(df, tbl)

[(True,)]

<ipython-input-6-44ddca2597e6>:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df_other = df[~df.uom.str.contains(r'(GBP)|(EUR)', flags=re.I)]

create table if not exists sec_dera.closing_fx (
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(3)
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/closing_fx/'
)

[(True,)]

create table if not exists sec_dera.average_fx (
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(3)
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/average_fx/'
)

# This complicated query helps us figure out how far and wide we need to reach to grab useful FX information

qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd,
       coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) as date_found,
       date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate) as date_diff
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate and N.coreg is NULL and N.qtrs=0 and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value,
        coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate),
        date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)
having coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) is null or date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)!=0
order by S.name, S.adsh, N.ddate, N.uom
""")
l = qres.fetchall()

import pandas as pd

df = pd.read_sql("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
          and N.coreg is NULL and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
""", engine, index_col=None)
df

qres = engine.execute("select count (*), adsh, uom, tag group by adsh, uom, tag ")

### Annual Tables: Revenue and Income

We  only ingest annual data (NUM.QTRS=4) for Revenues and Income.  

Many companies report not only the present fiscal year data but two prior years as well.  
The row_number() code ensures we use the latest reported fact for a given year

# There are 56 of these and each one has a colorful explanation as to why the report data and the fiscal year are so misaligned

engine.execute("select S.adsh, cik, fy, name from sec_dera.sub as S where S.form='10-K' and S.fy>=DATE('2018-01-01') and S.fy<DATE('2019-01-01')").fetchall()

engine.execute("select *, if (fp='','fp should not be empty string', '') from sec_dera.sub as S where S.form='10-K' and S.fp!='FY'").fetchall()

In [8]:
common_dera_form_test = "(S.form='10-K' or S.form='20-F' or S.form='40-F')"
common_dera_fy_test = "S.fy>=DATE('2018-01-01')"
common_dera_columns = 'S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom'

In [9]:
def generate_annual_dera_usd_query(what, tags):
    usd_query = f"""
create or replace view sec_dera.fy_{what}_usd_by_lei as
select {common_dera_columns}, max(value) as {what}
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh
where {common_dera_form_test}
      and {common_dera_fy_test}
      and uom='USD'
      and coreg is NULL
      and qtrs=4
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return usd_query

def generate_annual_dera_xyz_query(what, tags):
    # The X term prevents us from collecting foreign currency info that's duplicative of USD info we prefer
    xyz_query = f"""
create or replace view sec_dera.fy_{what}_xyz_by_lei as
select {common_dera_columns}, max(N.value) as {what}
from sec_dera.sub as S left join sec_dera.fy_{what}_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and {common_dera_form_test}
      and {common_dera_fy_test}
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=4
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return xyz_query

def generate_annual_dera_combined_query(tbl, what, month_list):
    query = f"""
create table sec_dera.{tbl} as
select {re.sub(r'[SN].','V_USD.',common_dera_columns)}, V_USD.{what} as {what}_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_{what}_usd_by_lei) as V_USD
where rn=1
UNION ALL
select {re.sub(r'[SN].','V_XYZ.',common_dera_columns)},
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.{what} as {what}_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_{what}_xyz_by_lei) as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     {' '.join(str(nmonths).join(["left join sec_dera.closing_fx FX_", "mo on V_XYZ.uom=FX_", "mo.base and date_diff('month', FX_", "mo.ddate, V_XYZ.ddate)=", ""]) for nmonths in month_list)}
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1
"""
    return query

# print(generate_annual_dera_combined_query('t_r', 'revenue', [1, 2, 3]))

In [10]:
def generate_instant_dera_usd_query(what, tags):
    usd_query = f"""
create or replace view sec_dera.{what}_usd_by_lei as
select {common_dera_columns}, max(value) as {what}
from sec_dera.sub as S
     join sec_dera.num as N on S.adsh=N.adsh
where {common_dera_form_test}
      and {common_dera_fy_test}
      and value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return usd_query

def generate_instant_dera_xyz_query(what, tags):
    xyz_query = f"""
create or replace view sec_dera.{what}_xyz_by_lei as
select {common_dera_columns}, max(value) as {what}
from sec_dera.sub as S
     left join sec_dera.{what}_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and {common_dera_form_test}
      and {common_dera_fy_test}
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return xyz_query

def generate_instant_dera_combined_query(tbl, what, month_list):
    query = f"""
create table sec_dera.{tbl} as
select {re.sub(r'[SN].','V_USD.',common_dera_columns)}, V_USD.{what} as {what}_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.{what}_usd_by_lei) as V_USD
where rn=1
UNION ALL
select {re.sub(r'[SN].','V_XYZ.',common_dera_columns)},
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.{what} as {what}_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.{what}_xyz_by_lei) as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     {' '.join(str(nmonths).join(["left join sec_dera.closing_fx FX_", "mo on V_XYZ.uom=FX_", "mo.base and date_diff('month', FX_", "mo.ddate, V_XYZ.ddate)=", ""]) for nmonths in month_list)}
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1
"""
    return query

print(generate_instant_dera_combined_query('t_f', 'float', [1, 2, 3]))

create table sec_dera.t_f as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.float as float_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.float_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.float as float_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.float_xyz_by_lei) as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

In [11]:
revenue_tags = [
    'Revenue','Revenues','RevenueFromContractsWithCustomers',
    'RevenueFromContractWithCustomerIncludingAssessedTax',
    'RevenueFromContractWithCustomerExcludingAssessedTax',
    'RevenuesNetOfInterestExpense',
    'RegulatedAndUnregulatedOperatingRevenue',
    'RegulatedOperatingRevenuePipelines'
]

income_tags = [
    'ProfitLoss','NetIncomeLoss','ComprehensiveIncome'
]

dera_annual_dict = {
    'revenue': revenue_tags,
    'income': income_tags,
}


for what, tags in dera_annual_dict.items():
    tbl = 't_' + what[0]
    print(f'Creating annual table `{tbl}` for `{what}`')
    
    query_usd = generate_annual_dera_usd_query(what, tags)
    # print(query_usd)
    
    query_xyz = generate_annual_dera_xyz_query(what, tags)
    # print(query_xyz)
    
    qres = engine.execute(f"drop table if exists sec_dera.{tbl}")
    # display(qres.fetchall())
    
    qres = engine.execute(query_usd)
    # display(qres.fetchall())

    qres = engine.execute(query_xyz)
    # display(qres.fetchall())

    query_final = generate_annual_dera_combined_query(tbl, what, [1, 2, 3])
    qres = engine.execute(query_final)
    # print(query_fintal)
    display(qres.fetchall())

Creating annual table `t_r` for `revenue`

[(25909,)]

Creating annual table `t_i` for `income`

[(29955,)]

engine.execute("select * from sec_dera.num where qtrs=4004").fetchall()

engine.execute("select * from sec_dera.sub where adsh='0001628280-21-016934'").fetchall()

engine.execute("select * from sec_dera.t_r where name='INDEPENDENT BANK CORP'").fetchall()

### Float (market cap)

TODO: The float calculation reads the reported overall float without regard to share class.  For companies that have multiple associated tickers, this gives wrong results.  And probably very wrong results for BRK.A vs. BRK.B

engine.execute("select count (*), tag from sec_dera.num where tag like '%Float%' and tag not like '%Floating%' and tag not like '%Floater%' group by tag order by tag").fetchall()

engine.execute("select count (*) from sec_dera.sub as S join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh where (S.form!='10-K' and S.form!='20-F')").fetchall()

In [12]:
print(query_final)

create table sec_dera.t_i as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.income as income_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_income_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.income as income_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_income_xyz_by_lei) as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

### Instant Tables: Assets, Cash, Debt, and Float

These tables all measure point-in-time values.  We only measure the points-in-time that are part of annual reports. 

Many companies report not only the present fiscal year data but two prior years as well.  
The row_number() code ensures we use the latest reported fact for a given year

In [13]:
float_tags = [
    'EntityPublicFloat',
    'EntitysPublicFloat',
    'FreeFloat',
    'PublicFloat',
    'PublicFloatValue'
]

cash_tags = [
    'Cash','CashAndDueFromBanks','CashAndCashEquivalents',
    'CashAndCashEquivalentsUnrestricted', # this has some funkiness with upper/lower case data
    'CashEquivalentsAtCarryingValue',
    'CashAndCashEquivalentsAtCarryingValue',
    'CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities'
]

debt_tags = [
    'LongTermDebt','LongTermDebtFairValue','LongTermDebtAndCapitalLeaseObligations',
    'DebtAndCapitalLeaseObligations','DebtLongtermAndShorttermCombinedAmount',
    'SecuredDebt','UnsecuredDebt','OperatingLeaseLiabilityNoncurrent',
    'SubordinatedDebt','ConvertibleDebt','LongTermLineOfCredit',
    'OtherBorrowings','NotesAndLoansReceivableNetNoncurrent',
    # NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
    'LongTermDebtNoncurrent','LongTermDebtCurrent'
]

dera_instant_dict = {
    'float': float_tags,
    'cash': cash_tags,
    'debt': debt_tags,
    'assets': ['Assets'],
}

for what, tags in dera_instant_dict.items():
    tbl = 't_' + what[0]
    
    print(f'Creating instant table `{tbl}` for `{what}`')

    query_usd = generate_instant_dera_usd_query(what, tags)
    # print(query_usd)
    
    query_xyz = generate_instant_dera_xyz_query(what, tags)
    # print(query_xyz)
    
    qres = engine.execute(f"drop table if exists sec_dera.{tbl}")
    # display(qres.fetchall())
    
    qres = engine.execute(query_usd)
    # display(qres.fetchall())
    
    qres = engine.execute(query_xyz)
    # display(qres.fetchall())
    
    query_final = generate_instant_dera_combined_query(tbl, what, [1, 2, 3])
    # print(query_final)
    qres = engine.execute(query_final)
    display(qres.fetchall())

Creating instant table `t_f` for `float`

[(14731,)]

Creating instant table `t_c` for `cash`

[(31908,)]

Creating instant table `t_d` for `debt`

[(16534,)]

Creating instant table `t_a` for `assets`

[(27156,)]

# Leaving this here in case it's really much more work (and proper work) to sort which shares belong to which ticker,
# which is not generic to creating this table as we do the others.

qres = engine.execute("drop table if exists sec_dera.t_f").fetchall()
qres = engine.execute("""
create or replace view sec_dera.float_by_adsh_ddate as
select S.adsh, fy, max(ddate) as f_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='EntityPublicFloat'
             or tag='EntitysPublicFloat'
             or tag='FreeFloat'
             or tag='PublicFloat'
             or tag='PublicFloatValue')
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_usd_by_lei as
select S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom, max(value) as market_cap
from sec_dera.sub as S
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, T.tname, S.sic, S.fy, N.ddate, N.uom, max(value) as market_cap
from sec_dera.sub as S
     left join sec_dera.float_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate and (X.adsh IS NULL or X.ddate=N.ddate)
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where X.ddate IS NULL
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, S.name, S.lei, T.tname, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_f as
select V_USD.*, V_USD.market_cap as market_cap_usd
from sec_dera.float_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.market_cap as market_cap_usd
from sec_dera.float_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

engine.execute("select * from sec_dera.t_f where name='INDEPENDENT BANK CORP'").fetchall()

### Cash

qres = engine.execute("drop table if exists sec_dera.t_c").fetchall()
qres = engine.execute("""
create or replace view sec_dera.cash_by_adsh_ddate as
select S.adsh, fy, max(ddate) as c_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, fy
""")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.cash_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as cash
from sec_dera.sub as S
     join sec_dera.cash_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.c_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.cash_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as cash
from sec_dera.sub as S
     left join sec_dera.cash_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.cash_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.c_ddate=N.ddate and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and coreg is NULL
      and N.uom!='USD'
      and qtrs=0
      and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_c as
select V_USD.*, V_USD.cash as cash_usd
from sec_dera.cash_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.cash as cash_usd
from sec_dera.cash_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

engine.execute("select * from sec_dera.t_c where name='INDEPENDENT BANK CORP'").fetchall()

engine.execute("""
select count (*), tag from sec_dera.num
where tag='CashAndCashEquivalentsAtCarryingValue' or tag='Cash' or tag='CashEquivalentsAtCarryingValue' or tag='CashAndCashEquivalents'
group by tag order by count (*) desc limit 20
""").fetchall()

### Debt

# Reiterating comment embedded below: we should sum 'LongTermDebtNoncurrent' and 'LongTermDebtCurrent' as one term we MAX with others
qres = engine.execute("drop table if exists sec_dera.t_d").fetchall()

qres = engine.execute("""
create or replace view sec_dera.debt_by_adsh_ddate as
select S.adsh, fy, max(ddate) as d_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
             or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
             or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
             or tag='OperatingLeaseLiabilityNoncurrent'
             or tag='SubordinatedDebt' or tag='ConvertibleDebt'
             or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
             -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
             or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, fy
""")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.debt_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as debt
from sec_dera.sub as S
     join sec_dera.debt_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
           or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
           or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
           or tag='OperatingLeaseLiabilityNoncurrent'
           or tag='SubordinatedDebt' or tag='ConvertibleDebt'
           or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
           -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
           or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.debt_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as debt
from sec_dera.sub as S
     left join sec_dera.debt_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.debt_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and coreg is NULL
      and N.uom!='USD'
      and qtrs=0
      and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
           or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
           or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
           or tag='OperatingLeaseLiabilityNoncurrent'
           or tag='SubordinatedDebt' or tag='ConvertibleDebt'
           or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
           -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
           or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_d as
select V_USD.*, V_USD.debt as debt_usd
from sec_dera.debt_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.debt as debt_usd
from sec_dera.debt_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

engine.execute("select * from sec_dera.t_d where name='INDEPENDENT BANK CORP'").fetchall()

engine.execute("""
select count (*), tag from sec_dera.num
where tag='LongTermDebt' or tag='LongTermDebtFairValue' or tag='LongTermDebtAndCapitalLeaseObligations'
or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt' or tag='SubordinatedDebt' or tag='ConvertibleDebt'
group by tag order by count (*) desc
""").fetchall()

l = engine.execute("""
select name, sic, round(value/1000000.0,1), uom, ddate, nciks, aciks
from sec_dera.sub as S join sec_dera.num as N
on S.adsh=N.adsh
where form='10-K' and fy=DATE('2020-01-01') and tag='DebtLongtermAndShorttermCombinedAmount' order by value desc limit 20
""").fetchall()

l = engine.execute("""
select name, form, tag, value, uom, fy, qtrs, coreg
from sec_dera.sub S join sec_dera.num as N
on S.adsh=N.adsh
where (form='10-K' or form='20-F') and fy >= ddate and date_add('year', -1, fy) < ddate
and (N.tag='Revenues'
     or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
     or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
     or N.tag='RevenuesNetOfInterestExpense'
     or N.tag='RegulatedAndUnregulatedOperatingRevenue'
     or N.tag='RegulatedOperatingRevenuePipelines')
order by name
""").fetchall()
len(l)

### Assets

qres = engine.execute("""
select count (*), form, uom
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or form='20-F' or form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and tag='Assets'
group by form, uom
order by form, count (*) desc
""")
display(qres.fetchall())

qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, value as assets, FX.value * value as assets_usd
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
     join sec_dera.num as FX on N.ddate=FX.ddate
where N.coreg is NULL
      and N.qtrs=0
      and N.tag='Assets'
      and FX.qtrs=0
      and FX.tag=
""")
print(qres.fetchall())

qres = engine.execute("drop table if exists sec_dera.t_a")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_by_adsh_ddate as
select S.adsh, fy, max(ddate) as d_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and tag='Assets'
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as assets
from sec_dera.sub as S
     join sec_dera.assets_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and tag='Assets'
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as assets
from sec_dera.sub as S
     left join sec_dera.assets_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.assets_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and coreg is NULL
      and N.uom!='USD'
      and qtrs=0
      and tag='Assets'
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_a as
select V_USD.*, V_USD.assets as assets_usd
from sec_dera.assets_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.assets as assets_usd
from sec_dera.assets_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

### Income (Annual Profit / Loss)

qres = engine.execute("drop table if exists sec_dera.t_i")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_income_by_adsh_ddate as
select S.adsh, fy, max(ddate) as i_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh -- and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=4
        and (tag='ProfitLoss'
             or tag='NetIncomeLoss'
             or tag='ComprehensiveIncome')
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_income_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as income
from sec_dera.sub as S
--     join sec_dera.fy_income_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on S.adsh=N.adsh -- and AD.i_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=4
      and (tag='ProfitLoss'
             or tag='NetIncomeLoss'
             or tag='ComprehensiveIncome')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_income_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as income
from sec_dera.sub as S
     left join sec_dera.income_usd_by_lei X on S.adsh=X.adsh
--     join sec_dera.fy_income_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate) -- and AD.i_ddate=N.ddate
where X.ddate IS NULL
      and coreg is NULL
      and N.uom!='USD'
      and qtrs=4
      and (tag='ProfitLoss'
             or tag='NetIncomeLoss'
             or tag='ComprehensiveIncome')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_i as
select adsh, cik, name, lei, sic, fy, ddate, uom, income, income as income_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_income_usd_by_lei) as V_USD
where rn=1
UNION ALL
select adsh, cik, name, lei, sic, fy, V_XYZ.ddate, uom, income,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.income as income_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_income_xyz_by_lei) as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1
""")
display(qres.fetchall())

### Fitting Everything Together

The FINANCIALS_BY_LEI table rolls up all the metrics we capture in once place, hopefully with no duplicated rows and only the best facts.

In [14]:
# Ideally we can replace previously reported numbers with updated numbers.  But not yet.

qres = engine.execute("""
create or replace view sec_dera.financials_by_lei as
select R.name, R.lei,
       -- T.tname,
       R.fy, R.ddate, R.sic, revenue_usd, cash_usd, debt_usd, assets_usd, float_usd as market_cap_usd, income_usd
from sec_dera.t_r as R -- left join sec_dera.ticker T on S.cik=T.cik
     left join sec_dera.t_c as C on R.cik=C.cik and R.adsh=C.adsh and R.ddate=C.ddate
     left join sec_dera.t_d as D on R.cik=D.cik and R.adsh=D.adsh and R.ddate=D.ddate
     left join sec_dera.t_a as A on R.cik=A.cik and R.adsh=A.adsh and R.ddate=A.ddate
     left join sec_dera.t_f as F on R.cik=F.cik and R.adsh=F.adsh and R.ddate=F.ddate
     left join sec_dera.t_i as I on R.cik=I.cik and R.adsh=I.adsh and R.ddate=I.ddate
-- where tname is null or tname not like '%-%'
""")
display(qres.fetchall())

qres = engine.execute("""
select * from sec_dera.financials_by_lei
""")
l = qres.fetchall()
len(l)

[(True,)]

25909

engine.execute("select * from sec_dera.financials_by_lei where lei='GJZNVO2UY6DNFNIYH321' order by ddate desc").fetchall()

engine.execute("select * from sec_dera.sub where cik=1174169 and form='40-F'").fetchall()

engine.execute("select * from sec_dera.num as R where (R.adsh='0001174169-20-000018' or R.adsh='0001174169-21-000012') and tag='RevenueFromContractWithCustomerExcludingAssessedTax'").fetchall()

engine.execute("select * from sec_dera.t_r where adsh='0001004315-21-000067' or adsh='0001004315-20-000053'").fetchall()

### An outstanding GLEIF problem:

How far up the hierarchy should we climb?  For PG&E this really matters...

In [17]:
l = engine.execute("""
select A.lei, A.parent_name, R.name, date_format(R.fy, '%Y-%m-%d'), date_format(R.ddate, '%Y-%m-%d'), R.revenue_usd
from (select coalesce(G.ultimate_parent_issuer_lei,U.parent_lei) as lei, U.parent_name
      from rmi_20211120.utility_information as U left join gleif_mdt.gleif_direct_issuer_ultimate_issuer as G on U.parent_lei=G.direct_issuer_lei
      group by coalesce(G.ultimate_parent_issuer_lei,U.parent_lei), U.parent_name) as A
     left join sec_dera.t_r as R on A.lei=R.lei
where A.lei is not null
      and (R.lei is null or year(R.fy)=2020)
order by A.parent_name
""").fetchall()

print(len(l))
display(l)

207

[('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2020-01-01', '2020-12-31', 9660000000.0),
 ('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2020-01-01', '2019-12-31', 10189000000.0),
 ('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2020-01-01', '2018-12-31', 10736000000.0),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2020-01-01', '2019-12-31', 10433000000.0),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2020-01-01', '2020-12-31', 9286000000.0),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2020-01-01', '2018-12-31', 13403000000.0),
 ('549300K5VIUTJXQL7X75', 'Algonquin Power & Utilities Corp.', 'ALGONQUIN POWER & UTILITIES CORP.', '2020-01-01', '2019-12-31', 1626392000.0),
 ('549300K5VIUTJXQL7X75', 'Algonquin Power & Utilities Corp.', 'ALGONQUIN POWER & UTILITIES CORP.', '2020-01-01', '2020-12-31', 1677058000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2020-01-01', '2020-12-31', 1169100000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2020-01-01', '2019-12-31', 1240500000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2020-01-01', '2018-12-31', 1498600000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2020-01-01', '2020-12-31', 3416000000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2020-01-01', '2018-12-31', 3534000000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2020-01-01', '2019-12-31', 3648000000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2020-01-01', '2019-12-31', 5910000000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2020-01-01', '2018-12-31', 6291000000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2020-01-01', '2020-12-31', 5794000000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2020-01-01', '2018-12-31', 16195700000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2020-01-01', '2020-12-31', 14918500000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2020-01-01', '2019-12-31', 15561400000.0),
 ('529900L26LIS2V8PWM23', 'American States Water', 'AMERICAN STATES WATER CO', '2020-01-01', '2020-12-31', 488243000.0),
 ('529900L26LIS2V8PWM23', 'American States Water', 'AMERICAN STATES WATER CO', '2020-01-01', '2019-12-31', 473869000.0),
 ('529900L26LIS2V8PWM23', 'American States Water', 'AMERICAN STATES WATER CO', '2020-01-01', '2018-12-31', 436816000.0),
 ('2138004PVNAV1E9SZP35', 'Antin Infrastructure Partners', None, None, None, None),
 ('549300GW1DWMX7FLDM29', 'ArcLight Capital Partners LLC', None, None, None, None),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2020-01-01', '2019-12-31', 6336000000.0),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2020-01-01', '2020-12-31', 6320000000.0),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2020-01-01', '2018-12-31', 6477000000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2020-01-01', '2019-12-31', 1345622000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2020-01-01', '2020-12-31', 1321891000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2020-01-01', '2018-12-31', 1396893000.0),
 ('CT4UIJ3TUKGYYHMENQ17', 'Balfour Beatty Infrastructure Partners, L.P.', None, None, None, None),
 ('5493002CLOJ5KYT5GB16', 'Basin Electric Power Coop.', None, None, None, None),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2020-01-01', '2020-12-31', 245510000000.0),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2020-01-01', '2019-12-31', 254616000000.0),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2020-01-01', '2018-12-31', 247837000000.0),
 ('COQ1W8HBTZOC1ADPR143', 'Big Rivers Electric Corp.', None, None, None, None),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2020-01-01', '2020-12-31', 1696941000.0),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2020-01-01', '2018-12-31', 1754268000.0),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2020-01-01', '2019-12-31', 1734900000.0),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Asset Management', 'BROOKFIELD ASSET MANAGEMENT INC.', '2020-01-01', '2019-12-31', 67826000000.0),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Asset Management', 'BROOKFIELD ASSET MANAGEMENT INC.', '2020-01-01', '2020-12-31', 62752000000.0),
 ('549300VR7GQZV6W7OR57', 'Buckeye Power, Inc.', None, None, None, None),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2020-01-01', '2019-12-31', 6845000000.0),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2020-01-01', '2018-12-31', 6873000000.0),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2020-01-01', '2020-12-31', 6680000000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'California Independent System Operator Corp.', 'PG&E CORP', '2020-01-01', '2019-12-31', 17129000000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'California Independent System Operator Corp.', 'PG&E CORP', '2020-01-01', '2020-12-31', 18469000000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'California Independent System Operator Corp.', 'PG&E CORP', '2020-01-01', '2018-12-31', 16759000000.0),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2020-01-01', '2019-12-31', 7564000000.0),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2020-01-01', '2020-12-31', 7418000000.0),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2020-01-01', '2018-12-31', 6282000000.0),
 ('5493008ORX814MK1WM19', 'Citizens Corp.', None, None, None, None),
 ('549300I9GWXX4SYOE358', 'City of Holyoke', None, None, None, None),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2020-01-01', '2020-12-31', 1498146000.0),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2020-01-01', '2018-12-31', 1231044000.0),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2020-01-01', '2019-12-31', 1639605000.0),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2020-01-01', '2018-12-31', 12337000000.0),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2020-01-01', '2019-12-31', 12574000000.0),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2020-01-01', '2020-12-31', 12246000000.0),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2020-01-01', '2017-12-31', 12033000000.0),
 ('549300SPFPI3X8V86Z21', 'Corning Natural Gas Holding Corp.', 'CORNING NATURAL GAS HOLDING CORP', '2020-01-01', '2019-09-30', 35539979.0),
 ('549300SPFPI3X8V86Z21', 'Corning Natural Gas Holding Corp.', 'CORNING NATURAL GAS HOLDING CORP', '2020-01-01', '2020-09-30', 32385885.0),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2020-01-01', '2018-12-31', 14212000000.0),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2020-01-01', '2020-12-31', 12177000000.0),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2020-01-01', '2019-12-31', 12669000000.0),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2020-01-01', '2019-12-31', 14401000000.0),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2020-01-01', '2018-12-31', 11199000000.0),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2020-01-01', '2020-12-31', 14172000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2020-01-01', '2018-12-31', 24521000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2020-01-01', '2019-12-31', 25079000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2020-01-01', '2020-12-31', 23868000000.0),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2020-01-01', '2020-12-31', 13578000000.0),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2020-01-01', '2019-12-31', 12347000000.0),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2020-01-01', '2018-12-31', 12657000000.0),
 ('NQZVQT2P5IUF2PGA1Q48', 'Emera Inc.', 'EMERA INC', '2020-01-01', '2020-12-31', 4283656688.371364),
 ('NQZVQT2P5IUF2PGA1Q48', 'Emera Inc.', 'EMERA INC', '2020-01-01', '2019-12-31', 4687071999.365263),
 ('549300SULPFDEWWFVD15', 'Energir Inc.', None, None, None, None),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2020-01-01', '2019-12-31', 10878673000.0),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2020-01-01', '2020-12-31', 10113636000.0),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2020-01-01', '2018-12-31', 11009452000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2020-01-01', '2020-12-31', 4913400000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2020-01-01', '2018-12-31', 4275900000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2020-01-01', '2019-12-31', 5147800000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2020-01-01', '2019-12-31', 8526470000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2020-01-01', '2018-12-31', 8472700000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2020-01-01', '2020-12-31', 8904430000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2020-01-01', '2020-12-31', 33039000000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2020-01-01', '2019-12-31', 34438000000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2020-01-01', '2018-12-31', 35978000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2020-01-01', '2020-12-31', 10790000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2020-01-01', '2018-12-31', 11261000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2020-01-01', '2019-12-31', 11035000000.0),
 ('549300MQYQ9Y065XPR71', 'Fortis, Inc.', 'FORTIS INC.', '2020-01-01', '2020-12-31', 6951411643.770094),
 ('549300MQYQ9Y065XPR71', 'Fortis, Inc.', 'FORTIS INC.', '2020-01-01', '2019-12-31', 6736467578.207348),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2020-01-01', '2018-12-31', 18945000000.0),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2020-01-01', '2020-12-31', 14198000000.0),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2020-01-01', '2019-12-31', 14402000000.0),
 ('549300ZCZ76HYCS0H445', 'Frontier Communications Corp.', 'FRONTIER COMMUNICATIONS CORP', '2020-01-01', '2018-12-31', 8611000000.0),
 ('549300ZCZ76HYCS0H445', 'Frontier Communications Corp.', 'FRONTIER COMMUNICATIONS CORP', '2020-01-01', '2020-12-31', 7155000000.0),
 ('549300ZCZ76HYCS0H445', 'Frontier Communications Corp.', 'FRONTIER COMMUNICATIONS CORP', '2020-01-01', '2019-12-31', 8107000000.0),
 ('5493007UJR2NMSZPGP02', 'Golden Spread Electric Coop., Inc', None, None, None, None),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2020-01-01', '2019-12-31', 2873948000.0),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2020-01-01', '2018-12-31', 2860849000.0),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2020-01-01', '2020-12-31', 2579775000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2020-01-01', '2018-12-31', 6466000000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2020-01-01', '2020-12-31', 4804000000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2020-01-01', '2019-12-31', 6510000000.0),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2020-01-01', '2020-12-31', 1350729000.0),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2020-01-01', '2019-12-31', 1346383000.0),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2020-01-01', '2018-12-31', 1370752000.0),
 ('549300FIA0OYFDEISW66', 'ISO New England Inc.', None, None, None, None),
 ('5QK37QC7NWOJ8D7WVQ45', 'Iberdrola, S.A.', None, None, None, None),
 ('549300NMCKSMDPKQ0502', 'Invenergy LLC', None, None, None, None),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group', 'MDU RESOURCES GROUP INC', '2020-01-01', '2019-12-31', 5336776000.0),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group', 'MDU RESOURCES GROUP INC', '2020-01-01', '2020-12-31', 5532750000.0),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group', 'MDU RESOURCES GROUP INC', '2020-01-01', '2018-12-31', 4531552000.0),
 ('549300QIEIVG0JUPV270', 'Midcontinent Independent System Operator, Inc', None, None, None, None),
 ('549300O4B5CVWMKUES27', 'Midwest Energy Inc.', 'MIDWEST ENERGY EMISSIONS CORP.', '2020-01-01', '2020-12-31', 8158448.0),
 ('549300O4B5CVWMKUES27', 'Midwest Energy Inc.', 'MIDWEST ENERGY EMISSIONS CORP.', '2020-01-01', '2019-12-31', 11417027.0),
 ('549300XB5UQO7U766C18', 'Milliken & Co.', None, None, None, None),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy Inc.', 'NRG ENERGY, INC.', '2020-01-01', '2020-12-31', 9093000000.0),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy Inc.', 'NRG ENERGY, INC.', '2020-01-01', '2019-12-31', 9821000000.0),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy Inc.', 'NRG ENERGY, INC.', '2020-01-01', '2018-12-31', 9478000000.0),
 ('8R95QZMKZLJX5Q2XR704', 'National Grid plc', 'NATIONAL GRID PLC', '2020-01-01', '2020-03-31', 17981021141.975307),
 ('8R95QZMKZLJX5Q2XR704', 'National Grid plc', 'NATIONAL GRID PLC', '2020-01-01', '2019-03-31', 20149853246.753246),
 ('8R95QZMKZLJX5Q2XR704', 'National Grid plc', 'NATIONAL GRID PLC', '2020-01-01', '2021-03-31', 20381445589.72603),
 ('5493003TZVX6QJ0PBO15', 'New Hampshire Electric Coop., Inc.', None, None, None, None),
 ('5493004A26ERKLO7Y203', 'New York Independent System Operator', None, None, None, None),
 ('549300D8GOWWH0SJB189', 'NiSource Inc.', 'NISOURCE INC.', '2020-01-01', '2018-12-31', 4991100000.0),
 ('549300D8GOWWH0SJB189', 'NiSource Inc.', 'NISOURCE INC.', '2020-01-01', '2020-12-31', 4473200000.0),
 ('549300D8GOWWH0SJB189', 'NiSource Inc.', 'NISOURCE INC.', '2020-01-01', '2019-12-31', 5053400000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2020-01-01', '2020-12-31', 1206800000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2020-01-01', '2019-12-31', 1257910000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2020-01-01', '2018-12-31', 1192009000.0),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2020-01-01', '2019-12-31', 2231600000.0),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2020-01-01', '2020-12-31', 2122300000.0),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2020-01-01', '2018-12-31', 2270300000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2020-01-01', '2018-12-31', 1480113000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2020-01-01', '2020-12-31', 1377618000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2020-01-01', '2019-12-31', 1430292000.0),
 ('549300MA7EMERVYDHS24', 'Ohio Valley Electric Corp.', None, None, None, None),
 ('SW4VC32Z0ZKLJKPONQ50', 'Old Dominion Electric Coop.', 'OLD DOMINION ELECTRIC COOPERATIVE', '2020-01-01', '2019-12-31', 932682000.0),
 ('SW4VC32Z0ZKLJKPONQ50', 'Old Dominion Electric Coop.', 'OLD DOMINION ELECTRIC COOPERATIVE', '2020-01-01', '2018-12-31', 932568000.0),
 ('SW4VC32Z0ZKLJKPONQ50', 'Old Dominion Electric Coop.', 'OLD DOMINION ELECTRIC COOPERATIVE', '2020-01-01', '2020-12-31', 807704000.0),
 ('5299004YRCHMOU9FKK67', 'Omya AG', None, None, None, None),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2020-01-01', '2020-12-31', 890107000.0),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2020-01-01', '2018-12-31', 916447000.0),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2020-01-01', '2019-12-31', 919503000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2020-01-01', '2018-12-31', 16759000000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2020-01-01', '2019-12-31', 17129000000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2020-01-01', '2020-12-31', 18469000000.0),
 ('549300M3VK6MP6R72034', 'PJM Interconnection, LLC', None, None, None, None),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2020-01-01', '2018-12-31', 1436613000.0),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2020-01-01', '2019-12-31', 1457603000.0),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2020-01-01', '2020-12-31', 1523012000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2020-01-01', '2020-12-31', 7607000000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2020-01-01', '2018-12-31', 7785000000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2020-01-01', '2019-12-31', 7769000000.0),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2020-01-01', '2020-12-31', 3586982000.0),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2020-01-01', '2019-12-31', 3471209000.0),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2020-01-01', '2018-12-31', 3691247000.0),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2020-01-01', '2018-12-31', 1991000000.0),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2020-01-01', '2020-12-31', 2151000000.0),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2020-01-01', '2019-12-31', 2123000000.0),
 ('XC5Z0IVHFCJDWCPZL176', 'Prairie Power, Inc.', None, None, None, None),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2020-01-01', '2018-12-31', 9696000000.0),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2020-01-01', '2020-12-31', 9603000000.0),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2020-01-01', '2019-12-31', 10076000000.0),
 ('549300NIHMHEL3T1QQ97', 'Rayburn Country Electric Coop., Inc.', None, None, None, None),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2020-01-01', '2020-12-31', 11370000000.0),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2020-01-01', '2019-12-31', 10829000000.0),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2020-01-01', '2018-12-31', 10102000000.0),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2020-01-01', '2020-12-31', 21097000000.0),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2020-01-01', '2019-12-31', 22596000000.0),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2020-01-01', '2018-12-31', 25241000000.0),
 ('DBBJWDBO6IRU2GBUJI29', 'Southern Maryland Electric Coop.', None, None, None, None),
 ('549300NXXWJMFXIKNU79', 'Southwest Power Pool, Inc.', None, None, None, None),
 ('549300X6CK46NKF0S683', 'Startrans IO, LLC', None, None, None, None),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2020-01-01', '2018-12-31', None),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2020-01-01', '2020-12-31', 10113195294.613033),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2020-01-01', '2019-12-31', 10166444011.05982),

In [16]:
stop!  Rnadom queries and explorations below...

SyntaxError: invalid syntax (<ipython-input-16-9dd82345691e>, line 1)

In [ ]:
engine.execute("select count (*) from (select distinct(lei) from sec_dera.sub)").fetchall()

In [ ]:
engine.execute("select S.name, cik, adsh from sec_dera.sub as S where name='DOMINION ENERGY, INC' limit 20").fetchall()

In [ ]:
engine.execute("select * from sec_dera.sub where cik=715957 and form='10-K' limit 20").fetchall()

In [ ]:
engine.execute("select count (*), coreg from sec_dera.num where adsh='0001564590-21-008442' group by coreg limit 20").fetchall()

In [ ]:
engine.execute("select * from sec_dera.num where adsh='0001564590-21-008442' and coreg is null and tag='ProfitLoss' and qtrs=4 order by ddate desc").fetchall()

In [ ]:
engine.execute("select * from sec_dera.sub where adsh='0001564590-21-008442'").fetchall()

In [ ]:
engine.execute("select tag, value from sec_dera.num where adsh='0001564590-21-008442' and coreg='VirginiaElectricAndPowerCompany' and ddate=DATE('2020-12-31') and qtrs=4 order by value desc limit 20").fetchall()

In [ ]:
engine.execute("select coreg, value from sec_dera.num where adsh='0001564590-21-008442' and tag='Revenues' and ddate=DATE('2020-12-31') and qtrs=4 order by value desc limit 20").fetchall()

In [ ]:
engine.execute("select coreg, value from sec_dera.num where adsh='0001564590-21-008444' and tag='RegulatedOperatingRevenue' and ddate=DATE('2020-12-31') order by value desc limit 20").fetchall()