# Create VIEWs on SEC DERA data by LEI

## Full-year FY REVENUES, INCOME

## Point-in-time FLOAT, DEBT, CASH, ASSETS, (EV = FLOAT + DEBT - CASH, EVIC = FLOAT + DEBT)

In this workflow we assume (and depend upon) the interesting NUM data coming only from the consolidated entity (NUM.COREG IS NULL) and not from co-registrants.  
Please explore EXCELON (EXC) and DOMINION ENERGY (D) to see examples of reports with substantial co-registrant entities.

*Prerequites*: DERA-ingest, osc-ingest-rim_utility_transition_hub, GLEIF

In [1]:
import os
import pathlib
import osc_ingest_trino as osc

# Load environment variables from credentials.env
osc.load_credentials_dotenv()

Set session variable CATALOG to make query terms much more compact

In [2]:
iceberg_catalog = 'osc_datacommons_dev'
iceberg_schema = 'dera'
rmi_schema = 'rmi'
gleif_schema = 'sandbox'

dera_prefix = 'dera_'

engine = osc.attach_trino_engine(catalog=iceberg_catalog, schema=iceberg_schema, verbose=False)

import pandas as pd

In [3]:
for tbl in ['t_r', 't_f', 't_d', 't_c', 't_a', 't_i']:
    qres = osc._do_sql(f"drop table if exists {tbl}", engine, verbose=True)

drop table if exists t_r
drop table if exists t_f
drop table if exists t_d
drop table if exists t_c
drop table if exists t_a
drop table if exists t_i

### FX

Many public companies are non-US companies or report facts in units of measurement other than USD.  We build a small table of market knowledge so that we can do foreign exchange (FX) calculations.

In [4]:
sql = (f"""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from {dera_prefix}num
where ddate>=DATE('2017-01-01')
      and (tag='ClosingForeignExchangeRate' or tag='ForeignCurrencyExchangeRateTranslation1')
      and qtrs=0 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_closing_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_closing_fx)

sql = (f"""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from {dera_prefix}num
where ddate>=DATE('2017-01-01')
      and tag='AverageForeignExchangeRate'
      and qtrs=4 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_average_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_average_fx)

In [5]:
import re

def create_fx_dict(df):
    """From a list of FX pairs or non-USD (presumed to convert to USD) FX rates by dates, return a dictionary of FX rates by dates"""
    df_gbp = df[df.uom.str.contains(r'GBP', flags=re.I)]
    df_eur = df[df.uom.str.contains(r'EUR', flags=re.I)]
    df_other = df[~df.uom.str.contains(r'(GBP)|(EUR)', flags=re.I)]
    
    fx_input = {'GBP': df_gbp, 'EUR': df_eur }

    fx_df = {}

    for fx in ['GBP', 'EUR']:
        df_base = fx_input[fx].loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = fx_input[fx].loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'to_USD', 'minval':'from_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    for fx in list({x[int(x[-1]=='USD')-1].upper():x[int(x[0]=='USD')-1].upper() for x in df_other.uom.str.split(r'[-_/]').values }.keys()):
        df_other_fx = df_other[df_other.uom.str.contains(fx, flags=re.I)]
        df_base = df_other_fx.loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = df_other_fx.loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'from_USD', 'minval':'to_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    return fx_df

The `closing_fx` table contains point-in-time FX market information.

The `average_fx` table contains a four-quarter average of FX rates.

In [6]:
def create_fx_table(df_fx, ingest_table):
    df = osc.enforce_sql_column_names(pd.concat(create_fx_dict(df_fx).values()))
    columnschema = osc.create_table_schema_pairs(df, typemap={'datetime64[ns]':'timestamp(6)'})
    qres = osc._do_sql(f"drop table if exists {ingest_table}", engine, verbose=True)

    tabledef = f"""
create table if not exists {ingest_table}(
{columnschema}
) with (
partitioning = array['base'],
format = 'ORC'
)
    """
    table_create = osc._do_sql(tabledef, engine, verbose=True)

    if False:
        dataset_query = (f'SELECT * FROM {ingest_table} limit 10')
        print(dataset_query)
        dataset = osc._do_sql(dataset_query, engine, verbose=True)

    return df

for df, ingest_table in [ (df_closing_fx,'closing_fx'), (df_average_fx,'average_fx') ]:
    df = create_fx_table(df, ingest_table)
    df.to_sql(ingest_table,
             con=engine, schema=iceberg_schema, if_exists='append',
             index=False,
             method=osc.TrinoBatchInsert(batch_size = 1000, verbose = False))

/tmp/ipykernel_10453/2180792887.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_other = df[~df.uom.str.contains(r'(GBP)|(EUR)', flags=re.I)]

drop table if exists closing_fx

create table if not exists closing_fx(
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(6)
) with (
partitioning = array['base'],
format = 'ORC'
)

/tmp/ipykernel_10453/2180792887.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_other = df[~df.uom.str.contains(r'(GBP)|(EUR)', flags=re.I)]

drop table if exists average_fx

create table if not exists average_fx(
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(6)
) with (
partitioning = array['base'],
format = 'ORC'
)

# This complicated query helps us figure out how far and wide we need to reach to grab useful FX information

qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd,
       coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) as date_found,
       date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate) as date_diff
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate and N.coreg is NULL and N.qtrs=0 and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value,
        coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate),
        date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)
having coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) is null or date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)!=0
order by S.name, S.adsh, N.ddate, N.uom
""")
l = qres.fetchall()

import pandas as pd

df = pd.read_sql("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
          and N.coreg is NULL and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
""", engine, index_col=None)
df

qres = engine.execute("select count (*), adsh, uom, tag group by adsh, uom, tag ")

### Annual Tables: Revenue and Income

We  only ingest annual data (NUM.QTRS=4) for Revenues and Income.  

Many companies report not only the present fiscal year data but two prior years as well.  
The row_number() code ensures we use the latest reported fact for a given year

# There are 56 of these and each one has a colorful explanation as to why the report data and the fiscal year are so misaligned

engine.execute("select S.adsh, cik, fy, name from sec_dera.sub as S where S.form='10-K' and S.fy>=DATE('2018-01-01') and S.fy<DATE('2019-01-01')").fetchall()

engine.execute("select *, if (fp='','fp should not be empty string', '') from sec_dera.sub as S where S.form='10-K' and S.fp!='FY'").fetchall()

In [7]:
common_dera_form_test = "(S.form='10-K' or S.form='20-F' or S.form='40-F')"
common_dera_fy_test = "S.fy>=DATE('2014-01-01')"
common_dera_columns = "S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom"
partition_bits = "partition by cik, fy order by date_diff('day', fy, ddate) DESC"

In [8]:
def generate_annual_dera_usd_query(what, tags):
    usd_query = f"""
create or replace view fy_{what}_usd_by_lei as
select {common_dera_columns}, max(value) as {what}
from {dera_prefix}sub as S join {dera_prefix}num as N on S.adsh=N.adsh
where {common_dera_form_test}
      and {common_dera_fy_test}
      and uom='USD'
      and coreg is NULL
      and qtrs=4
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return usd_query

def generate_annual_dera_xyz_query(what, tags):
    # The X term prevents us from collecting foreign currency info that's duplicative of USD info we prefer
    xyz_query = f"""
create or replace view fy_{what}_xyz_by_lei as
select {common_dera_columns}, max(N.value) as {what}
from {dera_prefix}sub as S left join fy_{what}_usd_by_lei X on S.adsh=X.adsh
     join {dera_prefix}num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and {common_dera_form_test}
      and {common_dera_fy_test}
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=4
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return xyz_query

def generate_annual_dera_combined_query(tbl, what, month_list):
    query = f"""
create table {tbl} as
select {re.sub(r'[SN].','V_USD.',common_dera_columns)}, V_USD.{what} as {what}_usd
from (select *,
             row_number() over ({partition_bits}) as rn
      from fy_{what}_usd_by_lei) as V_USD
where rn=1
UNION ALL
select {re.sub(r'[SN].','V_XYZ.',common_dera_columns)},
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.{what} as {what}_usd
from (select *,
             row_number() over ({partition_bits}) as rn
      from fy_{what}_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     {' '.join(str(nmonths).join([f"left join closing_fx FX_",
                                  "mo on V_XYZ.uom=FX_",
                                  "mo.base and date_diff('month', FX_", "mo.ddate, V_XYZ.ddate)=", ""]) for nmonths in month_list)}
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1
"""
    return query

# print(generate_annual_dera_combined_query('t_r', 'revenue', [1, 2, 3]))

In [9]:
def generate_instant_dera_usd_query(what, tags):
    usd_query = f"""
create or replace view {what}_usd_by_lei as
select {common_dera_columns}, max(value) as {what}
from {dera_prefix}sub as S
     join {dera_prefix}num as N on S.adsh=N.adsh
where {common_dera_form_test}
      and {common_dera_fy_test}
      and value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return usd_query

def generate_instant_dera_xyz_query(what, tags):
    xyz_query = f"""
create or replace view {what}_xyz_by_lei as
select {common_dera_columns}, max(value) as {what}
from {dera_prefix}sub as S
     left join {what}_usd_by_lei X on S.adsh=X.adsh
     join {dera_prefix}num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and {common_dera_form_test}
      and {common_dera_fy_test}
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and ({' or '.join(["N.tag='"+tag+"'" for tag in tags])})
group by {common_dera_columns}
"""
    return xyz_query

def generate_instant_dera_combined_query(tbl, what, month_list):
    query = f"""
create table {tbl} as
select {re.sub(r'[SN].','V_USD.',common_dera_columns)}, V_USD.{what} as {what}_usd
from (select *,
             row_number() over ({partition_bits}) as rn
      from {what}_usd_by_lei) as V_USD
where rn=1
UNION ALL
select {re.sub(r'[SN].','V_XYZ.',common_dera_columns)},
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.{what} as {what}_usd
from (select *,
             row_number() over ({partition_bits}) as rn
      from {what}_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     {' '.join(str(nmonths).join([f"left join closing_fx FX_",
                                  "mo on V_XYZ.uom=FX_",
                                  "mo.base and date_diff('month', FX_",
                                  "mo.ddate, V_XYZ.ddate)=",
                                  ""]) for nmonths in month_list)}
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1
"""
    return query

print(generate_instant_dera_combined_query('t_f', 'float', [1, 2, 3]))

create table t_f as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.float as float_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from float_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.float as float_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from float_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

In [10]:
revenue_tags = [
    'Revenue','Revenues','RevenueFromContractsWithCustomers',
    'RevenueFromContractWithCustomerIncludingAssessedTax',
    'RevenueFromContractWithCustomerExcludingAssessedTax',
    'RevenuesNetOfInterestExpense',
    'RegulatedAndUnregulatedOperatingRevenue',
    'RegulatedOperatingRevenuePipelines',
    'SalesRevenueGoodsNet'
]

income_tags = [
    'ProfitLoss','NetIncomeLoss','ComprehensiveIncome'
]

dera_annual_dict = {
    'revenue': revenue_tags,
    'income': income_tags,
}


for what, tags in dera_annual_dict.items():
    tbl = 't_' + what[0]
    print(f'Creating annual table `{tbl}` for `{what}`')
    
    query_usd = generate_annual_dera_usd_query(what, tags)
    print(query_usd)
    
    query_xyz = generate_annual_dera_xyz_query(what, tags)
    print(query_xyz)
    
    qres = osc._do_sql(f"drop table if exists {tbl}", engine, verbose=True)
    qres = osc._do_sql(query_usd, engine, verbose=False)
    qres = osc._do_sql(query_xyz, engine, verbose=False)

    query_final = generate_annual_dera_combined_query(tbl, what, [1, 2, 3])
    qres = osc._do_sql(query_final, engine, verbose=True)

Creating annual table `t_r` for `revenue`

create or replace view fy_revenue_usd_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as revenue
from dera_sub as S join dera_num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and uom='USD'
      and coreg is NULL
      and qtrs=4
      and (N.tag='Revenue' or N.tag='Revenues' or N.tag='RevenueFromContractsWithCustomers' or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax' or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax' or N.tag='RevenuesNetOfInterestExpense' or N.tag='RegulatedAndUnregulatedOperatingRevenue' or N.tag='RegulatedOperatingRevenuePipelines' or N.tag='SalesRevenueGoodsNet')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom


create or replace view fy_revenue_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(N.value) as revenue
from dera_sub as S left join fy_revenue_usd_by_lei X on S.adsh=X.adsh
     join dera_num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=4
      and (N.tag='Revenue' or N.tag='Revenues' or N.tag='RevenueFromContractsWithCustomers' or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax' or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax' or N.tag='RevenuesNetOfInterestExpense' or N.tag='RegulatedAndUnregulatedOperatingRevenue' or N.tag='RegulatedOperatingRevenuePipelines' or N.tag='SalesRevenueGoodsNet')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom

drop table if exists t_r

create table t_r as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.revenue as revenue_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from fy_revenue_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.revenue as revenue_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from fy_revenue_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

[(34149,)]
Creating annual table `t_i` for `income`

create or replace view fy_income_usd_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as income
from dera_sub as S join dera_num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and uom='USD'
      and coreg is NULL
      and qtrs=4
      and (N.tag='ProfitLoss' or N.tag='NetIncomeLoss' or N.tag='ComprehensiveIncome')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom


create or replace view fy_income_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(N.value) as income
from dera_sub as S left join fy_income_usd_by_lei X on S.adsh=X.adsh
     join dera_num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=4
      and (N.tag='ProfitLoss' or N.tag='NetIncomeLoss' or N.tag='ComprehensiveIncome')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom

drop table if exists t_i

create table t_i as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.income as income_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from fy_income_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.income as income_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from fy_income_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

[(43901,)]

engine.execute("describe t_r").fetchall()

engine.execute("select DISTINCT * from t_r where name='SHAW COMMUNICATIONS INC'").fetchall()

engine.execute(f"""
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.revenue as revenue_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_revenue_usd_by_lei) as V_USD
where rn=1 and V_USD.lei='549300SCT0RG6178CI40'
""").fetchall()

engine.execute(f"""
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.revenue as revenue_usd
from (select *,
             row_number() over (partition by cik, ddate order by fy desc) as rn
      from sec_dera.fy_revenue_xyz_by_lei) as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1 and V_XYZ.lei='549300SCT0RG6178CI40'
""").fetchall()

engine.execute(f"""
select * from
(select *, row_number() over (partition by cik, ddate order by fy desc) as rn
from sec_dera.fy_revenue_xyz_by_lei) as V_XYZ
    left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
    left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
where V_XYZ.rn=1 and V_XYZ.lei='549300SCT0RG6178CI40'
""").fetchall()

engine.execute(f"""describe sec_dera.closing_fx""").fetchall()

engine.execute(f"""
select * from sec_dera.closing_fx
where base='CAD' and year(ddate)=2019
order by ddate
""").fetchall()

engine.execute("select * from sec_dera.sub where adsh='0001628280-21-016934'").fetchall()

engine.execute("select * from sec_dera.t_r where name='INDEPENDENT BANK CORP'").fetchall()

engine.execute("select count (*), tag from sec_dera.num where tag like '%Float%' and tag not like '%Floating%' and tag not like '%Floater%' group by tag order by tag").fetchall()

engine.execute("select count (*) from sec_dera.sub as S join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh where (S.form!='10-K' and S.form!='20-F')").fetchall()

### Instant Tables: Assets, Cash, Debt, and Float (market cap)

These tables all measure point-in-time values.  We only measure the points-in-time that are part of annual reports. 

Many companies report not only the present fiscal year data but two prior years as well.  
The row_number() code ensures we use the latest reported fact for a given year

TODO: The float calculation reads the reported overall float without regard to share class.  For companies that have multiple associated tickers, this gives wrong results.  And probably very wrong results for BRK.A vs. BRK.B
For starters, look at NG (National Grid plc), NGG (US Depository of NG), and its various preferred classes

In [11]:
float_tags = [
    'EntityPublicFloat',
    'FreeFloat',
    'PublicFloat',
    'PublicFloatValue',
    'ComputedFloat',
    'ComputedMarketFloat',
    'ComputedTreasuryFloat',
]

cash_tags = [
    'Cash','CashAndDueFromBanks','CashAndCashEquivalents',
    'CashAndCashEquivalentsUnrestricted', # this has some funkiness with upper/lower case data
    'CashEquivalentsAtCarryingValue',
    'CashAndCashEquivalentsAtCarryingValue',
    'CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities'
]

debt_tags = [
    'LongTermDebt','LongTermDebtFairValue','LongTermDebtAndCapitalLeaseObligations',
    'DebtAndCapitalLeaseObligations','DebtLongtermAndShorttermCombinedAmount',
    'SecuredDebt','UnsecuredDebt','OperatingLeaseLiabilityNoncurrent',
    'SubordinatedDebt','ConvertibleDebt','LongTermLineOfCredit',
    'OtherBorrowings','NotesAndLoansReceivableNetNoncurrent',
    # NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
    'LongTermDebtNoncurrent','LongTermDebtCurrent'
]

dera_instant_dict = {
    'float': float_tags,
    'cash': cash_tags,
    'debt': debt_tags,
    'assets': ['Assets'],
}

for what, tags in dera_instant_dict.items():
    tbl = 't_' + what[0]
    
    print(f'Creating instant table `{tbl}` for `{what}`')

    query_usd = generate_instant_dera_usd_query(what, tags)
    print(query_usd)
    
    query_xyz = generate_instant_dera_xyz_query(what, tags)
    print(query_xyz)
    
    qres = osc._do_sql(f"drop table if exists {tbl}", engine, verbose=True)    
    qres = osc._do_sql(query_usd, engine, verbose=False)    
    qres = osc._do_sql(query_xyz, engine, verbose=False)    
    query_final = generate_instant_dera_combined_query(tbl, what, [1, 2, 3])
    qres = osc._do_sql(query_final, engine, verbose=True)

Creating instant table `t_f` for `float`

create or replace view float_usd_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as float
from dera_sub as S
     join dera_num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='EntityPublicFloat' or N.tag='FreeFloat' or N.tag='PublicFloat' or N.tag='PublicFloatValue' or N.tag='ComputedFloat' or N.tag='ComputedMarketFloat' or N.tag='ComputedTreasuryFloat')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom


create or replace view float_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as float
from dera_sub as S
     left join float_usd_by_lei X on S.adsh=X.adsh
     join dera_num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='EntityPublicFloat' or N.tag='FreeFloat' or N.tag='PublicFloat' or N.tag='PublicFloatValue' or N.tag='ComputedFloat' or N.tag='ComputedMarketFloat' or N.tag='ComputedTreasuryFloat')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom

drop table if exists t_f

create table t_f as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.float as float_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from float_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.float as float_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from float_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

[(35988,)]
Creating instant table `t_c` for `cash`

create or replace view cash_usd_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as cash
from dera_sub as S
     join dera_num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='Cash' or N.tag='CashAndDueFromBanks' or N.tag='CashAndCashEquivalents' or N.tag='CashAndCashEquivalentsUnrestricted' or N.tag='CashEquivalentsAtCarryingValue' or N.tag='CashAndCashEquivalentsAtCarryingValue' or N.tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom


create or replace view cash_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as cash
from dera_sub as S
     left join cash_usd_by_lei X on S.adsh=X.adsh
     join dera_num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='Cash' or N.tag='CashAndDueFromBanks' or N.tag='CashAndCashEquivalents' or N.tag='CashAndCashEquivalentsUnrestricted' or N.tag='CashEquivalentsAtCarryingValue' or N.tag='CashAndCashEquivalentsAtCarryingValue' or N.tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom

drop table if exists t_c

create table t_c as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.cash as cash_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from cash_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.cash as cash_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from cash_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

[(43435,)]
Creating instant table `t_d` for `debt`

create or replace view debt_usd_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as debt
from dera_sub as S
     join dera_num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='LongTermDebt' or N.tag='LongTermDebtFairValue' or N.tag='LongTermDebtAndCapitalLeaseObligations' or N.tag='DebtAndCapitalLeaseObligations' or N.tag='DebtLongtermAndShorttermCombinedAmount' or N.tag='SecuredDebt' or N.tag='UnsecuredDebt' or N.tag='OperatingLeaseLiabilityNoncurrent' or N.tag='SubordinatedDebt' or N.tag='ConvertibleDebt' or N.tag='LongTermLineOfCredit' or N.tag='OtherBorrowings' or N.tag='NotesAndLoansReceivableNetNoncurrent' or N.tag='LongTermDebtNoncurrent' or N.tag='LongTermDebtCurrent')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom


create or replace view debt_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as debt
from dera_sub as S
     left join debt_usd_by_lei X on S.adsh=X.adsh
     join dera_num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='LongTermDebt' or N.tag='LongTermDebtFairValue' or N.tag='LongTermDebtAndCapitalLeaseObligations' or N.tag='DebtAndCapitalLeaseObligations' or N.tag='DebtLongtermAndShorttermCombinedAmount' or N.tag='SecuredDebt' or N.tag='UnsecuredDebt' or N.tag='OperatingLeaseLiabilityNoncurrent' or N.tag='SubordinatedDebt' or N.tag='ConvertibleDebt' or N.tag='LongTermLineOfCredit' or N.tag='OtherBorrowings' or N.tag='NotesAndLoansReceivableNetNoncurrent' or N.tag='LongTermDebtNoncurrent' or N.tag='LongTermDebtCurrent')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom

drop table if exists t_d

create table t_d as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.debt as debt_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from debt_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.debt as debt_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from debt_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

[(29154,)]
Creating instant table `t_a` for `assets`

create or replace view assets_usd_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as assets
from dera_sub as S
     join dera_num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='Assets')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom


create or replace view assets_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(value) as assets
from dera_sub as S
     left join assets_usd_by_lei X on S.adsh=X.adsh
     join dera_num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
where X.ddate IS NULL
      and (S.form='10-K' or S.form='20-F' or S.form='40-F')
      and S.fy>=DATE('2014-01-01')
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (N.tag='Assets')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom

drop table if exists t_a

create table t_a as
select V_USD.adsh, V_USD.cik, V_USD.name, V_USD.lei, V_USD.sic, V_USD.fy, V_USD.ddate, V_USD.uom, V_USD.assets as assets_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from assets_usd_by_lei) as V_USD
where rn=1
UNION ALL
select V_XYZ.adsh, V_XYZ.cik, V_XYZ.name, V_XYZ.lei, V_XYZ.sic, V_XYZ.fy, V_XYZ.ddate, V_XYZ.uom,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.assets as assets_usd
from (select *,
             row_number() over (partition by cik, fy order by date_diff('day', fy, ddate) DESC) as rn
      from assets_xyz_by_lei) as V_XYZ
     left join closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1 left join closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2 left join closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where rn=1

[(44397,)]

In [12]:
# cik=1056903 
engine.execute(f"""
select *, row_number() over (partition by cik, fy order by abs(date_diff('day', fy, ddate))) as rn
from float_usd_by_lei where lei='529900L26LIS2V8PWM23' order by fy, ddate
""").fetchall()

[('0001056903-17-000003', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2016-01-01 00:00:00.000', '2016-06-30 00:00:00.000', 'USD', 1601802000.0, 1),
 ('0001056903-17-000003', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2016-01-01 00:00:00.000', '2017-02-28 00:00:00.000', 'USD', 1629577000.0, 2),
 ('0001056903-18-000006', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2017-01-01 00:00:00.000', '2017-06-30 00:00:00.000', 'USD', 1737328000.0, 1),
 ('0001056903-18-000006', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2017-01-01 00:00:00.000', '2018-02-28 00:00:00.000', 'USD', 1963913000.0, 2),
 ('0001056903-19-000004', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2018-01-01 00:00:00.000', '2018-06-30 00:00:00.000', 'USD', 2099687000.0, 1),
 ('0001056903-19-000004', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2018-01-01 00:00:00.000', '2019-02-28 00:00:00.000', 'USD', 2625678000.0, 2),
 ('0001056903-20-000018', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2019-01-01 00:00:00.000', '2019-06-30 00:00:00.000', 'USD', 2771217000.0, 1),
 ('0001056903-21-000021', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2020-01-01 00:00:00.000', '2020-06-30 00:00:00.000', 'USD', 2900179000.0, 1),
 ('0001056903-22-000022', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2021-01-01 00:00:00.000', '2021-06-30 00:00:00.000', 'USD', 2938292000.0, 1),
 ('0001628280-23-005869', 1056903, 'AMERICAN STATES WATER CO', '529900L26LIS2V8PWM23', 4941, '2022-01-01 00:00:00.000', '2022-06-30 00:00:00.000', 'USD', 3012286000.0, 1)]

# Leaving this here in case it's really much more work (and proper work) to sort which shares belong to which ticker,
# which is not generic to creating this table as we do the others.

qres = engine.execute("drop table if exists sec_dera.t_f").fetchall()
qres = engine.execute("""
create or replace view sec_dera.float_by_adsh_ddate as
select S.adsh, fy, max(ddate) as f_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='EntityPublicFloat'
             or tag='EntitysPublicFloat'
             or tag='FreeFloat'
             or tag='PublicFloat'
             or tag='PublicFloatValue')
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_usd_by_lei as
select S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom, max(value) as market_cap
from sec_dera.sub as S
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, T.tname, S.sic, S.fy, N.ddate, N.uom, max(value) as market_cap
from sec_dera.sub as S
     left join sec_dera.float_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate and (X.adsh IS NULL or X.ddate=N.ddate)
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where X.ddate IS NULL
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, S.name, S.lei, T.tname, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_f as
select V_USD.*, V_USD.market_cap as market_cap_usd
from sec_dera.float_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.market_cap as market_cap_usd
from sec_dera.float_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

engine.execute("select * from sec_dera.t_f where name='INDEPENDENT BANK CORP'").fetchall()

### Fitting Everything Together

The FINANCIALS_BY_LEI table rolls up all the metrics we capture in once place, hopefully with no duplicated rows and only the best facts.

In [13]:
# Ideally we can replace previously reported numbers with updated numbers.  But not yet.

qres = osc._do_sql(f"""
create or replace view financials_by_lei as
select R.name, R.lei, R.cik, if(S.countryinc!='',S.countryinc,S.countryba) as country,
       -- T.tname,
       R.fy, R.ddate, R.sic, revenue_usd, income_usd, float_usd as market_cap_usd, debt_usd, cash_usd, assets_usd
from t_r as R -- left join ticker T on S.cik=T.cik
     join {dera_prefix}sub as S on R.cik=S.cik and R.fy=S.fy and (S.form='10-K' or S.form='20-F' or S.form='40-F')
     left join t_i as I on R.cik=I.cik and R.ddate=I.ddate
     left join t_f as F on R.cik=F.cik and R.fy=F.fy -- year(R.ddate)=year(F.ddate) 
     left join t_d as D on R.cik=D.cik and R.ddate=D.ddate
     left join t_c as C on R.cik=C.cik and R.ddate=C.ddate
     left join t_a as A on R.cik=A.cik and R.ddate=A.ddate
-- where tname is null or tname not like '%-%'
""", engine, verbose=True)

qres = engine.execute(f"""
select count(*) from financials_by_lei
""")
print(qres.fetchall())

create or replace view financials_by_lei as
select R.name, R.lei, R.cik, if(S.countryinc!='',S.countryinc,S.countryba) as country,
       -- T.tname,
       R.fy, R.ddate, R.sic, revenue_usd, income_usd, float_usd as market_cap_usd, debt_usd, cash_usd, assets_usd
from t_r as R -- left join ticker T on S.cik=T.cik
     join dera_sub as S on R.cik=S.cik and R.fy=S.fy and (S.form='10-K' or S.form='20-F' or S.form='40-F')
     left join t_i as I on R.cik=I.cik and R.ddate=I.ddate
     left join t_f as F on R.cik=F.cik and R.fy=F.fy -- year(R.ddate)=year(F.ddate)
     left join t_d as D on R.cik=D.cik and R.ddate=D.ddate
     left join t_c as C on R.cik=C.cik and R.ddate=C.ddate
     left join t_a as A on R.cik=A.cik and R.ddate=A.ddate
-- where tname is null or tname not like '%-%'

[(35055,)]

In [14]:
qres = engine.execute(f"""
select count(*), year(ddate) from t_r group by year(ddate) order by year(ddate)
""")
qres.fetchall()

[(14, 2014),
 (63, 2015),
 (2957, 2016),
 (3883, 2017),
 (5359, 2018),
 (5484, 2019),
 (5496, 2020),
 (5845, 2021),
 (4946, 2022),
 (102, 2023)]

engine.execute("select * from sec_dera.financials_by_lei where lei='8R95QZMKZLJX5Q2XR704' order by ddate desc").fetchall()

engine.execute("select * from sec_dera.sub where cik=1174169 and form='40-F'").fetchall()

engine.execute("select * from sec_dera.num as R where (R.adsh='0001174169-20-000018' or R.adsh='0001174169-21-000012') and tag='RevenueFromContractWithCustomerExcludingAssessedTax'").fetchall()

engine.execute("select * from sec_dera.t_r where adsh='0001004315-21-000067' or adsh='0001004315-20-000053'").fetchall()

### An outstanding GLEIF problem:

How far up the hierarchy should we climb?  For PG&E this really matters...

In [15]:
engine.execute(f"select * from t_r where lei='I1BZKREC126H0VB1BL91' order by fy, ddate").fetchall()

[('0001326160-18-000034', 1326160, 'DUKE ENERGY CORP', 'I1BZKREC126H0VB1BL91', 4931, '2017-01-01 00:00:00.000', '2017-12-31 00:00:00.000', 'USD', 23565000000.0),
 ('0001326160-19-000057', 1326160, 'DUKE ENERGY CORP', 'I1BZKREC126H0VB1BL91', 4931, '2018-01-01 00:00:00.000', '2018-12-31 00:00:00.000', 'USD', 24521000000.0),
 ('0001326160-20-000034', 1326160, 'DUKE ENERGY CORP', 'I1BZKREC126H0VB1BL91', 4931, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'USD', 25079000000.0),
 ('0001326160-21-000063', 1326160, 'DUKE ENERGY CORP', 'I1BZKREC126H0VB1BL91', 4931, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 'USD', 23868000000.0),
 ('0001326160-22-000072', 1326160, 'DUKE ENERGY CORP', 'I1BZKREC126H0VB1BL91', 4931, '2021-01-01 00:00:00.000', '2021-12-31 00:00:00.000', 'USD', 25097000000.0),
 ('0001326160-23-000073', 1326160, 'DUKE ENERGY CORP', 'I1BZKREC126H0VB1BL91', 4931, '2022-01-01 00:00:00.000', '2022-12-31 00:00:00.000', 'USD', 28768000000.0)]

In [16]:
l = engine.execute(f"""
select A.lei, A.parent_name, R.name, date_format(R.fy, '%Y-%m-%d'), date_format(R.ddate, '%Y-%m-%d'), R.revenue_usd
from (select coalesce(G.ultimate_parent_issuer_lei,U.parent_lei) as lei, U.parent_name
      from {rmi_schema}.utility_information_2023 as U left join {gleif_schema}.gleif_direct_issuer_ultimate_issuer as G on U.parent_lei=G.direct_issuer_lei
      group by coalesce(G.ultimate_parent_issuer_lei,U.parent_lei), U.parent_name) as A
     left join t_r as R on A.lei=R.lei
where A.lei is not null
      and (R.lei is null or year(R.fy)=2020)
order by A.parent_name
""").fetchall()

print(len(l))
display(l)

198

[('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2020-01-01', '2020-12-31', 9660000000.0),
 ('LQPXMHHNJKIPJYE53543', 'Alberta Investment Management Corp.', None, None, None, None),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2020-01-01', '2020-12-31', 9286000000.0),
 ('549300K5VIUTJXQL7X75', 'Algonquin Power & Utilities Corp.', 'ALGONQUIN POWER & UTILITIES CORP.', '2020-01-01', '2020-12-31', 1677058000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2020-01-01', '2020-12-31', 1169100000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2020-01-01', '2020-12-31', 3416000000.0),
 ('5493006MHB84DD0ZWV18', 'Alphabet Inc.', 'ALPHABET INC.', '2020-01-01', '2020-12-31', 182527000000.0),
 ('96950032TUYMW11FB530', 'Alstom SA', None, None, None, None),
 ('549300D7A8QA85Z2MH11', 'AltaGas Ltd.', 'ALTAGAS LTD.', '2020-01-01', '2020-12-31', 4355637001.130126),
 ('529900NZXZGBCBXYY327', 'Amaresco, Inc.', 'AMERESCO, INC.', '2020-01-01', '2020-12-31', 1032275000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2020-01-01', '2020-12-31', 5794000000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2020-01-01', '2020-12-31', 14918500000.0),
 ('529900L26LIS2V8PWM23', 'American States Water Co.', 'AMERICAN STATES WATER CO', '2020-01-01', '2020-12-31', 488243000.0),
 ('549300DXHIJQMD5WFW18', 'American Water Works Co.', 'AMERICAN WATER WORKS COMPANY, INC.', '2020-01-01', '2020-12-31', 3777000000.0),
 ('2138004PVNAV1E9SZP35', 'Antin Infrastructure Partners', None, None, None, None),
 ('549300GW1DWMX7FLDM29', 'ArcLight Capital Partners LLC', None, None, None, None),
 ('5493004QNJ0OEMFZ1Q24', 'Ardian', None, None, None, None),
 ('529900JUV61FH7B8VW38', 'Ares Management Corp.', 'ARES MANAGEMENT CORP', '2020-01-01', '2020-12-31', 1764046000.0),
 ('549300TM49SDIMQVZT63', 'Arkansas Electric Coop.', None, None, None, None),
 ('HKLBLS6XDIGPD8SZXB37', 'Associated Electric Coop., Inc.', None, None, None, None),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2020-01-01', '2020-12-31', 6320000000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2020-01-01', '2020-12-31', 1321891000.0),
 ('213800LH1BZH3DI6G760', 'BP PLC', None, None, None, None),
 ('5493002CLOJ5KYT5GB16', 'Basin Electric Power Coop.', None, None, None, None),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2020-01-01', '2020-12-31', 245510000000.0),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2020-01-01', '2020-12-31', 1696941000.0),
 ('JPS6QQDJBC8Z2A6MSG78', 'Brazos Electric Power Coop., Inc.', None, None, None, None),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Asset Management', 'BROOKFIELD ASSET MANAGEMENT INC.', '2020-01-01', '2020-12-31', 62752000000.0),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Renewable Partners LP', 'BROOKFIELD ASSET MANAGEMENT INC.', '2020-01-01', '2020-12-31', 62752000000.0),
 ('549300VR7GQZV6W7OR57', 'Buckeye Power, Inc.', None, None, None, None),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2020-01-01', '2020-12-31', 6680000000.0),
 ('549300YJCTPJBTK7IJ81', 'CONSOL Energy Inc.', None, None, None, None),
 ('HWR6ATEU4L0XN8IT6Y39', 'Caisse de Depot et Placement du Quebec', None, None, None, None),
 ('70DNWEAINTGFO4DMV441', 'Canada Pension Plan Investment Board', None, None, None, None),
 ('549300GDKOXG1CUP3S52', 'Carroll Electric Coop. Corp.', None, None, None, None),
 ('HR0I3LSP7EH9UR2SSH34', 'Cascade Investment, LLC', None, None, None, None),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2020-01-01', '2020-12-31', 7418000000.0),
 ('E26EDV109X6EEPBKVH76', 'Centrica plc', None, None, None, None),
 ('254900WW0FDCKAOCKE74', 'Chesapeake Utilities Corp.', 'CHESAPEAKE UTILITIES CORP', '2020-01-01', '2020-12-31', 488198000.0),
 ('VA8TZDWPEZYU430RZ444', 'Chevron Corp.', None, None, None, None),
 ('529900A76GOP0PGNHT63', 'Chubu Electric Power Co., Inc.', None, None, None, None),
 ('353800MV866ELME96Q46', 'Chugoku Electric Power Co., Inc.', None, None, None, None),
 ('549300C841GHSUPKR373', 'Clearway Energy, Inc.', 'CLEARWAY ENERGY, INC.', '2020-01-01', '2020-12-31', 1199000000.0),
 ('549300C841GHSUPKR373', 'Clearway Energy, Inc.', 'CLEARWAY ENERGY LLC', '2020-01-01', '2020-12-31', 1199000000.0),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2020-01-01', '2020-12-31', 1498146000.0),
 ('549300LAY2IQSH15G008', 'Cobb Electric Membership Corp.', None, None, None, None),
 ('549300FL0Q3X9HUSF682', 'Connecticut Municipal Electric Energy Coop', None, None, None, None),
 ('WPTL2Z3FIYTHSP5V2253', 'ConocoPhillips', None, None, None, None),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2020-01-01', '2020-12-31', 12246000000.0),
 ('549300F8Y20RYGNGV346', 'Constellation Energy Corp.', None, None, None, None),
 ('724500U5UC8JDZOJZS93', 'DIF Management B.V.', None, None, None, None),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2020-01-01', '2020-12-31', 12177000000.0),
 ('549300MDUY8PN52FWH02', 'Dairyland Power Coop.', None, None, None, None),
 ('549300XSRDPV7OLEL437', 'District Energy St. Paul, Inc.\xa0', None, None, None, None),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2020-01-01', '2020-12-31', 14172000000.0),
 ('5493003S21INSLK2IP73', 'Dow Inc.', 'DOW INC.', '2020-01-01', '2020-12-31', 38542000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2020-01-01', '2020-12-31', 23868000000.0),
 ('549300X3UK4GG3FNMO06', 'EDF Trading, Ltd.', None, None, None, None),
 ('LAXUQCHT4FH58LRZDY46', 'ENGIE SA', None, None, None, None),
 ('7NUG80E5OSRJXHJL2M92', 'East Kentucky Power Coop., Inc.', None, None, None, None),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2020-01-01', '2020-12-31', 13578000000.0),
 ('549300KMHPUAQI8VEH90', 'Electric Power Development Co., Ltd.', None, None, None, None),
 ('NQZVQT2P5IUF2PGA1Q48', 'Emera, Inc.', 'EMERA INC', '2020-01-01', '2020-12-31', 4292489230.03803),
 ('98TPTUM4IVMFCZBCUR27', 'Enbridge Inc.', 'ENBRIDGE INC', '2020-01-01', '2020-12-31', 30472307761.441425),
 ('WOCMU6HCI0OJWNPRZS33', 'Enel SpA', None, None, None, None),
 ('529900CLC3WDMGI9VH80', 'Energias de Portugal, S.A.', None, None, None, None),
 ('549300SULPFDEWWFVD15', 'Energir, Inc.', None, None, None, None),
 ('2549005DRFNXGKPLBN86', 'Energy Capital Partners', None, None, None, None),
 ('5493003HK03UVPUSUP12', 'Energy Harbor Corp.', None, None, None, None),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2020-01-01', '2020-12-31', 10113636000.0),
 ('K4CDIF4M54DJZ6TB4Q48', 'Enterprise Products Partners L.P.', 'ENTERPRISE PRODUCTS PARTNERS L.P.', '2020-01-01', '2020-12-31', 27199700000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2020-01-01', '2020-12-31', 4913400000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2020-01-01', '2020-12-31', 8904430000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2020-01-01', '2020-12-31', 33039000000.0),
 ('J3WHBG0MTS7O8ZVMDC91', 'Exxon Mobil Corp.', 'EXXON MOBIL CORP', '2020-01-01', '2020-12-31', 181502000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2020-01-01', '2020-12-31', 10790000000.0),
 ('549300M3I10QJUPNU131', 'Florida Municipal Power Agency', None, None, None, None),
 ('549300DEZG7Z4LU6BC91', 'Fonds de solidarite FTQ', None, None, None, None),
 ('549300MQYQ9Y065XPR71', 'Fortis, Inc.', 'FORTIS INC.', '2020-01-01', '2020-12-31', 6965744872.93676),
 ('549300Y3DMQ07L581Y27', 'Fortistar LLC', None, None, None, None),
 ('WN4348N25IFBOKVFFA94', 'Freepoint Commodities LLC', None, None, None, None),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2020-01-01', '2020-12-31', 14198000000.0),
 ('549300ZCZ76HYCS0H445', 'Frontier Communications Corp.', 'FRONTIER COMMUNICATIONS CORP', '2020-01-01', '2020-12-31', 7155000000.0),
 ('549300SRU8020X1X9J22', 'FuelCell Energy, Inc.', 'FUELCELL ENERGY INC', '2020-01-01', '2020-10-31', 70871000.0),
 ('549300QVH6UAIPUV5M94', 'Gainesville Regional Utilities', None, None, None, None),
 ('3C7474T6CDKPR9K6YT9', 'General Electric Co.', None, None, None, None),
 ('549300XGK5KWQHON4Q79', 'Grand River Dam Authority', None, None, None, None),
 ('5493007CIM8IF8LIUC91', 'Great River Energy', None, None, None, None),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2020-01-01', '2020-12-31', 2579775000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2020-01-01', '2020-12-31', 4804000000.0),
 ('549300DT7P5DOCSYX056', 'Hoosier Energy Rural Electric Coop., Inc.', None, None, None, None),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2020-01-01', '2020-12-31', 1350729000.0),
 ('549300FIA0OYFDEISW66', 'ISO New England, Inc.', None, None, None, None),
 ('J48DJYXDTLHM30UMYI18', 'ITOCHU Corp.', None, None, None, None),
 ('5QK37QC7NWOJ8D7WVQ45', 'Iberdrola, S.A.', None, None, None, None),
 ('549300WHWX5TZ5O15D48', 'Imperial Irrigation District', None, None, None, None),
 ('AX0ZCCVOQ71Z4RXBL233', 'Indiana Municipal Power Agency', None, None, None, None),
 ('824LMFJDH41EY779Q875', 'International Paper Co.', 'INTERNATIONAL PAPER CO', '2020-01-01', '2020-12-31', 20580000000.0),
 ('549300NMCKSMDPKQ0502', 'Invenergy, LLC', None, None, None, None),
 ('FTZJK89L6NCYPIPKZN93', 'JEA', None, None, None, None),
 ('353800OO5E7W1FV1SB75', 'JERA Co., Inc.', None, None, None, None),
 ('54930013V5I303TF9571', 'KKR & Co., Inc.', None, None, None, None),
 ('353800PFUKP5ONPJNZ86', 'Kansai Electric Power Co., Inc.', None, None, None, None),
 ('5493005158BXZWGOX572', 'Koch Industries, Inc.', None, None, None, None),
 ('549300BYNZPLKQVQH430', 'Kyushu Electric Power Co., Inc.', None, None, None, None),
 ('5493008IJZ6CT1JXY225', 'Liberty Power Corp.', None, None, None, None),
 ('549300QJFPW2NNBYR215', 'Lower Colorado River Authority', None, None, None, None),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group Inc.', 'MDU RESOURCES GROUP INC', '2020-01-01', '2020-12-31', 5532750000.0),
 ('529900IZSJ64GH477714', 'Macquarie Infrastructure Holdings, LLC', 'MACQUARIE INFRASTRUCTURE CORP', '2020-01-01', '2020-12-31', 847000000.0),
 ('5493007GBX87QOZACS27', 'Manulife Financial Corp.', 'MANULIFE FINANCIAL CORP', '2020-01-01', '2020-12-31', 61516843473.27296),
 ('4P4N3ORD02UGQT1T1W12', 'Marubeni Corp.', None, None, None, None),
 ('549300QIEIVG0JUPV270', 'Midcontinent Independent System Operator, Inc.', None, None, None, None),
 ('KVIPTY4PULAPGC1VVD26', 'Mitsubishi Corp.', None, None, None, None),
 ('S6U6XLZ7IOWYIG8C8H50', 'Modesto Irrigation District', None, None, None, None),
 ('IGJSJL3JD5P30I6NJZ34', 'Morgan Stanley', 'MORGAN STANLEY', '2020-01-01', '2020-12-31', 48198000000.0),
 ('JA0WNILDDF2KUPS83B16', 'Municipal Electric Authority Of Georgia', None, None, None, None),
 ('529900MUF4C20K50JS49', 'Münchener Rückversicherungs-Gesellschaft Aktiengesellschaft in München', None, None, None, None),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy, Inc.', 'NRG ENERGY, INC.', '2020-01-01', '2020-12-31', 9093000000.0),
 ('8R95QZMKZLJX5Q2XR704', 'National Grid plc', 'NATIONAL GRID PLC', '2020-01-01', '2021-03-31', 20245205479.452053),
 ('5493001J0BLQRMOJKP23', 'Nebraska Public Power District', None, None, None, None),
 ('5493003TZVX6QJ0PBO15', 'New Hampshire Electric Coop., Inc.', None, None, None, None),
 ('5493004A26ERKLO7Y203', 'New York Independent System Operator', None, None, None, None),
 ('5493008F4ZOQFNG3WN54', 'NextEra Energy Partners, LP', 'NEXTERA ENERGY PARTNERS, LP', '2020-01-01', '2020-12-31', 917000000.0),
 ('549300D8GOWWH0SJB189', 'NiSource, Inc.', 'NISOURCE INC.', '2020-01-01', '2020-12-31', 4473200000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2020-01-01', '2020-12-31', 1206800000.0),
 ('549300OVQIVKXPU02712', 'Northern Virginia Elec Coop', None, None, None, None),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2020-01-01', '2020-12-31', 2122300000.0),
 ('HK15VDWNE3FL77FUSC13', 'OMERS Administration Corp.', None, None, None, None),
 ('35380016EMHNBOVYE123', 'ORIX Corp.', 'ORIX CORP', '2020-01-01', '2021-03-31', 19937458150.354362),
 ('JOAJT0QKF9HWVYTX5K56', 'Oaktree Capital Management, L.P.', None, None, None, None),
 ('IM7X0T3ECJW4C1T7ON55', 'Occidental Petroleum Corp.', 'OCCIDENTAL PETROLEUM CORP', '2020-01-01', '2020-12-31', 17809000000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2020-01-01', '2020-12-31', 1377618000.0),
 ('549300MA7EMERVYDHS24', 'Ohio Valley Electric Corp.', None, None, None, None),
 ('54930000VJEJ9CGIYG32', 'Omaha Public Power District', None, None, None, None),
 ('5299004YRCHMOU9FKK67', 'Omya AG', None, None, None, None),
 ('549300EJR7JVMRXL5D66', 'Orlando Utilities Commision', None, None, None, None),
 ('353800024KMNOPQRWZ02', 'Osaka Gas Co., Ltd.', None, None, None, None),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2020-01-01', '2020-12-31', 890107000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2020-01-01', '2020-12-31', 18469000000.0),
 ('549300M3VK6MP6R72034', 'PJM Interconnection, LLC', None, None, None, None),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2020-01-01', '2020-12-31', 1523012000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2020-01-01', '2020-12-31', 7607000000.0),
 ('549300LU0VT11TQC1877', 'PUD 1 of Snohomish County', None, None, None, None),
 ('5493004E8FN9GU2SU067', 'PUD No 1 of Chelan County', None, None, None, None),
 ('549300YCT5BMOWZSMQ97', 'PUD No 1 of Clark County - (WA)', None, None, None, None),
 ('TS0L3NF45PNBQM207L23', 'PUD No 1 of Cowlitz County', None, None, None, None),
 ('549300XJXH7RNXS8PA58', 'PUD No 2 of Grant County', None, None, None, None),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2020-01-01', '2020-12-31', 3586982000.0),
 ('549300UBIE8RGXXJ1090', 'Platte River Power Authority', None, None, None, None),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2020-01-01', '2020-12-31', 2151000000.0),
 ('XC5Z0IVHFCJDWCPZL176', 'Prairie Power, Inc.', None, None, None, None),
 ('5PRBRS5FEH7NREC8OR45', 'Prudential Financial, Inc.', 'PRUDENTIAL FINANCIAL INC', '2020-01-01', '2020-12-31', 57033000000.0),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2020-01-01', '2020-12-31', 9603000000.0),
 ('SYBSJ96YIDMIUY7WDR33', 'Puget Energy, Inc.', 'PUGET ENERGY INC', '2020-01-01', '2020-12-31', 3326450000.0),
 ('529900GB7KCA94ACC940', 'RWE Aktiengesellschaft', None, None, None, None),
 ('549300NIHMHEL3T1QQ97', 'Rayburn Country Electric Coop., Inc.', None, None, None, None),
 ('E3GSVR6ZOU1MX2V7HF33', 'Sacramento Municipal Utility District', None, None, None, None),
 ('SHB8HO6GKXJ83RX5OV39', 'Salt River Project', None, None, None, None),
 ('549300JM2J6RABTTMJ05', 'Seminole Electric Coop., Inc.', None, None, None, None),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2020-01-01', '2020-12-31', 11370000000.0),
 ('21380068P1DRHMJ8KU70', 'Shell plc', 'ROYAL DUTCH SHELL PLC', '2020-01-01', '2020-12-31', 180543000000.0),
 ('W38RGI023J3WT1HWRP32', 'Siemens Aktiengesellschaft', None, None, None, None),
 ('5493004SE33MRLPB1W98', 'Sojitz Corp.', None, None, None, None),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2020-01-01', '2020-12-31', 21097000000.0),
 ('549300MFNK062CPWOR98', 'Southern Illinois Power Coop.', None, None, None, None),
 ('DBBJWDBO6IRU2GBUJI29', 'Southern Maryland Electric Coop.', None, None, None, None),
 ('549300NXXWJMFXIKNU79', 'Southwest Power Pool, Inc.', None, None, None, None),
 ('JJAX4X60DE65EYFOTY73', 'Suburban Propane Partners, L.P.', 'SUBURBAN PROPANE PARTNERS LP', '2020-01-01', '2020-09-30', 1107897000.0),
 ('V82KK8NH1P0JS71FJC05', 'Sumitomo Corp.', None, None, None, None),
 ('5493004W8FBXFVSWVZ87', 'SunEdison, Inc.', None, None, None, None),
 ('54930007SJ77CI66U531', 'Sunrun Inc.', 'SUNRUN INC.', '2020-01-01', '2020-12-31', 922191000.0),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2020-01-01', '2020-12-31', 10134047857.113033),
 ('549300HE1ISW43LNKM54', 'Tennessee Valley Authority', 'TENNESSEE VALLEY AUTHORITY', '2020-01-01', '2020-09-30', 10249000000.0),
 ('5299004LW4QWGZUB8Y96', 'The Blackstone Group, Inc.', 'BLACKSTONE GROUP INC', '2020-01-01', '2020-12-31', 6101927000.0),
 ('529900NGGVF94UK6PG95', 'The Carlyle Group, Inc.', 'CARLYLE GROUP INC.', '2020-01-01', '2020-12-31', 2934600000.0),
 ('784F5XWPLTWKTBV3E584', 'The Goldman Sachs Group, Inc.', 'GOLDMAN SACHS GROUP INC', '2020-01-01', '2020-12-31', 44560000000.0),
 ('5299004EMJ3R4RVR5Y75', 'Tokyo Electric Power Co.', None, None, None, None),
 ('FR0000120271', 'TotalEnergies SE', None, None, None, None),
 ('549300CEE2ENIUJNXB84', 'Toyota Tsusho Corp.', None, None, None, None),
 ('GJZNVO2UY6DNFNIYH321', 'TransAlta Corp.', 'TRANSALTA CORP', '2020-01-01', '2020-12-31', 1637944037.833255),
 ('549300VDHNFNPADSSV98', 'Tri-State Generation & Transmission Association, Inc.', 'TRI-STATE GENERATION & TRANSMISSION ASSOCIATION, INC.', '2020-01-01', '2020-12-31', 1352295000.0),
 ('5493001J7IGC81HEQJ12', 'Turlock Irrigation District', None, None, None, None),
 ('549300SZJ9VS8SGXAN81', 'UBS Group AG', 'UBS GROUP AG', '2020-01-01', '2020-12-31', 33084000000.0),
 ('DX6GCWD4Q1JO9CRE5I40', 'UGI Corp.', 'UGI CORP', '2020-01-01', '2020-09-30', 6559000000.0),
 ('549300FTRJPHJWR2YG19', 'United Energy Corp.', None, None, None, None),
 ('8945004QAHNC2OHL6926', 'United Power, Inc.', None, None, None, None),
 ('549300N8FFURNHL5YM93', 'Valley Electric Association, Inc.', None, None, None, None),
 ('21TPXMRRHFKOBHDC8J74', 'Vectren Corp.', 'CENTERPOINT ENERGY INC', '2020-01-01', '2020-12-31', 7418000000.0),
 ('549300GNSLQRYVBRRM43', 'Vermont Electric Coop., Inc.', None, None, None, None),
 ('54930086XT4IMGTLYZ86', 'Vermont Electric Power Co., Inc.', None, None, None, None),
 ('549300FODXCTQ8DGT594', 'Verso Corp.', 'VERSO CORP', '2020-01-01', '2020-12-31', 1359000000.0),
 ('549300KP43CPCUJOOG15', 'Vistra Corp.', 'VISTRA CORP.', '2020-01-01', '2020-12-31', 11443000000.0),
 ('549300IGLYTZUK3PVP70', 'WEC Energy Group', 'WEC ENERGY GROUP, INC.', '2020-01-01', '2020-12-31', 7241700000.0),
 ('VR27ZYPWHGW7Z1BM8Y69', 'Wabash Valley Power Alliance', None, None, None, None),
 ('Y87794H0US1R65VBXU25', 'Walmart Inc.', 'WALMART INC.', '2020-01-01', '2021-01-31', 559151000000.0),
 ('549300EHUH3VGBXO8J39', 'Westfield Gas & Electric Light', None, None, None, None),
 ('549300ROWOIV5X5MB591', 'Wolverine Power Supply Coop.', None, None, None, None),
 ('LGJNMI9GH8XIDG5RCM61', 'Xcel Energy, Inc.', 'XCEL ENERGY INC', '2020-01-01', '2020-12-31', 11526000000.0)]

In [17]:
l = engine.execute(f"""
select A.lei, A.parent_name, R.name, date_format(R.fy, '%Y-%m-%d'), date_format(R.ddate, '%Y-%m-%d'), R.revenue_usd
from (select coalesce(G.ultimate_parent_issuer_lei,U.parent_lei) as lei, U.parent_name
      from {rmi_schema}.utility_information_2023 as U left join {gleif_schema}.gleif_direct_issuer_ultimate_issuer as G on U.parent_lei=G.direct_issuer_lei
      group by coalesce(G.ultimate_parent_issuer_lei,U.parent_lei), U.parent_name) as A
     left join t_r as R on A.lei=R.lei
where A.lei is not null
      and (R.lei is null or year(R.fy)=2021)
order by A.parent_name
""").fetchall()

print(len(l))
display(l)

196

[('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2021-01-01', '2021-12-31', 11141000000.0),
 ('LQPXMHHNJKIPJYE53543', 'Alberta Investment Management Corp.', None, None, None, None),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2021-01-01', '2021-12-31', 12152000000.0),
 ('549300K5VIUTJXQL7X75', 'Algonquin Power & Utilities Corp.', 'ALGONQUIN POWER & UTILITIES CORP.', '2021-01-01', '2021-12-31', 2285479000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2021-01-01', '2021-12-31', 1419200000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2021-01-01', '2021-12-31', 3669000000.0),
 ('5493006MHB84DD0ZWV18', 'Alphabet Inc.', 'ALPHABET INC.', '2021-01-01', '2021-12-31', 257637000000.0),
 ('96950032TUYMW11FB530', 'Alstom SA', None, None, None, None),
 ('549300D7A8QA85Z2MH11', 'AltaGas Ltd.', 'ALTAGAS LTD.', '2021-01-01', '2021-12-31', 8346771818.190034),
 ('529900NZXZGBCBXYY327', 'Amaresco, Inc.', 'AMERESCO, INC.', '2021-01-01', '2021-12-31', 1215697000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2021-01-01', '2021-12-31', 6394000000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2021-01-01', '2021-12-31', 16792000000.0),
 ('529900L26LIS2V8PWM23', 'American States Water Co.', 'AMERICAN STATES WATER CO', '2021-01-01', '2021-12-31', 498853000.0),
 ('549300DXHIJQMD5WFW18', 'American Water Works Co.', 'AMERICAN WATER WORKS COMPANY, INC.', '2021-01-01', '2021-12-31', 3930000000.0),
 ('2138004PVNAV1E9SZP35', 'Antin Infrastructure Partners', None, None, None, None),
 ('549300GW1DWMX7FLDM29', 'ArcLight Capital Partners LLC', None, None, None, None),
 ('5493004QNJ0OEMFZ1Q24', 'Ardian', None, None, None, None),
 ('529900JUV61FH7B8VW38', 'Ares Management Corp.', 'ARES MANAGEMENT CORP', '2021-01-01', '2021-12-31', 4212091000.0),
 ('549300TM49SDIMQVZT63', 'Arkansas Electric Coop.', None, None, None, None),
 ('HKLBLS6XDIGPD8SZXB37', 'Associated Electric Coop., Inc.', None, None, None, None),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2021-01-01', '2021-12-31', 6974000000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2021-01-01', '2021-12-31', 1438936000.0),
 ('213800LH1BZH3DI6G760', 'BP PLC', None, None, None, None),
 ('5493002CLOJ5KYT5GB16', 'Basin Electric Power Coop.', None, None, None, None),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2021-01-01', '2021-12-31', 276094000000.0),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2021-01-01', '2021-12-31', 1949102000.0),
 ('JPS6QQDJBC8Z2A6MSG78', 'Brazos Electric Power Coop., Inc.', None, None, None, None),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Asset Management', 'BROOKFIELD ASSET MANAGEMENT INC.', '2021-01-01', '2021-12-31', 75731000000.0),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Renewable Partners LP', 'BROOKFIELD ASSET MANAGEMENT INC.', '2021-01-01', '2021-12-31', 75731000000.0),
 ('549300VR7GQZV6W7OR57', 'Buckeye Power, Inc.', None, None, None, None),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2021-01-01', '2021-12-31', 7329000000.0),
 ('549300YJCTPJBTK7IJ81', 'CONSOL Energy Inc.', None, None, None, None),
 ('HWR6ATEU4L0XN8IT6Y39', 'Caisse de Depot et Placement du Quebec', None, None, None, None),
 ('70DNWEAINTGFO4DMV441', 'Canada Pension Plan Investment Board', None, None, None, None),
 ('549300GDKOXG1CUP3S52', 'Carroll Electric Coop. Corp.', None, None, None, None),
 ('HR0I3LSP7EH9UR2SSH34', 'Cascade Investment, LLC', None, None, None, None),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2021-01-01', '2021-12-31', 8352000000.0),
 ('E26EDV109X6EEPBKVH76', 'Centrica plc', None, None, None, None),
 ('254900WW0FDCKAOCKE74', 'Chesapeake Utilities Corp.', 'CHESAPEAKE UTILITIES CORP', '2021-01-01', '2021-12-31', 569968000.0),
 ('VA8TZDWPEZYU430RZ444', 'Chevron Corp.', None, None, None, None),
 ('529900A76GOP0PGNHT63', 'Chubu Electric Power Co., Inc.', None, None, None, None),
 ('353800MV866ELME96Q46', 'Chugoku Electric Power Co., Inc.', None, None, None, None),
 ('549300C841GHSUPKR373', 'Clearway Energy, Inc.', 'CLEARWAY ENERGY LLC', '2021-01-01', '2021-12-31', 1286000000.0),
 ('549300C841GHSUPKR373', 'Clearway Energy, Inc.', 'CLEARWAY ENERGY, INC.', '2021-01-01', '2021-12-31', 1286000000.0),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2021-01-01', '2021-12-31', 1786563000.0),
 ('549300LAY2IQSH15G008', 'Cobb Electric Membership Corp.', None, None, None, None),
 ('549300FL0Q3X9HUSF682', 'Connecticut Municipal Electric Energy Coop', None, None, None, None),
 ('WPTL2Z3FIYTHSP5V2253', 'ConocoPhillips', None, None, None, None),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2021-01-01', '2021-12-31', 13676000000.0),
 ('549300F8Y20RYGNGV346', 'Constellation Energy Corp.', None, None, None, None),
 ('724500U5UC8JDZOJZS93', 'DIF Management B.V.', None, None, None, None),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2021-01-01', '2021-12-31', 14964000000.0),
 ('549300MDUY8PN52FWH02', 'Dairyland Power Coop.', None, None, None, None),
 ('549300XSRDPV7OLEL437', 'District Energy St. Paul, Inc.\xa0', None, None, None, None),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2021-01-01', '2021-12-31', 14170000000.0),
 ('5493003S21INSLK2IP73', 'Dow Inc.', 'DOW INC.', '2021-01-01', '2021-12-31', 54968000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2021-01-01', '2021-12-31', 25097000000.0),
 ('549300X3UK4GG3FNMO06', 'EDF Trading, Ltd.', None, None, None, None),
 ('LAXUQCHT4FH58LRZDY46', 'ENGIE SA', None, None, None, None),
 ('7NUG80E5OSRJXHJL2M92', 'East Kentucky Power Coop., Inc.', None, None, None, None),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2021-01-01', '2021-12-31', 14905000000.0),
 ('549300KMHPUAQI8VEH90', 'Electric Power Development Co., Ltd.', None, None, None, None),
 ('NQZVQT2P5IUF2PGA1Q48', 'Emera, Inc.', 'EMERA INC', '2021-01-01', '2021-12-31', 4551133976.34215),
 ('98TPTUM4IVMFCZBCUR27', 'Enbridge Inc.', 'ENBRIDGE INC', '2021-01-01', '2021-12-31', 37159831292.35062),
 ('WOCMU6HCI0OJWNPRZS33', 'Enel SpA', None, None, None, None),
 ('529900CLC3WDMGI9VH80', 'Energias de Portugal, S.A.', None, None, None, None),
 ('549300SULPFDEWWFVD15', 'Energir, Inc.', None, None, None, None),
 ('2549005DRFNXGKPLBN86', 'Energy Capital Partners', None, None, None, None),
 ('5493003HK03UVPUSUP12', 'Energy Harbor Corp.', None, None, None, None),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2021-01-01', '2021-12-31', 11742896000.0),
 ('K4CDIF4M54DJZ6TB4Q48', 'Enterprise Products Partners L.P.', 'ENTERPRISE PRODUCTS PARTNERS L.P.', '2021-01-01', '2021-12-31', 40806900000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2021-01-01', '2021-12-31', 5586700000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2021-01-01', '2021-12-31', 9863085000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2021-01-01', '2021-12-31', 36347000000.0),
 ('J3WHBG0MTS7O8ZVMDC91', 'Exxon Mobil Corp.', 'EXXON MOBIL CORP', '2021-01-01', '2021-12-31', 285640000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2021-01-01', '2021-12-31', 11132000000.0),
 ('549300M3I10QJUPNU131', 'Florida Municipal Power Agency', None, None, None, None),
 ('549300DEZG7Z4LU6BC91', 'Fonds de solidarite FTQ', None, None, None, None),
 ('549300MQYQ9Y065XPR71', 'Fortis, Inc.', 'FORTIS INC.', '2021-01-01', '2021-12-31', 7458649403.032199),
 ('549300Y3DMQ07L581Y27', 'Fortistar LLC', None, None, None, None),
 ('WN4348N25IFBOKVFFA94', 'Freepoint Commodities LLC', None, None, None, None),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2021-01-01', '2021-12-31', 22845000000.0),
 ('549300SRU8020X1X9J22', 'FuelCell Energy, Inc.', 'FUELCELL ENERGY INC', '2021-01-01', '2021-10-31', 69585000.0),
 ('549300QVH6UAIPUV5M94', 'Gainesville Regional Utilities', None, None, None, None),
 ('3C7474T6CDKPR9K6YT9', 'General Electric Co.', None, None, None, None),
 ('549300XGK5KWQHON4Q79', 'Grand River Dam Authority', None, None, None, None),
 ('5493007CIM8IF8LIUC91', 'Great River Energy', None, None, None, None),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2021-01-01', '2021-12-31', 2850379000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2021-01-01', '2021-12-31', 7683000000.0),
 ('549300DT7P5DOCSYX056', 'Hoosier Energy Rural Electric Coop., Inc.', None, None, None, None),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2021-01-01', '2021-12-31', 1458084000.0),
 ('549300FIA0OYFDEISW66', 'ISO New England, Inc.', None, None, None, None),
 ('J48DJYXDTLHM30UMYI18', 'ITOCHU Corp.', None, None, None, None),
 ('5QK37QC7NWOJ8D7WVQ45', 'Iberdrola, S.A.', None, None, None, None),
 ('549300WHWX5TZ5O15D48', 'Imperial Irrigation District', None, None, None, None),
 ('AX0ZCCVOQ71Z4RXBL233', 'Indiana Municipal Power Agency', None, None, None, None),
 ('824LMFJDH41EY779Q875', 'International Paper Co.', 'INTERNATIONAL PAPER CO', '2021-01-01', '2021-12-31', 19363000000.0),
 ('549300NMCKSMDPKQ0502', 'Invenergy, LLC', None, None, None, None),
 ('FTZJK89L6NCYPIPKZN93', 'JEA', None, None, None, None),
 ('353800OO5E7W1FV1SB75', 'JERA Co., Inc.', None, None, None, None),
 ('54930013V5I303TF9571', 'KKR & Co., Inc.', None, None, None, None),
 ('353800PFUKP5ONPJNZ86', 'Kansai Electric Power Co., Inc.', None, None, None, None),
 ('5493005158BXZWGOX572', 'Koch Industries, Inc.', None, None, None, None),
 ('549300BYNZPLKQVQH430', 'Kyushu Electric Power Co., Inc.', None, None, None, None),
 ('5493008IJZ6CT1JXY225', 'Liberty Power Corp.', None, None, None, None),
 ('549300QJFPW2NNBYR215', 'Lower Colorado River Authority', None, None, None, None),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group Inc.', 'MDU RESOURCES GROUP INC', '2021-01-01', '2021-12-31', 5680733000.0),
 ('529900IZSJ64GH477714', 'Macquarie Infrastructure Holdings, LLC', 'MACQUARIE INFRASTRUCTURE HOLDINGS, LLC', '2021-01-01', '2021-12-31', 235984000.0),
 ('5493007GBX87QOZACS27', 'Manulife Financial Corp.', 'MANULIFE FINANCIAL CORP', '2021-01-01', '2021-12-31', 48804102957.75334),
 ('4P4N3ORD02UGQT1T1W12', 'Marubeni Corp.', None, None, None, None),
 ('549300QIEIVG0JUPV270', 'Midcontinent Independent System Operator, Inc.', None, None, None, None),
 ('KVIPTY4PULAPGC1VVD26', 'Mitsubishi Corp.', None, None, None, None),
 ('S6U6XLZ7IOWYIG8C8H50', 'Modesto Irrigation District', None, None, None, None),
 ('IGJSJL3JD5P30I6NJZ34', 'Morgan Stanley', 'MORGAN STANLEY', '2021-01-01', '2021-12-31', 59755000000.0),
 ('JA0WNILDDF2KUPS83B16', 'Municipal Electric Authority Of Georgia', None, None, None, None),
 ('529900MUF4C20K50JS49', 'Münchener Rückversicherungs-Gesellschaft Aktiengesellschaft in München', None, None, None, None),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy, Inc.', 'NRG ENERGY, INC.', '2021-01-01', '2021-12-31', 26989000000.0),
 ('8R95QZMKZLJX5Q2XR704', 'National Grid plc', 'NATIONAL GRID PLC', '2021-01-01', '2022-03-31', 24275000000.0),
 ('5493001J0BLQRMOJKP23', 'Nebraska Public Power District', None, None, None, None),
 ('5493003TZVX6QJ0PBO15', 'New Hampshire Electric Coop., Inc.', None, None, None, None),
 ('5493004A26ERKLO7Y203', 'New York Independent System Operator', None, None, None, None),
 ('5493008F4ZOQFNG3WN54', 'NextEra Energy Partners, LP', 'NEXTERA ENERGY PARTNERS, LP', '2021-01-01', '2021-12-31', 982000000.0),
 ('549300D8GOWWH0SJB189', 'NiSource, Inc.', 'NISOURCE INC.', '2021-01-01', '2021-12-31', 4731300000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2021-01-01', '2021-12-31', 1372316000.0),
 ('549300OVQIVKXPU02712', 'Northern Virginia Elec Coop', None, None, None, None),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2021-01-01', '2021-12-31', 3653700000.0),
 ('HK15VDWNE3FL77FUSC13', 'OMERS Administration Corp.', None, None, None, None),
 ('35380016EMHNBOVYE123', 'ORIX Corp.', 'ORIX CORP', '2021-01-01', '2022-03-31', 20540872045.639774),
 ('JOAJT0QKF9HWVYTX5K56', 'Oaktree Capital Management, L.P.', None, None, None, None),
 ('IM7X0T3ECJW4C1T7ON55', 'Occidental Petroleum Corp.', 'OCCIDENTAL PETROLEUM CORP', '2021-01-01', '2021-12-31', 25959000000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2021-01-01', '2021-12-31', 1604863000.0),
 ('549300MA7EMERVYDHS24', 'Ohio Valley Electric Corp.', None, None, None, None),
 ('54930000VJEJ9CGIYG32', 'Omaha Public Power District', None, None, None, None),
 ('5299004YRCHMOU9FKK67', 'Omya AG', None, None, None, None),
 ('549300EJR7JVMRXL5D66', 'Orlando Utilities Commision', None, None, None, None),
 ('353800024KMNOPQRWZ02', 'Osaka Gas Co., Ltd.', None, None, None, None),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2021-01-01', '2021-12-31', 1197635000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2021-01-01', '2021-12-31', 20642000000.0),
 ('549300M3VK6MP6R72034', 'PJM Interconnection, LLC', None, None, None, None),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2021-01-01', '2021-12-31', 1779873000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2021-01-01', '2021-12-31', 5838000000.0),
 ('549300LU0VT11TQC1877', 'PUD 1 of Snohomish County', None, None, None, None),
 ('5493004E8FN9GU2SU067', 'PUD No 1 of Chelan County', None, None, None, None),
 ('549300YCT5BMOWZSMQ97', 'PUD No 1 of Clark County - (WA)', None, None, None, None),
 ('TS0L3NF45PNBQM207L23', 'PUD No 1 of Cowlitz County', None, None, None, None),
 ('549300XJXH7RNXS8PA58', 'PUD No 2 of Grant County', None, None, None, None),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2021-01-01', '2021-12-31', 3803835000.0),
 ('549300UBIE8RGXXJ1090', 'Platte River Power Authority', None, None, None, None),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2021-01-01', '2021-12-31', 2425000000.0),
 ('XC5Z0IVHFCJDWCPZL176', 'Prairie Power, Inc.', None, None, None, None),
 ('5PRBRS5FEH7NREC8OR45', 'Prudential Financial, Inc.', 'PRUDENTIAL FINANCIAL INC', '2021-01-01', '2021-12-31', 70934000000.0),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2021-01-01', '2021-12-31', 10315000000.0),
 ('SYBSJ96YIDMIUY7WDR33', 'Puget Energy, Inc.', 'PUGET ENERGY INC', '2021-01-01', '2021-12-31', 3805661000.0),
 ('529900GB7KCA94ACC940', 'RWE Aktiengesellschaft', None, None, None, None),
 ('549300NIHMHEL3T1QQ97', 'Rayburn Country Electric Coop., Inc.', None, None, None, None),
 ('E3GSVR6ZOU1MX2V7HF33', 'Sacramento Municipal Utility District', None, None, None, None),
 ('SHB8HO6GKXJ83RX5OV39', 'Salt River Project', None, None, None, None),
 ('549300JM2J6RABTTMJ05', 'Seminole Electric Coop., Inc.', None, None, None, None),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2021-01-01', '2021-12-31', 12857000000.0),
 ('W38RGI023J3WT1HWRP32', 'Siemens Aktiengesellschaft', None, None, None, None),
 ('5493004SE33MRLPB1W98', 'Sojitz Corp.', None, None, None, None),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2021-01-01', '2021-12-31', 23463000000.0),
 ('549300MFNK062CPWOR98', 'Southern Illinois Power Coop.', None, None, None, None),
 ('DBBJWDBO6IRU2GBUJI29', 'Southern Maryland Electric Coop.', None, None, None, None),
 ('549300NXXWJMFXIKNU79', 'Southwest Power Pool, Inc.', None, None, None, None),
 ('JJAX4X60DE65EYFOTY73', 'Suburban Propane Partners, L.P.', 'SUBURBAN PROPANE PARTNERS LP', '2021-01-01', '2021-09-30', 1288755000.0),
 ('V82KK8NH1P0JS71FJC05', 'Sumitomo Corp.', None, None, None, None),
 ('5493004W8FBXFVSWVZ87', 'SunEdison, Inc.', None, None, None, None),
 ('54930007SJ77CI66U531', 'Sunrun Inc.', 'SUNRUN INC.', '2021-01-01', '2021-12-31', 1609954000.0),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2021-01-01', '2021-12-31', 10568262019.304832),
 ('549300HE1ISW43LNKM54', 'Tennessee Valley Authority', 'TENNESSEE VALLEY AUTHORITY', '2021-01-01', '2021-09-30', 10503000000.0),
 ('529900NGGVF94UK6PG95', 'The Carlyle Group, Inc.', 'CARLYLE GROUP INC.', '2021-01-01', '2021-12-31', 8782100000.0),
 ('784F5XWPLTWKTBV3E584', 'The Goldman Sachs Group, Inc.', 'GOLDMAN SACHS GROUP INC', '2021-01-01', '2021-12-31', 59339000000.0),
 ('5299004EMJ3R4RVR5Y75', 'Tokyo Electric Power Co.', None, None, None, None),
 ('FR0000120271', 'TotalEnergies SE', None, None, None, None),
 ('549300CEE2ENIUJNXB84', 'Toyota Tsusho Corp.', None, None, None, None),
 ('GJZNVO2UY6DNFNIYH321', 'TransAlta Corp.', 'TRANSALTA CORP', '2021-01-01', '2021-12-31', 2148072081.46175),
 ('549300VDHNFNPADSSV98', 'Tri-State Generation & Transmission Association, Inc.', 'TRI-STATE GENERATION & TRANSMISSION ASSOCIATION, INC.', '2021-01-01', '2021-12-31', 1400801000.0),
 ('5493001J7IGC81HEQJ12', 'Turlock Irrigation District', None, None, None, None),
 ('549300SZJ9VS8SGXAN81', 'UBS Group AG', 'UBS GROUP AG', '2021-01-01', '2021-12-31', 35393000000.0),
 ('DX6GCWD4Q1JO9CRE5I40', 'UGI Corp.', 'UGI CORP', '2021-01-01', '2021-09-30', 7447000000.0),
 ('549300FTRJPHJWR2YG19', 'United Energy Corp.', None, None, None, None),
 ('8945004QAHNC2OHL6926', 'United Power, Inc.', None, None, None, None),
 ('549300N8FFURNHL5YM93', 'Valley Electric Association, Inc.', None, None, None, None),
 ('21TPXMRRHFKOBHDC8J74', 'Vectren Corp.', 'CENTERPOINT ENERGY INC', '2021-01-01', '2021-12-31', 8352000000.0),
 ('549300GNSLQRYVBRRM43', 'Vermont Electric Coop., Inc.', None, None, None, None),
 ('54930086XT4IMGTLYZ86', 'Vermont Electric Power Co., Inc.', None, None, None, None),
 ('549300FODXCTQ8DGT594', 'Verso Corp.', 'VERSO CORP', '2021-01-01', '2021-12-31', 1278000000.0),
 ('549300U656GZMTWR1T03', 'Via Renewables, Inc.', 'VIA RENEWABLES, INC.', '2021-01-01', '2021-12-31', 397728000.0),
 ('549300KP43CPCUJOOG15', 'Vistra Corp.', 'VISTRA CORP.', '2021-01-01', '2021-12-31', 17700000000.0),
 ('549300IGLYTZUK3PVP70', 'WEC Energy Group', 'WEC ENERGY GROUP, INC.', '2021-01-01', '2021-12-31', 8316000000.0),
 ('VR27ZYPWHGW7Z1BM8Y69', 'Wabash Valley Power Alliance', None, None, None, None),
 ('Y87794H0US1R65VBXU25', 'Walmart Inc.', 'WALMART INC.', '2021-01-01', '2022-01-31', 572754000000.0),
 ('549300EHUH3VGBXO8J39', 'Westfield Gas & Electric Light', None, None, None, None),
 ('549300ROWOIV5X5MB591', 'Wolverine Power Supply Coop.', None, None, None, None),
 ('LGJNMI9GH8XIDG5RCM61', 'Xcel Energy, Inc.', 'XCEL ENERGY INC', '2021-01-01', '2021-12-31', 13431000000.0)]

In [18]:
l = engine.execute(f"""
select A.lei, A.parent_name, R.name, date_format(R.fy, '%Y-%m-%d'), date_format(R.ddate, '%Y-%m-%d'), R.revenue_usd
from (select coalesce(G.ultimate_parent_issuer_lei,U.parent_lei) as lei, U.parent_name
      from {rmi_schema}.utility_information_2023 as U left join {gleif_schema}.gleif_direct_issuer_ultimate_issuer as G on U.parent_lei=G.direct_issuer_lei
      group by coalesce(G.ultimate_parent_issuer_lei,U.parent_lei), U.parent_name) as A
     left join t_r as R on A.lei=R.lei
where A.lei is not null
      and (R.lei is null or year(R.fy)=2022)
order by A.parent_name
""").fetchall()

print(len(l))
display(l)

190

[('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2022-01-01', '2022-12-31', 12617000000.0),
 ('LQPXMHHNJKIPJYE53543', 'Alberta Investment Management Corp.', None, None, None, None),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2022-01-01', '2022-12-31', 12451000000.0),
 ('549300K5VIUTJXQL7X75', 'Algonquin Power & Utilities Corp.', 'ALGONQUIN POWER & UTILITIES CORP.', '2022-01-01', '2022-12-31', 2765155000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2022-01-01', '2022-12-31', 1570700000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2022-01-01', '2022-12-31', 4205000000.0),
 ('5493006MHB84DD0ZWV18', 'Alphabet Inc.', 'ALPHABET INC.', '2022-01-01', '2022-12-31', 282836000000.0),
 ('96950032TUYMW11FB530', 'Alstom SA', None, None, None, None),
 ('549300D7A8QA85Z2MH11', 'AltaGas Ltd.', 'ALTAGAS LTD.', '2022-01-01', '2022-12-31', 10396402291.648706),
 ('529900NZXZGBCBXYY327', 'Amaresco, Inc.', 'AMERESCO, INC.', '2022-01-01', '2022-12-31', 1824422000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2022-01-01', '2022-12-31', 7957000000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2022-01-01', '2022-12-31', 19639500000.0),
 ('529900L26LIS2V8PWM23', 'American States Water Co.', 'AMERICAN STATES WATER CO', '2022-01-01', '2022-12-31', 491528000.0),
 ('549300DXHIJQMD5WFW18', 'American Water Works Co.', 'AMERICAN WATER WORKS COMPANY, INC.', '2022-01-01', '2022-12-31', 3792000000.0),
 ('2138004PVNAV1E9SZP35', 'Antin Infrastructure Partners', None, None, None, None),
 ('549300GW1DWMX7FLDM29', 'ArcLight Capital Partners LLC', None, None, None, None),
 ('5493004QNJ0OEMFZ1Q24', 'Ardian', None, None, None, None),
 ('529900JUV61FH7B8VW38', 'Ares Management Corp.', 'ARES MANAGEMENT CORP', '2022-01-01', '2022-12-31', 3055443000.0),
 ('549300TM49SDIMQVZT63', 'Arkansas Electric Coop.', None, None, None, None),
 ('HKLBLS6XDIGPD8SZXB37', 'Associated Electric Coop., Inc.', None, None, None, None),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2022-01-01', '2022-12-31', 7923000000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2022-01-01', '2022-12-31', 1710207000.0),
 ('213800LH1BZH3DI6G760', 'BP PLC', None, None, None, None),
 ('5493002CLOJ5KYT5GB16', 'Basin Electric Power Coop.', None, None, None, None),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2022-01-01', '2022-12-31', 302089000000.0),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2022-01-01', '2022-12-31', 2551816000.0),
 ('JPS6QQDJBC8Z2A6MSG78', 'Brazos Electric Power Coop., Inc.', None, None, None, None),
 ('549300VR7GQZV6W7OR57', 'Buckeye Power, Inc.', None, None, None, None),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2022-01-01', '2022-12-31', 8596000000.0),
 ('549300YJCTPJBTK7IJ81', 'CONSOL Energy Inc.', None, None, None, None),
 ('HWR6ATEU4L0XN8IT6Y39', 'Caisse de Depot et Placement du Quebec', None, None, None, None),
 ('70DNWEAINTGFO4DMV441', 'Canada Pension Plan Investment Board', None, None, None, None),
 ('549300GDKOXG1CUP3S52', 'Carroll Electric Coop. Corp.', None, None, None, None),
 ('HR0I3LSP7EH9UR2SSH34', 'Cascade Investment, LLC', None, None, None, None),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2022-01-01', '2022-12-31', 9327000000.0),
 ('E26EDV109X6EEPBKVH76', 'Centrica plc', None, None, None, None),
 ('254900WW0FDCKAOCKE74', 'Chesapeake Utilities Corp.', 'CHESAPEAKE UTILITIES CORP', '2022-01-01', '2022-12-31', 680704000.0),
 ('VA8TZDWPEZYU430RZ444', 'Chevron Corp.', None, None, None, None),
 ('529900A76GOP0PGNHT63', 'Chubu Electric Power Co., Inc.', None, None, None, None),
 ('353800MV866ELME96Q46', 'Chugoku Electric Power Co., Inc.', None, None, None, None),
 ('549300C841GHSUPKR373', 'Clearway Energy, Inc.', 'CLEARWAY ENERGY, INC.', '2022-01-01', '2022-12-31', 1190000000.0),
 ('549300C841GHSUPKR373', 'Clearway Energy, Inc.', 'CLEARWAY ENERGY LLC', '2022-01-01', '2022-12-31', 1190000000.0),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2022-01-01', '2022-12-31', 2239132000.0),
 ('549300LAY2IQSH15G008', 'Cobb Electric Membership Corp.', None, None, None, None),
 ('549300FL0Q3X9HUSF682', 'Connecticut Municipal Electric Energy Coop', None, None, None, None),
 ('WPTL2Z3FIYTHSP5V2253', 'ConocoPhillips', None, None, None, None),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2022-01-01', '2022-12-31', 15670000000.0),
 ('549300F8Y20RYGNGV346', 'Constellation Energy Corp.', None, None, None, None),
 ('724500U5UC8JDZOJZS93', 'DIF Management B.V.', None, None, None, None),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2022-01-01', '2022-12-31', 19228000000.0),
 ('549300MDUY8PN52FWH02', 'Dairyland Power Coop.', None, None, None, None),
 ('549300XSRDPV7OLEL437', 'District Energy St. Paul, Inc.\xa0', None, None, None, None),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2022-01-01', '2022-12-31', 17725000000.0),
 ('5493003S21INSLK2IP73', 'Dow Inc.', 'DOW INC.', '2022-01-01', '2022-12-31', 56902000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2022-01-01', '2022-12-31', 28768000000.0),
 ('549300X3UK4GG3FNMO06', 'EDF Trading, Ltd.', None, None, None, None),
 ('LAXUQCHT4FH58LRZDY46', 'ENGIE SA', None, None, None, None),
 ('7NUG80E5OSRJXHJL2M92', 'East Kentucky Power Coop., Inc.', None, None, None, None),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2022-01-01', '2022-12-31', 17220000000.0),
 ('549300KMHPUAQI8VEH90', 'Electric Power Development Co., Ltd.', None, None, None, None),
 ('NQZVQT2P5IUF2PGA1Q48', 'Emera, Inc.', 'EMERA INC', '2022-01-01', '2022-12-31', 5600049733.018413),
 ('98TPTUM4IVMFCZBCUR27', 'Enbridge Inc.', 'ENBRIDGE INC', '2022-01-01', '2022-12-31', 39342784820.43734),
 ('WOCMU6HCI0OJWNPRZS33', 'Enel SpA', None, None, None, None),
 ('529900CLC3WDMGI9VH80', 'Energias de Portugal, S.A.', None, None, None, None),
 ('549300SULPFDEWWFVD15', 'Energir, Inc.', None, None, None, None),
 ('2549005DRFNXGKPLBN86', 'Energy Capital Partners', None, None, None, None),
 ('5493003HK03UVPUSUP12', 'Energy Harbor Corp.', None, None, None, None),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2022-01-01', '2022-12-31', 13764237000.0),
 ('K4CDIF4M54DJZ6TB4Q48', 'Enterprise Products Partners L.P.', 'ENTERPRISE PRODUCTS PARTNERS L.P.', '2022-01-01', '2022-12-31', 58186000000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2022-01-01', '2022-12-31', 5859100000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2022-01-01', '2022-12-31', 12289336000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2022-01-01', '2022-12-31', 19078000000.0),
 ('J3WHBG0MTS7O8ZVMDC91', 'Exxon Mobil Corp.', 'EXXON MOBIL CORP', '2022-01-01', '2022-12-31', 413680000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2022-01-01', '2022-12-31', 12459000000.0),
 ('549300M3I10QJUPNU131', 'Florida Municipal Power Agency', None, None, None, None),
 ('549300DEZG7Z4LU6BC91', 'Fonds de solidarite FTQ', None, None, None, None),
 ('549300MQYQ9Y065XPR71', 'Fortis, Inc.', 'FORTIS INC.', '2022-01-01', '2022-12-31', 8149887875.820023),
 ('549300Y3DMQ07L581Y27', 'Fortistar LLC', None, None, None, None),
 ('WN4348N25IFBOKVFFA94', 'Freepoint Commodities LLC', None, None, None, None),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2022-01-01', '2022-12-31', 23271000000.0),
 ('549300ZCZ76HYCS0H445', 'Frontier Communications Corp.', 'FRONTIER COMMUNICATIONS PARENT, INC.', '2022-01-01', '2022-12-31', 5787000000.0),
 ('549300SRU8020X1X9J22', 'FuelCell Energy, Inc.', 'FUELCELL ENERGY INC', '2022-01-01', '2022-10-31', 130484000.0),
 ('549300QVH6UAIPUV5M94', 'Gainesville Regional Utilities', None, None, None, None),
 ('3C7474T6CDKPR9K6YT9', 'General Electric Co.', None, None, None, None),
 ('549300XGK5KWQHON4Q79', 'Grand River Dam Authority', None, None, None, None),
 ('5493007CIM8IF8LIUC91', 'Great River Energy', None, None, None, None),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2022-01-01', '2022-12-31', 3741985000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2022-01-01', '2022-12-31', 11865000000.0),
 ('549300DT7P5DOCSYX056', 'Hoosier Energy Rural Electric Coop., Inc.', None, None, None, None),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2022-01-01', '2022-12-31', 1643981000.0),
 ('549300FIA0OYFDEISW66', 'ISO New England, Inc.', None, None, None, None),
 ('J48DJYXDTLHM30UMYI18', 'ITOCHU Corp.', None, None, None, None),
 ('5QK37QC7NWOJ8D7WVQ45', 'Iberdrola, S.A.', None, None, None, None),
 ('549300WHWX5TZ5O15D48', 'Imperial Irrigation District', None, None, None, None),
 ('AX0ZCCVOQ71Z4RXBL233', 'Indiana Municipal Power Agency', None, None, None, None),
 ('824LMFJDH41EY779Q875', 'International Paper Co.', 'INTERNATIONAL PAPER CO', '2022-01-01', '2022-12-31', 21161000000.0),
 ('549300NMCKSMDPKQ0502', 'Invenergy, LLC', None, None, None, None),
 ('FTZJK89L6NCYPIPKZN93', 'JEA', None, None, None, None),
 ('353800OO5E7W1FV1SB75', 'JERA Co., Inc.', None, None, None, None),
 ('54930013V5I303TF9571', 'KKR & Co., Inc.', None, None, None, None),
 ('353800PFUKP5ONPJNZ86', 'Kansai Electric Power Co., Inc.', None, None, None, None),
 ('5493005158BXZWGOX572', 'Koch Industries, Inc.', None, None, None, None),
 ('549300BYNZPLKQVQH430', 'Kyushu Electric Power Co., Inc.', None, None, None, None),
 ('5493008IJZ6CT1JXY225', 'Liberty Power Corp.', None, None, None, None),
 ('549300QJFPW2NNBYR215', 'Lower Colorado River Authority', None, None, None, None),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group Inc.', 'MDU RESOURCES GROUP INC', '2022-01-01', '2022-12-31', 6973864000.0),
 ('5493007GBX87QOZACS27', 'Manulife Financial Corp.', 'MANULIFE FINANCIAL CORP', '2022-01-01', '2022-12-31', 12654724930.42524),
 ('4P4N3ORD02UGQT1T1W12', 'Marubeni Corp.', None, None, None, None),
 ('549300QIEIVG0JUPV270', 'Midcontinent Independent System Operator, Inc.', None, None, None, None),
 ('KVIPTY4PULAPGC1VVD26', 'Mitsubishi Corp.', None, None, None, None),
 ('S6U6XLZ7IOWYIG8C8H50', 'Modesto Irrigation District', None, None, None, None),
 ('IGJSJL3JD5P30I6NJZ34', 'Morgan Stanley', 'MORGAN STANLEY', '2022-01-01', '2022-12-31', 53668000000.0),
 ('JA0WNILDDF2KUPS83B16', 'Municipal Electric Authority Of Georgia', None, None, None, None),
 ('529900MUF4C20K50JS49', 'Münchener Rückversicherungs-Gesellschaft Aktiengesellschaft in München', None, None, None, None),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy, Inc.', 'NRG ENERGY, INC.', '2022-01-01', '2022-12-31', 31543000000.0),
 ('5493001J0BLQRMOJKP23', 'Nebraska Public Power District', None, None, None, None),
 ('5493003TZVX6QJ0PBO15', 'New Hampshire Electric Coop., Inc.', None, None, None, None),
 ('5493004A26ERKLO7Y203', 'New York Independent System Operator', None, None, None, None),
 ('5493008F4ZOQFNG3WN54', 'NextEra Energy Partners, LP', 'NEXTERA ENERGY PARTNERS, LP', '2022-01-01', '2022-12-31', 1211000000.0),
 ('549300D8GOWWH0SJB189', 'NiSource, Inc.', 'NISOURCE INC.', '2022-01-01', '2022-12-31', 5738600000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2022-01-01', '2022-12-31', 1477837000.0),
 ('549300OVQIVKXPU02712', 'Northern Virginia Elec Coop', None, None, None, None),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2022-01-01', '2022-12-31', 3375700000.0),
 ('HK15VDWNE3FL77FUSC13', 'OMERS Administration Corp.', None, None, None, None),
 ('JOAJT0QKF9HWVYTX5K56', 'Oaktree Capital Management, L.P.', None, None, None, None),
 ('IM7X0T3ECJW4C1T7ON55', 'Occidental Petroleum Corp.', 'OCCIDENTAL PETROLEUM CORP', '2022-01-01', '2022-12-31', 36634000000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2022-01-01', '2022-12-31', 2130137000.0),
 ('549300MA7EMERVYDHS24', 'Ohio Valley Electric Corp.', None, None, None, None),
 ('54930000VJEJ9CGIYG32', 'Omaha Public Power District', None, None, None, None),
 ('5299004YRCHMOU9FKK67', 'Omya AG', None, None, None, None),
 ('549300EJR7JVMRXL5D66', 'Orlando Utilities Commision', None, None, None, None),
 ('353800024KMNOPQRWZ02', 'Osaka Gas Co., Ltd.', None, None, None, None),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2022-01-01', '2022-12-31', 1469475000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2022-01-01', '2022-12-31', 21680000000.0),
 ('549300M3VK6MP6R72034', 'PJM Interconnection, LLC', None, None, None, None),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2022-01-01', '2022-12-31', 2250217000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2022-01-01', '2022-12-31', 7902000000.0),
 ('549300LU0VT11TQC1877', 'PUD 1 of Snohomish County', None, None, None, None),
 ('5493004E8FN9GU2SU067', 'PUD No 1 of Chelan County', None, None, None, None),
 ('549300YCT5BMOWZSMQ97', 'PUD No 1 of Clark County - (WA)', None, None, None, None),
 ('TS0L3NF45PNBQM207L23', 'PUD No 1 of Cowlitz County', None, None, None, None),
 ('549300XJXH7RNXS8PA58', 'PUD No 2 of Grant County', None, None, None, None),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2022-01-01', '2022-12-31', 4324385000.0),
 ('549300UBIE8RGXXJ1090', 'Platte River Power Authority', None, None, None, None),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2022-01-01', '2022-12-31', 2647000000.0),
 ('XC5Z0IVHFCJDWCPZL176', 'Prairie Power, Inc.', None, None, None, None),
 ('5PRBRS5FEH7NREC8OR45', 'Prudential Financial, Inc.', 'PRUDENTIAL FINANCIAL INC', '2022-01-01', '2022-12-31', 60050000000.0),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2022-01-01', '2022-12-31', 11231000000.0),
 ('SYBSJ96YIDMIUY7WDR33', 'Puget Energy, Inc.', 'PUGET ENERGY INC', '2022-01-01', '2022-12-31', 4221162000.0),
 ('529900GB7KCA94ACC940', 'RWE Aktiengesellschaft', None, None, None, None),
 ('549300NIHMHEL3T1QQ97', 'Rayburn Country Electric Coop., Inc.', None, None, None, None),
 ('E3GSVR6ZOU1MX2V7HF33', 'Sacramento Municipal Utility District', None, None, None, None),
 ('SHB8HO6GKXJ83RX5OV39', 'Salt River Project', None, None, None, None),
 ('549300JM2J6RABTTMJ05', 'Seminole Electric Coop., Inc.', None, None, None, None),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2022-01-01', '2022-12-31', 14439000000.0),
 ('W38RGI023J3WT1HWRP32', 'Siemens Aktiengesellschaft', None, None, None, None),
 ('5493004SE33MRLPB1W98', 'Sojitz Corp.', None, None, None, None),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2022-01-01', '2022-12-31', 29279000000.0),
 ('549300MFNK062CPWOR98', 'Southern Illinois Power Coop.', None, None, None, None),
 ('DBBJWDBO6IRU2GBUJI29', 'Southern Maryland Electric Coop.', None, None, None, None),
 ('549300NXXWJMFXIKNU79', 'Southwest Power Pool, Inc.', None, None, None, None),
 ('JJAX4X60DE65EYFOTY73', 'Suburban Propane Partners, L.P.', 'SUBURBAN PROPANE PARTNERS LP', '2022-01-01', '2022-09-30', 1501465000.0),
 ('V82KK8NH1P0JS71FJC05', 'Sumitomo Corp.', None, None, None, None),
 ('5493004W8FBXFVSWVZ87', 'SunEdison, Inc.', None, None, None, None),
 ('54930007SJ77CI66U531', 'Sunrun Inc.', 'SUNRUN INC.', '2022-01-01', '2022-12-31', 2321422000.0),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2022-01-01', '2022-12-31', 11053234693.122927),
 ('549300HE1ISW43LNKM54', 'Tennessee Valley Authority', 'TENNESSEE VALLEY AUTHORITY', '2022-01-01', '2022-09-30', 12540000000.0),
 ('529900NGGVF94UK6PG95', 'The Carlyle Group, Inc.', 'CARLYLE GROUP INC.', '2022-01-01', '2022-12-31', 4438700000.0),
 ('784F5XWPLTWKTBV3E584', 'The Goldman Sachs Group, Inc.', 'GOLDMAN SACHS GROUP INC', '2022-01-01', '2022-12-31', 47365000000.0),
 ('5299004EMJ3R4RVR5Y75', 'Tokyo Electric Power Co.', None, None, None, None),
 ('FR0000120271', 'TotalEnergies SE', None, None, None, None),
 ('549300CEE2ENIUJNXB84', 'Toyota Tsusho Corp.', None, None, None, None),
 ('GJZNVO2UY6DNFNIYH321', 'TransAlta Corp.', 'TRANSALTA CORP', '2022-01-01', '2022-12-31', 2196329468.300316),
 ('549300VDHNFNPADSSV98', 'Tri-State Generation & Transmission Association, Inc.', 'TRI-STATE GENERATION & TRANSMISSION ASSOCIATION, INC.', '2022-01-01', '2022-12-31', 1533571000.0),
 ('5493001J7IGC81HEQJ12', 'Turlock Irrigation District', None, None, None, None),
 ('DX6GCWD4Q1JO9CRE5I40', 'UGI Corp.', 'UGI CORP', '2022-01-01', '2022-09-30', 10106000000.0),
 ('549300FTRJPHJWR2YG19', 'United Energy Corp.', None, None, None, None),
 ('8945004QAHNC2OHL6926', 'United Power, Inc.', None, None, None, None),
 ('549300N8FFURNHL5YM93', 'Valley Electric Association, Inc.', None, None, None, None),
 ('21TPXMRRHFKOBHDC8J74', 'Vectren Corp.', 'CENTERPOINT ENERGY INC', '2022-01-01', '2022-12-31', 9327000000.0),
 ('549300GNSLQRYVBRRM43', 'Vermont Electric Coop., Inc.', None, None, None, None),
 ('54930086XT4IMGTLYZ86', 'Vermont Electric Power Co., Inc.', None, None, None, None),
 ('549300U656GZMTWR1T03', 'Via Renewables, Inc.', 'VIA RENEWABLES, INC.', '2022-01-01', '2022-12-31', 462815000.0),
 ('549300KP43CPCUJOOG15', 'Vistra Corp.', 'VISTRA CORP.', '2022-01-01', '2022-12-31', 15631000000.0),
 ('549300IGLYTZUK3PVP70', 'WEC Energy Group', 'WEC ENERGY GROUP, INC.', '2022-01-01', '2022-12-31', 9597400000.0),
 ('VR27ZYPWHGW7Z1BM8Y69', 'Wabash Valley Power Alliance', None, None, None, None),
 ('Y87794H0US1R65VBXU25', 'Walmart Inc.', 'WALMART INC.', '2022-01-01', '2023-01-31', 611289000000.0),
 ('549300EHUH3VGBXO8J39', 'Westfield Gas & Electric Light', None, None, None, None),
 ('549300ROWOIV5X5MB591', 'Wolverine Power Supply Coop.', None, None, None, None),
 ('LGJNMI9GH8XIDG5RCM61', 'Xcel Energy, Inc.', 'XCEL ENERGY INC', '2022-01-01', '2022-12-31', 15310000000.0)]

stop!  Rnadom queries and explorations below...

display(engine.execute("describe sec_dera.financials_by_lei").fetchall())

display(engine.execute("select * from sec_dera.t_f where lei='2NUNNB7D43COUIRE5295' order by ddate desc").fetchall())

engine.execute("select * from sec_dera.financials_by_lei where lei='2NUNNB7D43COUIRE5295' order by ddate desc").fetchall()

engine.execute("select count (*) from (select distinct(lei) from sec_dera.sub)").fetchall()

engine.execute("select S.name, cik, adsh from sec_dera.sub as S where name='DOMINION ENERGY, INC' limit 20").fetchall()

engine.execute("select * from sec_dera.sub where cik=715957 and form='10-K' limit 20").fetchall()

engine.execute("select count (*), coreg from sec_dera.num where adsh='0001564590-21-008442' group by coreg limit 20").fetchall()

engine.execute("select * from sec_dera.num where adsh='0001564590-21-008442' and coreg is null and tag='ProfitLoss' and qtrs=4 order by ddate desc").fetchall()

engine.execute("select * from sec_dera.sub where adsh='0001564590-21-008442'").fetchall()

engine.execute("select tag, value from sec_dera.num where adsh='0001564590-21-008442' and coreg='VirginiaElectricAndPowerCompany' and ddate=DATE('2020-12-31') and qtrs=4 order by value desc limit 20").fetchall()

engine.execute("select coreg, value from sec_dera.num where adsh='0001564590-21-008442' and tag='Revenues' and ddate=DATE('2020-12-31') and qtrs=4 order by value desc limit 20").fetchall()

engine.execute("select coreg, value from sec_dera.num where adsh='0001564590-21-008444' and tag='RegulatedOperatingRevenue' and ddate=DATE('2020-12-31') order by value desc limit 20").fetchall()

engine.execute(f"""
select S.adsh, S.cik, S.name, S.lei, T.tname, S.sic, S.fy, N.ddate, N.uom, max(value) as market_cap
from sec_dera.sub as S
     left join sec_dera.float_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.num as N on S.adsh=N.adsh and (X.adsh IS NULL or X.ddate=N.ddate)
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where X.ddate IS NULL
      and value>0
      and N.uom!='USD'
      and coreg is NULL
      -- and qtrs=0
      and (tag='ComputedTreasuryFloat')
group by S.adsh, S.cik, S.name, S.lei, T.tname, S.sic, S.fy, N.ddate, N.uom
""").fetchall()

engine.execute("select * from sec_dera.float_xyz_by_lei where lei='8R95QZMKZLJX5Q2XR704'").fetchall()

engine.execute("describe sec_dera.t_f").fetchall()

engine.execute("select * from sec_dera.float_usd_by_lei where float=54000000.0").fetchall()

engine.execute("select * from sec_dera.num where adsh like '0001031296-2%' and value=54000000.0").fetchall()