# Create VIEWs on SEC DERA data by LEI

## Full-year FY REVENUES

## Point-in-time FLOAT, DEBT, CASH, ASSETS, (EV = FLOAT + DEBT - CASH, EVIC = FLOAT + DEBT)

In [1]:
import os
import pathlib
from dotenv import load_dotenv

# Load some standard environment variables from a dot-env file, if it exists.
# If no such file can be found, does not fail, and so allows these environment vars to
# be populated in some other way
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

Set session variable CATALOG to make query terms much more compact

In [2]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

import pandas as pd

In [3]:
from osc_ingest_trino import *

trino_bucket = attach_s3_bucket("S3_DEV")

In [4]:
for tbl in ['t_r', 't_f', 't_d', 't_c', 't_a']:
    qres = engine.execute(f"drop table if exists sec_dera.{tbl}")
    print(qres.fetchall())

[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]

# FX

Many public companies are non-US companies or report facts in units of measurement other than USD.  We build a small table of market knowledge so that we can do foreign exchange (FX) calculations.

In [250]:
sql = ("""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from sec_dera.num
where ddate>=DATE('2019-01-01')
      and (tag='ClosingForeignExchangeRate' or tag='ForeignCurrencyExchangeRateTranslation1')
      and qtrs=0 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_closing_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_closing_fx)

sql = ("""
select count (*) as count, uom, ddate, max(value) as maxval, min(value) as minval from sec_dera.num
where ddate>=DATE('2019-01-01')
      and tag='AverageForeignExchangeRate'
      and qtrs=4 and uom!= 'USD' and (uom like '%USD%' or length(uom)=3)
group by uom, ddate, tag
order by ddate, uom, tag
""")
df_average_fx = pd.read_sql (sql, engine, parse_dates=['ddate'])
# display(df_average_fx)

In [144]:
import re

def create_fx_dict(df):
    """From a list of FX pairs or non-USD (presumed to convert to USD) FX rates by dates, return a dictionary of FX rates by dates"""
    df_gbp = df[df.uom.str.contains('GBP', flags=re.I)]
    df_eur = df[df.uom.str.contains('EUR', flags=re.I)]
    df_other = df[~df.uom.str.contains('(GBP)|(EUR)', flags=re.I)]
    
    fx_input = {'GBP': df_gbp, 'EUR': df_eur }

    fx_df = {}

    for fx in ['GBP', 'EUR']:
        df_base = fx_input[fx].loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = fx_input[fx].loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'to_USD', 'minval':'from_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    for fx in list({x[int(x[-1]=='USD')-1].upper():x[int(x[0]=='USD')-1].upper() for x in df_other.uom.str.split(r'[-_/]').values }.keys()):
        df_other_fx = df_other[df_other.uom.str.contains(fx, flags=re.I)]
        df_base = df_other_fx.loc[df.maxval>1, ['ddate', 'maxval']].groupby(by='ddate').mean()
        df_base['minval'] = 1/df_base.maxval
        df_quote = df_other_fx.loc[df.minval<1, ['ddate', 'minval']].groupby(by='ddate').mean()
        df_quote['maxval'] = 1/df_quote.minval
        df_fx = pd.concat((df_base, df_quote), axis=0).groupby(by='ddate').mean().reset_index()
        df_fx['base'] = fx
        df_fx.rename(columns={'maxval':'from_USD', 'minval':'to_USD'}, inplace=True)
        df_fx = df_fx[['base', 'to_USD', 'from_USD', 'ddate']]
        fx_df[fx] = df_fx.convert_dtypes()
    
    return fx_df

The `closing_fx` table contains point-in-time FX market information.

The `average_fx` table contains a four-quarter average of FX rates.

In [251]:
import io

ingest_schema = 'sec_dera'

def create_fx_table(df_fx, tbl):
    qres = engine.execute(f"drop table if exists {ingest_schema}.{tbl}")
    display(qres.fetchall())

    df = enforce_sql_column_names(pd.concat(create_fx_dict(df_fx).values()))

    buf = io.BytesIO()
    df.to_parquet(path=buf)
    buf.seek(0)
    trino_bucket.upload_fileobj(Fileobj=buf,
                                Key=f'trino/{ingest_schema}/{tbl}/data.parquet')

    columnschema = create_table_schema_pairs(df, typemap={'datetime64[ns]':'timestamp(3)'})
    tabledef = f"""
create table if not exists {ingest_schema}.{tbl} (
{columnschema}
) with (
format = 'parquet',
external_location = 's3a://{trino_bucket.name}/trino/{ingest_schema}/{tbl}/'
)
"""
    print(tabledef)

    table_create = engine.execute(tabledef)
    # display(table_create.fetchall())

    if False:
        dataset_query = (f'SELECT * FROM {ingest_schema}.{tbl} limit 10')
        print(dataset_query)
        dataset = engine.execute(dataset_query)
        display(dataset.fetchall())

for df, tbl in [ (df_closing_fx,'closing_fx'), (df_average_fx,'average_fx') ]:
    create_fx_table(df, tbl)

[(True,)]

<ipython-input-144-e343598a9137>:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df_other = df[~df.uom.str.contains('(GBP)|(EUR)', flags=re.I)]

create table if not exists sec_dera.closing_fx (
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(3)
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/closing_fx/'
)

[(True,)]

create table if not exists sec_dera.average_fx (
    base varchar,
    to_usd double,
    from_usd double,
    ddate timestamp(3)
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/average_fx/'
)

# This complicated query helps us figure out how far and wide we need to reach to grab useful FX information

qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd,
       coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) as date_found,
       date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate) as date_diff
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate and N.coreg is NULL and N.qtrs=0 and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value,
        coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate),
        date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)
having coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate) is null or date_diff ('month', coalesce(FX.ddate, FX_1mo.ddate, FX_2mo.ddate, FX_3mo.ddate, FX_avg.ddate, FX_avg_py.ddate, FX_avg_1231.ddate), N.ddate)!=0
order by S.name, S.adsh, N.ddate, N.uom
""")
l = qres.fetchall()

import pandas as pd

df = pd.read_sql("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets,
       coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * N.value as assets_usd
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
          and N.coreg is NULL and N.tag='Assets'
     left join sec_dera.closing_fx FX on N.uom=FX.base and N.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on N.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, N.ddate)=1
     left join sec_dera.closing_fx FX_2mo on N.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, N.ddate)=2
     left join sec_dera.closing_fx FX_3mo on N.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, N.ddate)=3
     left join sec_dera.average_fx FX_avg on N.uom=FX_avg.base and N.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on N.uom=FX_avg_py.base and N.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on N.uom=FX_avg_1231.base and DATE(cast (year(N.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
where S.fy>=DATE('2020-01-01')
""", engine, index_col=None)
df

In [ ]:
qres = engine.execute("select count (*), adsh, uom, tag group by adsh, uom, tag ")

### Revenue

For this table and others, we do not yet implement a mechanism for prioritizing amended values over initially reported values.  That is a TODO.

# There are 56 of these and each one has a colorful explanation as to why the report data and the fiscal year are so misaligned

engine.execute("select S.adsh, cik, fy, name from sec_dera.sub as S where S.form='10-K' and S.fy>=DATE('2018-01-01') and S.fy<DATE('2019-01-01')").fetchall()

engine.execute("select *, if (fp='','fp should not be empty string', '') from sec_dera.sub as S where S.form='10-K' and S.fp!='FY'").fetchall()

In [258]:
qres = engine.execute("drop table if exists sec_dera.t_r")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_revenue_usd_by_lei as
select S.adsh, cik, name, lei, sic, fy, N.ddate, uom, max(value) as revenue
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and uom='USD'
        and coreg is NULL
        and qtrs=4
        and (N.tag='Revenue'
             or N.tag='Revenues'
             or N.tag='RevenueFromContractsWithCustomers'
             or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
             or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
             or N.tag='RevenuesNetOfInterestExpense'
             or N.tag='RegulatedAndUnregulatedOperatingRevenue'
             or N.tag='RegulatedOperatingRevenuePipelines')
group by S.adsh, cik, name, lei, sic, fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.fy_revenue_xyz_by_lei as
select S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom, max(N.value) as revenue
from sec_dera.sub as S left join sec_dera.fy_revenue_usd_by_lei X on S.adsh=X.adsh
     join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate) and X.adsh IS NULL
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and N.uom!='USD'
        and coreg is NULL
        and qtrs=4
        and (N.tag='Revenue'
             or N.tag='Revenues'
             or N.tag='RevenueFromContractsWithCustomers'
             or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
             or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
             or N.tag='RevenuesNetOfInterestExpense'
             or N.tag='RegulatedAndUnregulatedOperatingRevenue'
             or N.tag='RegulatedOperatingRevenuePipelines')
group by S.adsh, S.cik, S.name, S.lei, S.sic, S.fy, N.ddate, N.uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_r as
select V_USD.*, V_USD.revenue as revenue_usd
from sec_dera.fy_revenue_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.revenue as revenue_usd
from sec_dera.fy_revenue_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(10464,)]

engine.execute("select * from sec_dera.num where qtrs=4004").fetchall()

engine.execute("select * from sec_dera.sub where adsh='0001628280-21-016934'").fetchall()

engine.execute("select * from sec_dera.t_r where name='INDEPENDENT BANK CORP'").fetchall()

### Float (market cap)

TODO: The float calculation reads the reported overall float without regard to share class.  For companies that have multiple associated tickers, this gives wrong results.  And probably very wrong results for BRK.A vs. BRK.B

engine.execute("select count (*), tag from sec_dera.num where tag like '%Float%' and tag not like '%Floating%' and tag not like '%Floater%' group by tag order by tag").fetchall()

engine.execute("select count (*) from sec_dera.sub as S join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh where (S.form!='10-K' and S.form!='20-F')").fetchall()

In [261]:
qres = engine.execute("drop table if exists sec_dera.t_f").fetchall()
qres = engine.execute("""
create or replace view sec_dera.float_by_adsh_ddate as
select S.adsh, fy, max(ddate) as f_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='EntityPublicFloat'
             or tag='EntitysPublicFloat'
             or tag='FreeFloat'
             or tag='PublicFloat'
             or tag='PublicFloatValue')
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_usd_by_lei as
select S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom, max(value) as market_cap
from sec_dera.sub as S
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where value>0
      and uom='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.float_xyz_by_lei as
select S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom, max(value) as market_cap
from sec_dera.sub as S
     join sec_dera.float_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.f_ddate=N.ddate
     left join sec_dera.ticker T on S.cik=T.cik
     -- we already know we are looking at the correct S.form type
where value>0
      and uom!='USD'
      and coreg is NULL
      and qtrs=0
      and (tag='EntityPublicFloat'
           or tag='EntitysPublicFloat'
           or tag='FreeFloat'
           or tag='PublicFloat'
           or tag='PublicFloatValue')
group by S.adsh, S.cik, name, lei, tname, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_f as
select V_USD.*, V_USD.market_cap as market_cap_usd
from sec_dera.float_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.market_cap as market_cap_usd
from sec_dera.float_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(10801,)]

engine.execute("select * from sec_dera.t_f where name='INDEPENDENT BANK CORP'").fetchall()

### Cash

In [263]:
qres = engine.execute("drop table if exists sec_dera.t_c").fetchall()
qres = engine.execute("""
create or replace view sec_dera.cash_by_adsh_ddate as
select S.adsh, fy, max(ddate) as c_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, fy
""")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.cash_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as cash
from sec_dera.sub as S
     join sec_dera.cash_by_adsh_ddate as AD on S.adsh=AD.adsh -- and S.fy=AD.fy
     join sec_dera.num as N on AD.adsh=N.adsh and AD.c_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.cash_xyz_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as cash
from sec_dera.sub as S
     join sec_dera.cash_by_adsh_ddate as AD on S.adsh=AD.adsh -- and S.fy=AD.fy
     join sec_dera.num as N on AD.adsh=N.adsh and AD.c_ddate=N.ddate
where coreg is NULL
      and uom!='USD'
      and qtrs=0
      and (tag='Cash'
             or tag='CashAndDueFromBanks'
             or tag='CashAndCashEquivalents'
             or lower(tag)=lower('CashAndCashEquivalentsUnrestricted')
             or tag='CashEquivalentsAtCarryingValue' 
             or tag='CashAndCashEquivalentsAtCarryingValue'
             or tag='CashAndCashEquivalentsAtCarryingValueExcludingVariableInterestEntities')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_c as
select V_USD.*, V_USD.cash as cash_usd
from sec_dera.cash_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.cash as cash_usd
from sec_dera.cash_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(12459,)]

engine.execute("select * from sec_dera.t_c where name='INDEPENDENT BANK CORP'").fetchall()

engine.execute("""
select count (*), tag from sec_dera.num
where tag='CashAndCashEquivalentsAtCarryingValue' or tag='Cash' or tag='CashEquivalentsAtCarryingValue' or tag='CashAndCashEquivalents'
group by tag order by count (*) desc limit 20
""").fetchall()

### Debt

In [264]:
# Reiterating comment embedded below: we should sum 'LongTermDebtNoncurrent' and 'LongTermDebtCurrent' as one term we MAX with others
qres = engine.execute("drop table if exists sec_dera.t_d").fetchall()

qres = engine.execute("""
create or replace view sec_dera.debt_by_adsh_ddate as
select S.adsh, fy, max(ddate) as d_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
             or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
             or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
             or tag='OperatingLeaseLiabilityNoncurrent'
             or tag='SubordinatedDebt' or tag='ConvertibleDebt'
             or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
             -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
             or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, fy
""")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.debt_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as debt
from sec_dera.sub as S
     join sec_dera.debt_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
           or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
           or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
           or tag='OperatingLeaseLiabilityNoncurrent'
           or tag='SubordinatedDebt' or tag='ConvertibleDebt'
           or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
           -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
           or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.debt_xyz_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as debt
from sec_dera.sub as S
     join sec_dera.debt_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom!='USD'
      and qtrs=0
      and (tag='LongTermDebt' or tag='LongTermDebtFairValue'
           or tag='LongTermDebtAndCapitalLeaseObligations' or tag='DebtAndCapitalLeaseObligations'
           or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt'
           or tag='OperatingLeaseLiabilityNoncurrent'
           or tag='SubordinatedDebt' or tag='ConvertibleDebt'
           or tag='LongTermLineOfCredit' or tag='OtherBorrowings' or tag='NotesAndLoansReceivableNetNoncurrent'
           -- NOTE: A MORE ACCURATE ANSWER COMES FROM SUMMING THESE TWO AND COMPARING WITH THE ABOVE (ALREADY-COMBINED) DEBT METRICS
           or tag='LongTermDebtNoncurrent' or tag='LongTermDebtCurrent')
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_d as
select V_USD.*, V_USD.debt as debt_usd
from sec_dera.debt_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.debt as debt_usd
from sec_dera.debt_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]

[(True,)]

[(True,)]

[(9017,)]

engine.execute("select * from sec_dera.t_d where name='INDEPENDENT BANK CORP'").fetchall()

engine.execute("""
select count (*), tag from sec_dera.num
where tag='LongTermDebt' or tag='LongTermDebtFairValue' or tag='LongTermDebtAndCapitalLeaseObligations'
or tag='DebtLongtermAndShorttermCombinedAmount' or tag='SecuredDebt' or tag='UnsecuredDebt' or tag='SubordinatedDebt' or tag='ConvertibleDebt'
group by tag order by count (*) desc
""").fetchall()

l = engine.execute("""
select name, sic, round(value/1000000.0,1), uom, ddate, nciks, aciks
from sec_dera.sub as S join sec_dera.num as N
on S.adsh=N.adsh
where form='10-K' and fy=DATE('2020-01-01') and tag='DebtLongtermAndShorttermCombinedAmount' order by value desc limit 20
""").fetchall()

l = engine.execute("""
select name, form, tag, value, uom, fy, qtrs, coreg
from sec_dera.sub S join sec_dera.num as N
on S.adsh=N.adsh
where (form='10-K' or form='20-F') and fy >= ddate and date_add('year', -1, fy) < ddate
and (N.tag='Revenues'
     or N.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
     or N.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
     or N.tag='RevenuesNetOfInterestExpense'
     or N.tag='RegulatedAndUnregulatedOperatingRevenue'
     or N.tag='RegulatedOperatingRevenuePipelines')
order by name
""").fetchall()
len(l)

### Assets

qres = engine.execute("""
select count (*), form, uom
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or form='20-F' or form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and tag='Assets'
group by form, uom
order by form, count (*) desc
""")
display(qres.fetchall())

qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, value as assets, FX.value * value as assets_usd
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
     join sec_dera.num as FX on N.ddate=FX.ddate
where N.coreg is NULL
      and N.qtrs=0
      and N.tag='Assets'
      and FX.qtrs=0
      and FX.tag=
""")
print(qres.fetchall())

In [265]:
qres = engine.execute("drop table if exists sec_dera.t_a")
print(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_by_adsh_ddate as
select S.adsh, fy, max(ddate) as d_ddate
from sec_dera.sub as S join sec_dera.num as N on S.adsh=N.adsh and year(S.fy)=year(N.ddate)
where (S.form='10-K' or S.form='20-F' or S.form='40-F')
        and S.fy>=DATE('2019-01-01')
        and coreg is NULL
        and qtrs=0
        and tag='Assets'
group by S.adsh, fy
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_usd_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as assets
from sec_dera.sub as S
     join sec_dera.assets_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom='USD'
      and qtrs=0
      and tag='Assets'
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create or replace view sec_dera.assets_xyz_by_lei as
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom, max(value) as assets
from sec_dera.sub as S
     join sec_dera.assets_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.d_ddate=N.ddate
where coreg is NULL
      and uom!='USD'
      and qtrs=0
      and tag='Assets'
group by S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, uom
""")
display(qres.fetchall())

qres = engine.execute("""
create table sec_dera.t_a as
select V_USD.*, V_USD.assets as assets_usd
from sec_dera.assets_usd_by_lei as V_USD
UNION ALL
select V_XYZ.*, coalesce(FX.to_usd, FX_1mo.to_usd, FX_2mo.to_usd, FX_3mo.to_usd, FX_avg.to_usd, FX_avg_py.to_usd, FX_avg_1231.to_usd) * V_XYZ.assets as assets_usd
from sec_dera.assets_xyz_by_lei as V_XYZ
     left join sec_dera.closing_fx FX on V_XYZ.uom=FX.base and V_XYZ.ddate=FX.ddate
     left join sec_dera.closing_fx FX_1mo on V_XYZ.uom=FX_1mo.base and date_diff('month', FX_1mo.ddate, V_XYZ.ddate)=1
     left join sec_dera.closing_fx FX_2mo on V_XYZ.uom=FX_2mo.base and date_diff('month', FX_2mo.ddate, V_XYZ.ddate)=2
     left join sec_dera.closing_fx FX_3mo on V_XYZ.uom=FX_3mo.base and date_diff('month', FX_3mo.ddate, V_XYZ.ddate)=3
     left join sec_dera.average_fx FX_avg on V_XYZ.uom=FX_avg.base and V_XYZ.ddate=FX_avg.ddate
     left join sec_dera.average_fx FX_avg_py on V_XYZ.uom=FX_avg_py.base and V_XYZ.ddate=date_add('year', 1, FX_avg_py.ddate)
     left join sec_dera.average_fx FX_avg_1231 on V_XYZ.uom=FX_avg_1231.base and DATE(cast (year(V_XYZ.ddate)-1 as varchar)||'-12-31')=FX_avg_1231.ddate
""")
display(qres.fetchall())

[(True,)]
[(True,)]

[(True,)]

[(True,)]

[(12703,)]

In [269]:
qres = engine.execute("""
create or replace view sec_dera.financials_by_lei as
select R.name, R.lei,
       tname,
       R.fy, R.ddate, R.sic, revenue_usd, cash_usd, debt_usd, assets_usd, market_cap_usd
from sec_dera.t_r as R
     left join sec_dera.t_c as C on R.cik=C.cik and R.adsh=C.adsh
     left join sec_dera.t_d as D on R.cik=D.cik and R.adsh=D.adsh
     left join sec_dera.t_a as A on R.cik=A.cik and R.adsh=A.adsh
     left join sec_dera.t_f as F on R.cik=F.cik and R.adsh=F.adsh
where tname not like '%-%'
""")
display(qres.fetchall())

qres = engine.execute("""
select * from sec_dera.financials_by_lei
""")
l = qres.fetchall()
len(l)

[(True,)]

7853

In [272]:
y = [x for x in l if x[5] == 4911]
print(len(y))
display(y)

73

[('PORTLAND GENERAL ELECTRIC CO', 'GJOUP9M7C39GLSK9R870', 'por', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 2151000000.0, None, 3808000000.0, 9069000000.0, 3725882304.0),
 ('ORMAT TECHNOLOGIES, INC.', '5493000TSHHWY24VHM09', 'ora', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 705342000.0, 448252000.0, 1474174000.0, 3888987000.0, 2544589505.0),
 ('OTTER TAIL CORP', '549300HHVBQRQUVKKD91', 'ottr', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 890107000.0, 1163000.0, 845516000.0, 2578354000.0, 1546518975.0),
 ('VISTRA ENERGY CORP.', '549300KP43CPCUJOOG15', 'vst', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 11809000000.0, 300000000.0, 10102000000.0, 26616000000.0, 8654325784.0),
 ('DOMINION ENERGY, INC', 'ILUL7B6Z54MRYCF6H308', 'dcue', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 14172000000.0, 172000000.0, 33957000000.0, 95905000000.0, 68000000000.0),
 ('DOMINION ENERGY, INC', 'ILUL7B6Z54MRYCF6H308', 'd', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 14172000000.0, 172000000.0, 33957000000.0, 95905000000.0, 68000000000.0),
 ('PPL CORP', '9N3UAJSNOUXFKQLF3V18', 'ppl', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 7769000000.0, 815000000.0, 21893000000.0, 45680000000.0, 22384264788.0),
 ('EDISON INTERNATIONAL', '549300I7ROF15MAEVP56', 'eix', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12347000000.0, 68000000.0, 20137000000.0, 64382000000.0, 22000000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtw', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtb', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dty', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dte', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtp', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 12177000000.0, 514000000.0, 19603000000.0, 45496000000.0, 20500000000.0),
 ('HAWAIIAN ELECTRIC INDUSTRIES INC', 'JJ8FWOCWCV22X7GUPJ23', 'he', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 2579775000.0, 341421000.0, 2119129000.0, 15004007000.0, 3937071331.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'sojd', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'so', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'soln', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'sojc', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'soje', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 21097000000.0, 1065000000.0, 45073000000.0, 122935000000.0, 54800000000.0),
 ('CLEARWAY ENERGY, INC.', '549300C841GHSUPKR373', 'cwen', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1032000000.0, 155000000.0, 4956000000.0, 9700000000.0, 1788899961.0),
 ('OTTER TAIL CORP', '549300HHVBQRQUVKKD91', 'ottr', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 919503000.0, 21199000.0, 695764000.0, 2273595000.0, 2040017347.0),
 ('BLACK HILLS CORP', '3MGELCRSTNSAMJ962671', 'bkh', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1734900000.0, 9777000.0, 3140096000.0, 7558457000.0, 4727278183.0),
 ('NEXTERA ENERGY PARTNERS, LP', '5493008F4ZOQFNG3WN54', 'nep', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 917000000.0, 108000000.0, 3388000000.0, 12562000000.0, 3270074217.0),
 ('PORTLAND GENERAL ELECTRIC CO', 'GJOUP9M7C39GLSK9R870', 'por', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 2123000000.0, 30000000.0, 3039000000.0, 8394000000.0, 4823580272.0),
 ('IDACORP INC', 'N134NUJDWN8UEFA8B673', 'ida', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1346383000.0, 217254000.0, 1836659000.0, 6641201000.0, 5017481695.0),
 ('CLEARWAY ENERGY, INC.', '549300C841GHSUPKR373', 'cwen', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1199000000.0, 268000000.0, 7043000000.0, 10592000000.0, 1786941297.0),
 ('VISTRA CORP.', '549300KP43CPCUJOOG15', 'vst', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 11443000000.0, 406000000.0, 9235000000.0, 25208000000.0, 9084469142.0),
 ('PPL CORP', '9N3UAJSNOUXFKQLF3V18', 'ppl', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 7607000000.0, 708000000.0, 23127000000.0, 48116000000.0, 19865342074.0),
 ('ENTERGY CORP', '4XM3TW50JULSLG8BNC79', 'etr', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 10113636000.0, 1759099000.0, 24813818000.0, 58239212000.0, 18800000000.0),
 ('OGE ENERGY CORP.', 'CE5OG6JPOZMDSA0LAQ19', 'oge', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 2231600000.0, 0.0, 3195200000.0, 11024300000.0, 8519482559.0),
 ('NRG ENERGY, INC.', '5E2UPK5SW04M13XY7I38', 'nrg', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 9821000000.0, 345000000.0, 6042000000.0, 12531000000.0, 7893678070.0),
 ('HAWAIIAN ELECTRIC INDUSTRIES INC', 'JJ8FWOCWCV22X7GUPJ23', 'he', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 2874601000.0, 196813000.0, 1964365000.0, 13745251000.0, 4745752027.0),
 ('NEXTERA ENERGY PARTNERS, LP', '5493008F4ZOQFNG3WN54', 'nep', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 855000000.0, 128000000.0, 4144000000.0, 12256000000.0, 2625980436.0),
 ('EVERSOURCE ENERGY', 'SJ7XXD41SQU3ZNWUJ746', 'es', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 8904430000.0, 106599000.0, 15125876000.0, 46099598000.0, 28496151703.0),
 ('PNM RESOURCES INC', '5493003JOBJGLZSDDQ28', 'pnm', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1523012000.0, 47928000.0, 2719632000.0, 7939854000.0, 3061885307.0),
 ('EVERSOURCE ENERGY', 'SJ7XXD41SQU3ZNWUJ746', 'es', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 8526470000.0, 15432000.0, 13770828000.0, 41123915000.0, 24486439602.0),
 ('AVANGRID, INC.', '549300OX0Q38NLSKPB49', 'agr', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 6338000000.0, 178000000.0, 8168000000.0, 34416000000.0, 2836000000.0),
 ('PINNACLE WEST CAPITAL CORP', 'TWSEY0NEDUDCKS27AH81', 'pnw', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 3471209000.0, 10283000.0, 6194392000.0, 18479247000.0, 10536165750.0),
 ('NEXTERA ENERGY INC', 'UMI46YPGBLUE4VGNNT48', 'nee', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 17997000000.0, 1105000000.0, 41944000000.0, 127684000000.0, 117405158883.0),
 ('IDACORP INC', 'N134NUJDWN8UEFA8B673', 'ida', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1350729000.0, 275116000.0, 2000414000.0, 7095244000.0, 4376761183.0),
 ('PINNACLE WEST CAPITAL CORP', 'TWSEY0NEDUDCKS27AH81', 'pnw', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 3586982000.0, 59968000.0, 7612841000.0, 20020421000.0, 8231813171.0),
 ('VETANOVA INC.', None, 'vtna', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 13125.0, None, None, 78913.0, 1524341.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'sojd', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 21419000000.0, 1975000000.0, 41798000000.0, 118700000000.0, 57800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'soje', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 21419000000.0, 1975000000.0, 41798000000.0, 118700000000.0, 57800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'sojc', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 21419000000.0, 1975000000.0, 41798000000.0, 118700000000.0, 57800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'soln', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 21419000000.0, 1975000000.0, 41798000000.0, 118700000000.0, 57800000000.0),
 ('SOUTHERN CO', '549300FC3G3YU2FBZD92', 'so', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 21419000000.0, 1975000000.0, 41798000000.0, 118700000000.0, 57800000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dte', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12669000000.0, 93000000.0, 16755000000.0, 41882000000.0, 23100000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtb', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12669000000.0, 93000000.0, 16755000000.0, 41882000000.0, 23100000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtp', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12669000000.0, 93000000.0, 16755000000.0, 41882000000.0, 23100000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dty', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12669000000.0, 93000000.0, 16755000000.0, 41882000000.0, 23100000000.0),
 ('DTE ENERGY CO', '549300IX8SD6XXD71I78', 'dtw', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12669000000.0, 93000000.0, 16755000000.0, 41882000000.0, 23100000000.0),
 ('NEXTERA ENERGY INC', 'UMI46YPGBLUE4VGNNT48', 'nee', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 19204000000.0, 600000000.0, 37543000000.0, 117691000000.0, 97905404884.0),
 ('DOMINION ENERGY, INC', 'ILUL7B6Z54MRYCF6H308', 'd', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 16572000000.0, 166000000.0, 33824000000.0, 103823000000.0, 62000000000.0),
 ('DOMINION ENERGY, INC', 'ILUL7B6Z54MRYCF6H308', 'dcue', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 16572000000.0, 166000000.0, 33824000000.0, 103823000000.0, 62000000000.0),
 ('PNM RESOURCES INC', '5493003JOBJGLZSDDQ28', 'pnm', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 1457603000.0, 3833000.0, 2517449000.0, 7298774000.0, 4055165998.0),
 ('BLACK HILLS CORP', '3MGELCRSTNSAMJ962671', 'bkh', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 1696941000.0, 6356000.0, 3528100000.0, 8088786000.0, 3528768075.0),
 ('ORMAT TECHNOLOGIES, INC.', '5493000TSHHWY24VHM09', 'ora', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 746044000.0, 71173000.0, 1167912000.0, 3250494000.0, 2527613074.0),
 ('AMERICAN ELECTRIC POWER CO INC', '1B4S6S7G0TW5EE83BO58', 'aeppz', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 14918500000.0, 392700000.0, 37457000000.0, 80757200000.0, 39549558010.0),
 ('AMERICAN ELECTRIC POWER CO INC', '1B4S6S7G0TW5EE83BO58', 'aeppl', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 14918500000.0, 392700000.0, 37457000000.0, 80757200000.0, 39549558010.0),
 ('AMERICAN ELECTRIC POWER CO INC', '1B4S6S7G0TW5EE83BO58', 'aep', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 14918500000.0, 392700000.0, 37457000000.0, 80757200000.0, 39549558010.0),
 ('CENTERPOINT ENERGY INC', '21TPXMRRHFKOBHDC8J74', 'cnp', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 7418000000.0, 147000000.0, 11521000000.0, 33471000000.0, 10142624694.0),
 ('FIRSTENERGY CORP', '549300SVYJS666PQJH88', 'fe', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 11035000000.0, 627000000.0, 19618000000.0, 42301000000.0, 22724895037.0),
 ('AVANGRID, INC.', '549300OX0Q38NLSKPB49', 'agr', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 6320000000.0, 1463000000.0, 12166000000.0, 37823000000.0, 2374000000.0),
 ('AMERICAN ELECTRIC POWER CO INC', '1B4S6S7G0TW5EE83BO58', 'aeppl', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 15561400000.0, 246800000.0, 30172000000.0, 75892300000.0, 43491855142.0),
 ('AMERICAN ELECTRIC POWER CO INC', '1B4S6S7G0TW5EE83BO58', 'aeppz', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 15561400000.0, 246800000.0, 30172000000.0, 75892300000.0, 43491855142.0),
 ('AMERICAN ELECTRIC POWER CO INC', '1B4S6S7G0TW5EE83BO58', 'aep', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 15561400000.0, 246800000.0, 30172000000.0, 75892300000.0, 43491855142.0),
 ('CENTERPOINT ENERGY INC', '21TPXMRRHFKOBHDC8J74', 'cnp', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 12301000000.0, 241000000.0, 14244000000.0, 35439000000.0, 14295717409.0),
 ('NRG ENERGY, INC.', '5E2UPK5SW04M13XY7I38', 'nrg', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 9093000000.0, 3905000000.0, 8859000000.0, 14902000000.0, 6941658699.0),
 ('FIRSTENERGY CORP', '549300SVYJS666PQJH88', 'fe', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 10790000000.0, 1734000000.0, 22131000000.0, 44464000000.0, 20967401361.0),
 ('OGE ENERGY CORP.', 'CE5OG6JPOZMDSA0LAQ19', 'oge', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 2122300000.0, 1100000.0, 3494400000.0, 10718800000.0, 6077156282.0),
 ('ENTERGY CORP', '4XM3TW50JULSLG8BNC79', 'etr', '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 4911, 10878673000.0, 425722000.0, 19059950000.0, 51723912000.0, 20500000000.0),
 ('EDISON INTERNATIONAL', '549300I7ROF15MAEVP56', 'eix', '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 4911, 13578000000.0, 87000000.0, 23824000000.0, 69372000000.0, 20500000000.0)]

engine.execute("select * from sec_dera.sub where cik=1174169 and form='40-F'").fetchall()

engine.execute("select * from sec_dera.num as R where (R.adsh='0001174169-20-000018' or R.adsh='0001174169-21-000012') and tag='RevenueFromContractWithCustomerExcludingAssessedTax'").fetchall()

engine.execute("select * from sec_dera.t_r where adsh='0001004315-21-000067' or adsh='0001004315-20-000053'").fetchall()

In [275]:
l = engine.execute("""
select A.lei, A.parent_name, R.name, date_format(R.fy, '%Y-%m-%d'), R.revenue_usd
from (select coalesce(G.ultimate_parent_issuer_lei,U.parent_lei) as lei, U.parent_name
      from rmi_20211120.utility_information as U left join gleif_mdt.gleif_direct_issuer_ultimate_issuer as G on U.parent_lei=G.direct_issuer_lei
      group by coalesce(G.ultimate_parent_issuer_lei,U.parent_lei), U.parent_name) as A
     left join sec_dera.t_r as R on A.lei=R.lei
where A.lei is not null
      and (R.lei is null or year(R.fy)=2020)
order by A.parent_name
""").fetchall()

print(len(l))
display(l)

93

[('2NUNNB7D43COUIRE5295', 'AES Corp.', 'AES CORP', '2020-01-01', 9660000000.0),
 ('549300T12EZ1F6PWWU29', 'Alcoa Corp.', 'ALCOA CORP', '2020-01-01', 9286000000.0),
 ('549300K5VIUTJXQL7X75', 'Algonquin Power & Utilities Corp.', 'ALGONQUIN POWER & UTILITIES CORP.', '2020-01-01', 1677058000.0),
 ('549300NNLSIMY6Z8OT86', 'Allete, Inc.', 'ALLETE INC', '2020-01-01', 1169100000.0),
 ('5493009ML300G373MZ12', 'Alliant Energy', 'ALLIANT ENERGY CORP', '2020-01-01', 3416000000.0),
 ('XRZQ5S7HYJFPHJ78L959', 'Ameren Corp.', 'AMEREN CORP', '2020-01-01', 5794000000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Electric Power Co., Inc.', 'AMERICAN ELECTRIC POWER CO INC', '2020-01-01', 14918500000.0),
 ('529900L26LIS2V8PWM23', 'American States Water', 'AMERICAN STATES WATER CO', '2020-01-01', 488243000.0),
 ('1B4S6S7G0TW5EE83BO58', 'American Transmission Co. LLC', 'AMERICAN ELECTRIC POWER CO INC', '2020-01-01', 14918500000.0),
 ('2138004PVNAV1E9SZP35', 'Antin Infrastructure Partners', None, None, None),
 ('549300GW1DWMX7FLDM29', 'ArcLight Capital Partners LLC', None, None, None),
 ('549300OX0Q38NLSKPB49', 'Avangrid, Inc.', 'AVANGRID, INC.', '2020-01-01', 6320000000.0),
 ('Q0IK63NITJD6RJ47SW96', 'Avista Corp.', 'AVISTA CORP', '2020-01-01', 1321891000.0),
 ('CT4UIJ3TUKGYYHMENQ17', 'Balfour Beatty Infrastructure Partners, L.P.', None, None, None),
 ('5493002CLOJ5KYT5GB16', 'Basin Electric Power Coop.', None, None, None),
 ('5493000C01ZX7D35SD85', 'Berkshire Hathaway, Inc.', 'BERKSHIRE HATHAWAY INC', '2020-01-01', 245510000000.0),
 ('COQ1W8HBTZOC1ADPR143', 'Big Rivers Electric Corp.', None, None, None),
 ('3MGELCRSTNSAMJ962671', 'Black Hills Corp.', 'BLACK HILLS CORP', '2020-01-01', 1696941000.0),
 ('C6J3FGIWG6MBDGTE8F80', 'Brookfield Asset Management', 'BROOKFIELD ASSET MANAGEMENT INC.', '2020-01-01', 62752000000.0),
 ('549300VR7GQZV6W7OR57', 'Buckeye Power, Inc.', None, None, None),
 ('549300IA9XFBAGNIBW29', 'CMS Energy Corp.', 'CMS ENERGY CORP', '2020-01-01', 6680000000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'California Independent System Operator Corp.', 'PG&E CORP', '2020-01-01', 18469000000.0),
 ('21TPXMRRHFKOBHDC8J74', 'CenterPoint Energy, Inc.', 'CENTERPOINT ENERGY INC', '2020-01-01', 7418000000.0),
 ('5493008ORX814MK1WM19', 'Citizens Corp.', None, None, None),
 ('549300I9GWXX4SYOE358', 'City of Holyoke', None, None, None),
 ('5493002H80P81B3HXL31', 'Cleco Corp.', 'CLECO CORPORATE HOLDINGS LLC', '2020-01-01', 1498146000.0),
 ('54930033SBW53OO8T749', 'Consolidated Edison, Inc.', 'CONSOLIDATED EDISON INC', '2020-01-01', 12246000000.0),
 ('549300SPFPI3X8V86Z21', 'Corning Natural Gas Holding Corp.', 'CORNING NATURAL GAS HOLDING CORP', '2020-01-01', 32385885.0),
 ('549300IX8SD6XXD71I78', 'DTE Energy', 'DTE ENERGY CO', '2020-01-01', 12177000000.0),
 ('ILUL7B6Z54MRYCF6H308', 'Dominion Energy', 'DOMINION ENERGY, INC', '2020-01-01', 14172000000.0),
 ('I1BZKREC126H0VB1BL91', 'Duke Energy Corp.', 'DUKE ENERGY CORP', '2020-01-01', 23868000000.0),
 ('549300I7ROF15MAEVP56', 'Edison International', 'EDISON INTERNATIONAL', '2020-01-01', 13578000000.0),
 ('NQZVQT2P5IUF2PGA1Q48', 'Emera Inc.', 'EMERA INC', '2020-01-01', 4283656688.371364),
 ('549300SULPFDEWWFVD15', 'Energir Inc.', None, None, None),
 ('4XM3TW50JULSLG8BNC79', 'Entergy Corp.', 'ENTERGY CORP', '2020-01-01', 10113636000.0),
 ('549300PGTHDQY6PSUI61', 'Evergy, Inc.', 'EVERGY, INC.', '2020-01-01', 4913400000.0),
 ('SJ7XXD41SQU3ZNWUJ746', 'Eversource Energy', 'EVERSOURCE ENERGY', '2020-01-01', 8904430000.0),
 ('3SOUA6IRML7435B56G12', 'Exelon Corp.', 'EXELON CORP', '2020-01-01', 33039000000.0),
 ('549300SVYJS666PQJH88', 'FirstEnergy Corp.', 'FIRSTENERGY CORP', '2020-01-01', 10790000000.0),
 ('549300MQYQ9Y065XPR71', 'Fortis, Inc.', 'FORTIS INC.', '2020-01-01', 6951411643.770094),
 ('549300IRDTHJQ1PVET45', 'Freeport-McMoRan, Inc.', 'FREEPORT-MCMORAN INC', '2020-01-01', 14198000000.0),
 ('549300ZCZ76HYCS0H445', 'Frontier Communications Corp.', 'FRONTIER COMMUNICATIONS CORP', '2020-01-01', 7155000000.0),
 ('5493007UJR2NMSZPGP02', 'Golden Spread Electric Coop., Inc', None, None, None),
 ('JJ8FWOCWCV22X7GUPJ23', 'Hawaiian Electric Industries, Inc.', 'HAWAIIAN ELECTRIC INDUSTRIES INC', '2020-01-01', 2579775000.0),
 ('UASVRYNXNK17ULIGK870', 'Hess Corp.', 'HESS CORP', '2020-01-01', 4804000000.0),
 ('N134NUJDWN8UEFA8B673', 'IDACORP, Inc.', 'IDACORP INC', '2020-01-01', 1350729000.0),
 ('549300FIA0OYFDEISW66', 'ISO New England Inc.', None, None, None),
 ('5QK37QC7NWOJ8D7WVQ45', 'Iberdrola, S.A.', None, None, None),
 ('549300NMCKSMDPKQ0502', 'Invenergy LLC', None, None, None),
 ('0T6SBMK3JTBI1JR36794', 'MDU Resources Group', 'MDU RESOURCES GROUP INC', '2020-01-01', 5532750000.0),
 ('549300QIEIVG0JUPV270', 'Midcontinent Independent System Operator, Inc', None, None, None),
 ('549300O4B5CVWMKUES27', 'Midwest Energy Inc.', 'MIDWEST ENERGY EMISSIONS CORP.', '2020-01-01', 8158448.0),
 ('549300XB5UQO7U766C18', 'Milliken & Co.', None, None, None),
 ('5E2UPK5SW04M13XY7I38', 'NRG Energy Inc.', 'NRG ENERGY, INC.', '2020-01-01', 9093000000.0),
 ('8R95QZMKZLJX5Q2XR704', 'National Grid plc', 'NATIONAL GRID PLC', '2020-01-01', 17981021141.975307),
 ('5493003TZVX6QJ0PBO15', 'New Hampshire Electric Coop., Inc.', None, None, None),
 ('5493004A26ERKLO7Y203', 'New York Independent System Operator', None, None, None),
 ('549300D8GOWWH0SJB189', 'NiSource Inc.', 'NISOURCE INC.', '2020-01-01', 4473200000.0),
 ('3BPWMBHR1R9SHUN7J795', 'NorthWestern Corp.', 'NORTHWESTERN CORP', '2020-01-01', 1206800000.0),
 ('CE5OG6JPOZMDSA0LAQ19', 'OGE Energy Corp.', 'OGE ENERGY CORP.', '2020-01-01', 2122300000.0),
 ('3EERXCUSWMS9GV5D9M98', 'Oglethorpe Power Corp.', 'OGLETHORPE POWER CORP', '2020-01-01', 1377618000.0),
 ('549300MA7EMERVYDHS24', 'Ohio Valley Electric Corp.', None, None, None),
 ('SW4VC32Z0ZKLJKPONQ50', 'Old Dominion Electric Coop.', 'OLD DOMINION ELECTRIC COOPERATIVE', '2020-01-01', 807704000.0),
 ('5299004YRCHMOU9FKK67', 'Omya AG', None, None, None),
 ('549300HHVBQRQUVKKD91', 'Otter Tail Corp.', 'OTTER TAIL CORP', '2020-01-01', 890107000.0),
 ('8YQ2GSDWYZXO2EDN3511', 'PG&E Corp.', 'PG&E CORP', '2020-01-01', 18469000000.0),
 ('549300M3VK6MP6R72034', 'PJM Interconnection, LLC', None, None, None),
 ('5493003JOBJGLZSDDQ28', 'PNM Resources, Inc.', 'PNM RESOURCES INC', '2020-01-01', 1523012000.0),
 ('9N3UAJSNOUXFKQLF3V18', 'PPL Corp.', 'PPL CORP', '2020-01-01', 7607000000.0),
 ('TWSEY0NEDUDCKS27AH81', 'Pinnacle West Capital Corp.', 'PINNACLE WEST CAPITAL CORP', '2020-01-01', 3586982000.0),
 ('GJOUP9M7C39GLSK9R870', 'Portland General Electric Co.', 'PORTLAND GENERAL ELECTRIC CO', '2020-01-01', 2151000000.0),
 ('XC5Z0IVHFCJDWCPZL176', 'Prairie Power, Inc.', None, None, None),
 ('PUSS41EMO3E6XXNV3U28', 'Public Service Enterprise Group', 'PUBLIC SERVICE ENTERPRISE GROUP INC', '2020-01-01', 9603000000.0),
 ('549300NIHMHEL3T1QQ97', 'Rayburn Country Electric Coop., Inc.', None, None, None),
 ('PBBKGKLRK5S5C0Y4T545', 'Sempra Energy', 'SEMPRA ENERGY', '2020-01-01', 11370000000.0),
 ('549300FC3G3YU2FBZD92', 'Southern Co.', 'SOUTHERN CO', '2020-01-01', 21097000000.0),
 ('DBBJWDBO6IRU2GBUJI29', 'Southern Maryland Electric Coop.', None, None, None),
 ('549300NXXWJMFXIKNU79', 'Southwest Power Pool, Inc.', None, None, None),
 ('549300X6CK46NKF0S683', 'Startrans IO, LLC', None, None, None),
 ('549300UGKOFV2IWJJG27', 'TC Energy Corp.', 'TC ENERGY CORP', '2020-01-01', 10113195294.613033),
 ('549300VDHNFNPADSSV98', 'Tri-State Generation & Transmission Association, Inc.', 'TRI-STATE GENERATION & TRANSMISSION ASSOCIATION, INC.', '2020-01-01', 1352295000.0),
 ('DX6GCWD4Q1JO9CRE5I40', 'UGI Corp.', 'UGI CORP', '2020-01-01', 6559000000.0),
 ('8945004QAHNC2OHL6926', 'United Power, Inc.', None, None, None),
 ('549300N8FFURNHL5YM93', 'Valley Electric Association, Inc.', None, None, None),
 ('549300GNSLQRYVBRRM43', 'Vermont Electric Coop., Inc.', None, None, None),
 ('54930086XT4IMGTLYZ86', 'Vermont Electric Power Co., Inc.', None, None, None),
 ('549300FODXCTQ8DGT594', 'Verso Corp.', 'VERSO CORP', '2020-01-01', 1359000000.0),
 ('549300KP43CPCUJOOG15', 'Vistra Corp.', 'VISTRA CORP.', '2020-01-01', 11443000000.0),
 ('549300IGLYTZUK3PVP70', 'WEC Energy Group', 'WEC ENERGY GROUP, INC.', '2020-01-01', 7241700000.0),
 ('VR27ZYPWHGW7Z1BM8Y69', 'Wabash Valley Power Assn, Inc', None, None, None),
 ('549300ROWOIV5X5MB591', 'Wolverine Power Supply Coop.', None, None, None),
 ('LGJNMI9GH8XIDG5RCM61', 'Xcel Energy, Inc.', 'XCEL ENERGY INC', '2020-01-01', 11526000000.0),
 ('549300467K0TD2Z50713', 'York Haven Power Co.', None, None, None)]

In [16]:
stop!

SyntaxError: invalid syntax (<ipython-input-16-8c726f94684c>, line 1)

In [ ]:
qres = engine.execute("""
explain analyze
select R.name, R.lei, R.tname, R.fy, R.sic, revenue, cash -- , debt --, assets, market_cap
from sec_dera.fy_revenue_by_lei as R
     join sec_dera.cash_by_lei as C on R.name=C.name and R.fy=C.fy
     -- join sec_dera.debt_by_lei as D on R.name=D.name and R.fy=D.fy
     -- join sec_dera.assets_by_lei as A on R.name=A.name and R.fy=A.fy
     -- join sec_dera.float_by_lei as F on R.name=F.name and R.fy=F.fy
""")
l = qres.fetchall()

In [ ]:
qres = engine.execute("""
explain analyze
select R.name, R.lei, R.tname, R.fy, R.sic, revenue,
    -- cash,
    debt,
    -- assets,
    market_cap
from sec_dera.fy_revenue_by_lei as R
     -- join sec_dera.cash_by_lei as C on R.name=C.name and R.fy=C.fy
     join sec_dera.debt_by_lei as D on R.name=D.name and R.fy=D.fy
     -- join sec_dera.assets_by_lei as A on R.name=A.name and R.fy=A.fy
     join sec_dera.float_by_lei as F on R.name=F.name and R.fy=F.fy
""")
l = qres.fetchall()

In [ ]:
qres = engine.execute("""
create or replace view sec_dera.financials_by_lei as
select name, lei, fy, Nrevenue.ddate as r_ddate, sic,
       max(Nrevenue.value) as revenue,
       max(Ncash.value) as cash,
       max(Ndebt.value) as debt,
       max(Nassets.value) as assets,
       max(Nfloat.value) as market_cap
       -- max(Nfloat.value)+max(Ndebt.value)-max(Ncash.value) as ev,
       -- max(Nfloat.value)+max(Ndebt.value) as evic
from sec_dera.sub as S
      join sec_dera.num as Nrevenue on S.adsh=Nrevenue.adsh
            and Nrevenue.qtrs=4
            and Nrevenue.ddate>=S.fy and date_add('year', 1, S.fy)>Nrevenue.ddate
      join sec_dera.num as Nassets on S.adsh=Nassets.adsh and Nassets.ddate=Nrevenue.ddate
      join sec_dera.num as Ndebt on S.adsh=Ndebt.adsh and Ndebt.ddate=Nrevenue.ddate
      join sec_dera.num as Ncash on S.adsh=Ncash.adsh and Ncash.ddate=Nrevenue.ddate
      join sec_dera.num as Nfloat on S.adsh=Nfloat.adsh
where S.fp='FY' and (S.form='10-K' or S.form='20-F')
      -- and S.lei='I1BZKREC126H0VB1BL91'
and Nrevenue.coreg is NULL
and Nrevenue.uom='USD'
and (Nrevenue.tag='Revenues'
     or Nrevenue.tag='RevenueFromContractWithCustomerIncludingAssessedTax'
     or Nrevenue.tag='RevenueFromContractWithCustomerExcludingAssessedTax'
     or Nrevenue.tag='RevenuesNetOfInterestExpense'
     or Nrevenue.tag='RegulatedAndUnregulatedOperatingRevenue'
     or Nrevenue.tag='RegulatedOperatingRevenuePipelines')
and Nfloat.qtrs=0 and Nfloat.ddate>=fy and date_add('year', 1, fy)>Nfloat.ddate
and Nfloat.coreg is NULL
and Nfloat.uom='USD'
and (Nfloat.tag='EntityPublicFloat'
     or Nfloat.tag='EntitysPublicFloat'
     or Nfloat.tag='FreeFloat'
     or Nfloat.tag='PublicFloat'
     or Nfloat.tag='PublicFloatValue')
and Ncash.qtrs=0
and Ncash.coreg is NULL
and Ncash.uom='USD'
and (Ncash.tag='CashAndCashEquivalentsAtCarryingValue'
     or Ncash.tag='Cash'
     or Ncash.tag='CashEquivalentsAtCarryingValue'
     or Ncash.tag='CashAndCashEquivalents')
and Ndebt.qtrs=0
and Ndebt.coreg is NULL
and Ndebt.uom='USD'
and (Ndebt.tag='LongTermDebt'
     or Ndebt.tag='LongTermDebtFairValue'
     or Ndebt.tag='LongTermDebtAndCapitalLeaseObligations'
     or Ndebt.tag='DebtLongtermAndShorttermCombinedAmount'
     or Ndebt.tag='SecuredDebt'
     or Ndebt.tag='UnsecuredDebt'
     or Ndebt.tag='SubordinatedDebt'
     or Ndebt.tag='ConvertibleDebt')
and Nassets.qtrs=0
and Nassets.coreg is NULL
and Nassets.uom='USD'
and Nassets.tag='Assets'
group by name, lei, fy, Nrevenue.ddate, sic
""")
display(qres.fetchall())

qres = engine.execute("""
select * from sec_dera.financials_by_lei
""")
l = qres.fetchall()

print(len(l))

In [ ]:
columns = [x[0] for x in engine.execute("describe sec_dera.financials_by_lei").fetchall()]

In [ ]:
df = pd.DataFrame(data=l, columns=columns)

In [ ]:
df

In [ ]:
df = df.convert_dtypes()

drop_unmanaged_table("osc_datacommons_dev", "sec_dera", "corp_data_df", engine, trino_bucket, verbose=True)

drop_unmanaged_data("sec_dera", "corp_data_df", trino_bucket, verbose=True)

ingest_unmanaged_parquet(df, "sec_dera", "corp_data_df", trino_bucket, partition_columns=[],
                         append=False, workdir='/tmp', verbose=True)

sql = unmanaged_parquet_tabledef(df, "osc_datacommons_dev", "sec_dera", "corp_data_df", trino_bucket, partition_columns = [],
                                 verbose=True)
qres = engine.execute(sql)
display(qres.fetchall())

qres = engine.execute("select * from sec_dera.corp_data_df")
l = qres.fetchall()

In [ ]:
qres = engine.execute("""
explain select * from sec_dera.financials_by_lei
""")
print(qres.fetchall()[0][0])

In [ ]:
direct_issuer_lei